﻿.clear
{
    clear:both;
    padding-top:15px;
}

.navPoliza {
    min-height: 850px;
    background: #ff6600;
}

.main-header{
    background: #ffffff;
    box-shadow: 0px 0 10px 0 #ccc;
}

.navPoliza a{
    color: #FFF;
    text-decoration:none;
}

.iconNav{
    color:#FFF;
}

.navPoliza .sidebar-menu li.header{
    background:#505050;
    color:#909090;
    font-weight:bold;
    letter-spacing:1px;
}

a.btnGeneral{
    background:#808080;
    padding:8px 20px;
    color:#FFF;
    border-radius:4px;
    text-decoration:none;
}

.status-suspended{   
    border-radius:4px;
}

p.txtUser {
    font-size: 14px;
    color: #ff6600;
    font-weight: bold;
}

.modal-header {
    background: #3F4443 !important;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    color: white;
    text-align: left !important;
}

.modal-footer {
    background: #ddd;
    border-radius: 16px;
    padding:0px;
}

.modal-content {
    border-radius:16px
}

.form-control {
    border-radius:10px;
}

.btn-primary {
    color:#fff !important;
    background-color: #001E62 !important;
    border-color: #001E62 !important;
    border-radius:9px;
}
.btn-secundario {
    color:#fff;
    background-color: #3F4443 !important;
    border-color: #3F4443 !important;
    border-radius:9px;
}
.btn-terceario {
    color:#fff;
    background-color:#737a84 !important;
    border-color:#737a84 !important;
    border-radius:9px;
}

.btn:hover {
    background-color: #5fa23e;
    border-color: #5fa23e;
}

.btn:focus {
    background-color:#44a6e6;
    border-color:#44a6e6;
}

.footable {
    border-radius:10px;
}
.btn {
    background:transparent;
}

.Posicion {
    position: relative;
    z-index: 1;
}

.btn-link {
    font-weight: bold;
    color: #001E62;
}

.loader {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url('../Imagenes/ajax-loader.gif') 50% 50% no-repeat rgb(249,249,249);
    opacity: .8;
}



#toast-container > .toast {
    background-image: none !important;
}
#toast-container > .toast:before {
    background-image: none !important;
}
#toast-container > .toast:before {
    position: fixed;
    font-family: FontAwesome;
    font-size: 24px;
    line-height: 18px;
    float: left;
    color: #FFF;
    padding-right: 0.5em;
    padding-top: 0.3em;
    margin: auto 0.5em auto -1.5em;
}
#toast-container div{
    font-size: 17px;
}

#toast-container > .toast-error:before {
    content: "\f00d" !important;
}
#toast-container > .toast-success:before {
    content: "\f058" !important;
}
/*#toast-container > .toast-warning:before {
    content: "\f12a" !important;
}*/
#toast-container > .toast-info:before {
    content: "\f129" !important;
}