﻿.punto_verde_tracking{
    background: rgba(95,162,62,1);
background: -moz-radial-gradient(center, ellipse cover, rgba(95,162,62,1) 0%, rgba(95,162,62,1) 21%, rgba(239,239,239,1) 48%, rgba(239,239,239,1) 100%);
background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(95,162,62,1)), color-stop(21%, rgba(95,162,62,1)), color-stop(48%, rgba(239,239,239,1)), color-stop(100%, rgba(239,239,239,1)));
background: -webkit-radial-gradient(center, ellipse cover, rgba(95,162,62,1) 0%, rgba(95,162,62,1) 21%, rgba(239,239,239,1) 48%, rgba(239,239,239,1) 100%);
background: -o-radial-gradient(center, ellipse cover, rgba(95,162,62,1) 0%, rgba(95,162,62,1) 21%, rgba(239,239,239,1) 48%, rgba(239,239,239,1) 100%);
background: -ms-radial-gradient(center, ellipse cover, rgba(95,162,62,1) 0%, rgba(95,162,62,1) 21%, rgba(239,239,239,1) 48%, rgba(239,239,239,1) 100%);
background: radial-gradient(ellipse at center, rgba(95,162,62,1) 0%, rgba(95,162,62,1) 21%, rgba(239,239,239,1) 48%, rgba(239,239,239,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5fa23e', endColorstr='#efefef', GradientType=1 );
    width: 12px;
    height: 12px;
    display: inline-block;
    margin-right: 5px;
}

.btn_ok{
    background-color: #52949e !important;
    border-color: #52949e !important;
    border-radius: 9px;
    padding: 5px;
    color: #fff;
}

.btn_cancel{
    color: #fff;
    background-color: #ff6600 !important;
    border-color: #ff6600 !important;
    border-radius: 9px;
    padding: 5px;
}

.btn_success_i{
    border: 2px solid #2c832c !important;
    border-radius: 10px !important;
    margin: 0 3px;
}
.btn_success_i:hover{
    background-color: #2c832c !important;
    border-color: #2c832c !important;
    color: rgb(255, 255, 255) !important;
}
.btn_danger_i{
    border: 2px solid #bb0009 !important;
    border-radius: 10px !important;
    margin: 0 3px;
}
.btn_danger_i:hover{
    background-color: #bb0009 !important;
    border-color: #bb0009 !important;
    color: rgb(255, 255, 255) !important;
}
.btn_edit{
    border: 2px solid #001E62 !important;
    border-radius: 10px !important;
    margin: 0 3px;
}
.btn_edit:hover{
    background-color: #001E62 !important;
    border-color: #001E62 !important;
    color: rgb(255, 255, 255) !important;
}

.color_primario{
    color: #001E62 !important;
}
.color_secundario{
    color: #78a0d1 !important;
}

.fondo_blanco{
    background-color: #FFF !important;
}
.fondo_gris{
    background-color: #f5f5f5 !important;
}


.fondo_primario{
    background-color: #ff6600 !important;
}
.fondo_secundario{
    background-color: #78a0d1 !important;
}

table tbody tr:nth-child(odd){
    background-color: #efefef;
}
table tbody tr:nth-child(even){
    background-color: #e4e4e4;
}
table thead tr th{
    vertical-align: middle !important;
}

.error_alert_form_modal{
    border: dashed 1px red;
    background-color: rgba(255, 0, 0, 0.25);
    text-align: center;
    vertical-align: middle;
    width: 100% !important;
    color: rgba(0, 0, 0, 0.7);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin: 0px;
    padding: auto;
    display: none;
    margin-top: -10px;
    margin-bottom:10px;
}