﻿
@{
    ViewBag.Title = "IndexAdmin";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<link href="~/CSS/JqGrid/ui.jqgrid.css" rel="stylesheet" />
<link href="~/CSS/JqGrid/ui.jqgrid-bootstrap.css" rel="stylesheet" />
<link href="~/CSS/jQuery/jquery-ui.css" rel="stylesheet" />

<link href="~/CSS/AdminLTE.css" rel="stylesheet" />
<link href="~/CSS/AdminLTE.min.css" rel="stylesheet" />
<link href="~/CSS/BootStrap/css/bootstrap.css" rel="stylesheet" />
<link href="~/CSS/JqGrid/jquery-ui-timepicker-addon.css" rel="stylesheet" />
<link href="~/CSS/EstilosPolizas.css" rel="stylesheet" />

@*PopupGuardaCertificado*@
@if (ViewData["MensajeError"] != null)
{
    <script>
            alert('@ViewData["MensajeError"].ToString()');
    </script>
}

<div class="modal fade" id="PopupGuardaCertificado" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="H1"><span class="fa fa-key iconNav" style="color:#1d1c1c"></span> Registrar Certificado</h4>
            </div>
            <br />
            @using (Html.BeginForm("GuardaCertificado", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                @Html.AntiForgeryToken()
                <div class="container container-fluid">
                    <div class="col-xs-2 col-md-3 col-lg-12 row">
                        <div class="col-xs-2 col-md-3 col-lg-3">
                            Seleccione Certificado:
                        </div>
                        <div class="col-xs-2 col-md-3 col-lg-3">
                            <input type="file" name="flCertificadoAseguradora">
                        </div>
                    </div>
                    <br><br>
                    <div class="col-xs-2 col-md-3 col-lg-12 row">
                        <div class="col-xs-2 col-md-3 col-lg-3">
                            Contraseña Certificado:
                        </div>
                        <div class="col-xs-2 col-md-3 col-lg-3">
                            <input type="password" name="txtPassword" readonly="readonly" onfocus="this.removeAttribute('readonly');" class="form-control">
                        </div>
                    </div>
                    <br><br>
                    <div class="col-xs-2 col-md-3 col-lg-12 row">
                        <div class="col-xs-2 col-md-3 col-lg-3">
                            RUC Compañia:
                        </div>
                        <div class="col-xs-2 col-md-3 col-lg-3">
                            <input type="text" name="txtRuc" Onkeypress="return validaNumero(event);" class="form-control">
                        </div>
                    </div>
                    <br><br>
                </div>
                <br /><br />
                <div class="container container-fluid">
                    <div class="col-xs-2 col-md-3 col-lg-12 row">
                        <div class="col-xs-2 col-md-3 col-lg-3 text-red">
                            * No Ingrese Carácteres Especiales
                        </div>
                    </div>
                </div>
                <div>
                    <div class="panel-body">
                        <div class="panel2">
                            <div class="row">
                                <button type="submit" class="btn btn-primary  col-lg-offset-8">Guardar Certificado</button>
                                <button type="button" class="btn btn-primary" data-dismiss="modal">Cerrar</button>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
@*PopupGuardaCertificado*@

@*PopupGuardaSMTP*@
<div class="modal fade" id="PopupGuardaSMTP" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="H1"><span class="fa fa-key iconNav" style="color:#1d1c1c"></span> Registrar Certificado</h4>
            </div>
            <br />
            @using (Html.BeginForm("GuardaSMTP", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                @Html.AntiForgeryToken()
                <div class="container container-fluid">
                    <div class="col-xs-2 col-md-3 col-lg-12 row">
                        <div class="col-xs-2 col-md-3 col-lg-3">
                            Seleccione Compañía:
                        </div>
                        <div class="col-xs-2 col-md-3 col-lg-3">
                            <select name="cmbCompania" id="cmbCompania" onchange="consultaSmtp()" class="form-control col-xs-12 input-sm">
                                <option value="">Seleccione Compañía</option>
                                @foreach (var item in ViewData["CmbAseguradora"] as IEnumerable<SelectListItem>)
                                {
                                    <option value="@item.Value">@item.Text</option>
                                }
                            </select>
                        </div>
                    </div>
                    <br><br>
                    <div class="col-xs-2 col-md-3 col-lg-12 row">
                        <div class="col-xs-2 col-md-3 col-lg-3">
                            Host Servidor:
                        </div>
                        <div class="col-xs-2 col-md-3 col-lg-3">
                            <input type="text" name="txtHost" id="txtHost" class="form-control">
                        </div>
                    </div>
                    <br><br>
                    <div class="col-xs-2 col-md-3 col-lg-12 row">
                        <div class="col-xs-2 col-md-3 col-lg-3">
                            Puerto:
                        </div>
                        <div class="col-xs-2 col-md-3 col-lg-3">
                            <input type="text" name="txtPuerto" id="txtPuerto" Onkeypress="return validaNumero(event);" class="form-control">
                        </div>
                    </div>
                    <br><br>
                    <div class="col-xs-2 col-md-3 col-lg-12 row">
                        <div class="col-xs-2 col-md-3 col-lg-3">
                            Enable SSL:
                        </div>
                        <div class="col-xs-2 col-md-3 col-lg-3">
                            <select name="cmbSSL" id="cmbSSL" class="form-control col-xs-12 input-sm">
                                <option value="True">True</option>
                                <option value="False">False</option>
                            </select>
                        </div>
                    </div>
                    <br><br>
                    <div class="col-xs-2 col-md-3 col-lg-12 row">
                        <div class="col-xs-2 col-md-3 col-lg-3">
                            Email Credencial:
                        </div>
                        <div class="col-xs-2 col-md-3 col-lg-3">
                            <input type="text" name="txtEmailCredencial" id="txtEmailCredencial" class="form-control">
                        </div>
                    </div>
                    <br><br>
                    <div class="col-xs-2 col-md-3 col-lg-12 row">
                        <div class="col-xs-2 col-md-3 col-lg-3">
                            Password Credencial:
                        </div>
                        <div class="col-xs-2 col-md-3 col-lg-3">
                            <input type="password" name="txtPassword" id="txtPassword" readonly="readonly" onfocus="this.removeAttribute('readonly');" class="form-control">
                        </div>
                    </div>
                    <br><br>
                    <div class="col-xs-2 col-md-3 col-lg-12 row">
                        <div class="col-xs-2 col-md-3 col-lg-3">
                            Email Adress From:
                        </div>
                        <div class="col-xs-2 col-md-3 col-lg-3">
                            <input type="text" name="txtEmailAdressFrom" id="txtEmailAdressFrom" class="form-control">
                        </div>
                    </div>
                    <br><br>
                    <div class="col-xs-2 col-md-3 col-lg-12 row">
                        <div class="col-xs-2 col-md-3 col-lg-3">
                            To:
                        </div>
                        <div class="col-xs-2 col-md-3 col-lg-3">
                            <input type="text" name="txtTo" id="txtTo" class="form-control">
                        </div>
                    </div>
                    <br><br>
                    <div class="col-xs-2 col-md-3 col-lg-12 row">
                        <div class="col-xs-2 col-md-3 col-lg-3">
                            CC:
                        </div>
                        <div class="col-xs-2 col-md-3 col-lg-3">
                            <input type="text" name="txtCC" id="txtCC" class="form-control">
                        </div>
                    </div>
                    <br><br>
                    <div class="col-xs-2 col-md-3 col-lg-12 row">
                        <div class="col-xs-2 col-md-3 col-lg-3">
                            Asunto:
                        </div>
                        <div class="col-xs-2 col-md-3 col-lg-3">
                            <input type="text" name="txtAsunto" id="txtAsunto" class="form-control">
                        </div>
                    </div>
                    <br>
                </div>
                <br />
                <div>
                    <div class="panel-body">
                        <div class="panel2">
                            <div class="row">
                                <button type="submit" class="btn btn-primary  col-lg-offset-8">Guardar SMTP</button>
                                <button type="button" class="btn btn-primary" data-dismiss="modal">Cerrar</button>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
@*PopupGuardaSMTP*@

@*PopupGuardaCompania*@
<div class="modal fade" id="PopupGuardaCompania" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="H1"><span class="fa fa-key iconNav" style="color:#1d1c1c"></span> Registrar Certificado</h4>
            </div>
            <br />
            @using (Html.BeginForm("GuardaCompania", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                @Html.AntiForgeryToken()
                <div class="container container-fluid">
                    <div class="col-xs-2 col-md-3 col-lg-12 row">
                        <div class="col-xs-2 col-md-3 col-lg-3">
                            Código Constitución:
                        </div>
                        <div class="col-xs-2 col-md-3 col-lg-3">
                            <input type="text" name="txtCodigo" id="txtCodigo" placeholder="Código Constitución"  Onkeypress="return validaNumero(event);" class="form-control">
                        </div>
                    </div>
                    <br><br>
                    <div class="col-xs-2 col-md-3 col-lg-12 row">
                        <div class="col-xs-2 col-md-3 col-lg-3">
                            RUC:
                        </div>
                        <div class="col-xs-2 col-md-3 col-lg-3">
                            <input type="text" name="txtRUC" id="txtRUC" placeholder="RUC"  Onkeypress="return validaNumero(event);" class="form-control">
                        </div>
                    </div>
                    <br><br>
                    <div class="col-xs-2 col-md-3 col-lg-12 row">
                        <div class="col-xs-2 col-md-3 col-lg-3">
                            Nombre Comercial:
                        </div>
                        <div class="col-xs-2 col-md-3 col-lg-3">
                            <input type="text" name="txtNombreComercial" id="txtNombreComercial" placeholder="Nombre Comercial" class="form-control">
                        </div>
                    </div>
                    <br><br>
                    <div class="col-xs-2 col-md-3 col-lg-12 row">
                        <div class="col-xs-2 col-md-3 col-lg-3">
                            Razón Social:
                        </div>
                        <div class="col-xs-2 col-md-3 col-lg-3">
                            <input type="text" name="txtRazonSocial" id="txtRazonSocial" placeholder="Razón Social" class="form-control">
                        </div>
                    </div>
                    <br><br>
                    <div class="col-xs-2 col-md-3 col-lg-12 row">
                        <div class="col-xs-2 col-md-3 col-lg-3">
                            Dirección:
                        </div>
                        <div class="col-xs-2 col-md-3 col-lg-3">
                            <input type="text" name="txtDireccion" id="txtDireccion" placeholder="Direccion" class="form-control">
                        </div>
                    </div>
                    <br><br>
                    <div class="col-xs-2 col-md-3 col-lg-12 row">
                        <div class="col-xs-2 col-md-3 col-lg-3">
                            Estado:
                        </div>
                        <div class="col-xs-2 col-md-3 col-lg-3">
                            <select name="cmbActivo" id="cmbActivo" class="form-control col-xs-12 input-sm">
                                <option value="A">Activo</option>
                                <option value="I">Inactivo</option>
                            </select>
                        </div>
                    </div>
                    <br><br>
                    <div class="col-xs-2 col-md-3 col-lg-12 row">
                        <div class="col-xs-2 col-md-3 col-lg-3">
                            Email:
                        </div>
                        <div class="col-xs-2 col-md-3 col-lg-3">
                            <input type="text" name="txtEmail" id="txtEmail"  placeholder="Email" class="form-control">
                        </div>
                    </div>
                    <div class="col-xs-2 col-md-3 col-lg-12 row">
                        <div class="col-xs-2 col-md-3 col-lg-3">
                            Password:
                        </div>
                        <div class="col-xs-2 col-md-3 col-lg-3">
                            <input type="password" name="txtPasswordAseg" id="txtPasswordAseg" readonly="readonly" onfocus="this.removeAttribute('readonly');" class="form-control">
                        </div>
                    </div>
                    <br>
                </div>
                <br />
                <div>
                    <div class="panel-body">
                        <div class="panel2">
                            <div class="row">
                                <button type="submit" class="btn btn-primary  col-lg-offset-8">Guardar Compañia</button>
                                <button type="button" class="btn btn-primary" data-dismiss="modal">Cerrar</button>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
@*PopupGuardaCompania*@


<script src="~/scripts/jQuery/jquery.js"></script>
<script src="~/scripts/jQuery/jquery-ui.js"></script>
<script src="~/scripts/jQGrid/jquery.jqGrid.js"></script>
<script src="~/scripts/Validaciones.js"></script>
<script src="~/scripts/BootStrap/bootstrap.js"></script>
<script src="~/scripts/BootStrap/bootstrap.min.js"></script>
<script src="~/scripts/jQGrid/grid.locale-en.js"></script>
