﻿@model PolizasElectronicas.Models.Models.JqGridListViewModel

<link href="~/CSS/Footable/footable.core.css" rel="stylesheet" />
<link href="~/CSS/Footable/footable.metro.css" rel="stylesheet" />
<link href="~/CSS/Footable/bootstrap-glyphicons.css" rel="stylesheet" />
<link href="~/CSS/Footable/footable-demos.css" rel="stylesheet" />

@*Tablas Responsive*@
<script src="~/scripts/FooTable/footable.js"></script>
<script src="~/scripts/FooTable/demos.js"></script>
<script src="~/scripts/FooTable/footable.filter.js"></script>
<script src="~/scripts/FooTable/footable.paginate.js"></script>
<script src="~/scripts/FooTable/bootstrap-tab.js"></script>

<style>
    th{
        vertical-align: middle !important;
        vertical-align: central;
    }
    #demo0{
        width: 100% !important;
    }
    body{
        padding-right: 0px;
    }
</style>

<div id="demo0">
    <table class="table demo" data-page-size="9" data-filter="#filter" data-filter-text-only="true">
        <!--<thead>-->
        <thead>
            <tr>
                <th style="text-align:center" data-hide="phone,tablet">Ramo</th>
                <th style="text-align:center">N° Documento Electronico</th>
                <th style="text-align:center">N° Póliza</th>
                <th style="text-align:center" data-hide="phone,tablet">N° endoso</th>
                <th style="text-align:center" data-hide="phone,tablet">Tipo endoso</th>
                <th style="text-align:center" data-hide="phone,tablet">Fecha</th>
                <th style="text-align:center" data-hide="phone,tablet">Valor prima total</th>
                <th style="text-align:center" data-hide="phone,tablet">Estado</th>
                <!--<th style="text-align:center" data-hide="phone,tablet">Número de firmas</th>-->
                @*<th style="text-align:center" data-hide="phone,tablet">Estado</th>*@
                <th style="text-align:center" data-hide="phone,tablet">Firmar</th>
                @*<th style="text-align:center">Detalle Error</th>*@
                <th style="text-align:center" data-hide="phone,tablet"><b>Ver detalles</b></th>
                <th style="text-align:center">Descargar póliza</th>
                <!--<th style="text-align:center">Ver Tracking</th>-->
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.objListJqGridModels)
            {
                
                <tr>
                    <td style="text-align:center">@item.Ramo</td>
                    <td style="text-align:center">@item.numFactura</td>
                    <td style="text-align:center">@item.numPoliza</td>
                    <td style="text-align:center">@item.numEndoso</td>
                    <td style="text-align:center">@item.TipoPoliza</td>
                    <td style="text-align:center">@item.FechaEmisionPoliza</td>
                    <td style="text-align:center">$@item.Valor</td>
                    <td style="text-align:center;"> @item.EstadoPoliza </td>
                    <!--<td style="text-align:center">@item.NumeroFirma</td>-->
                    @if (@item.IdEstado != "CON" && @item.IdEstado != "FAC" && @item.tipoUsuario != "E")
                    {
                        @*<td style="text-align:center"><span class="status-metro status-suspended"> @item.EstadoPoliza</span> </td>*@
                        <td style="text-align:center">
                            <button id="idFirmar" onclick="popup('#popupFirma', @item.IdPoliza, '@item.idPolizaPdf')" class="btn btn-primary" style="background-color: #52949e !important; border-color: #52949e !important;">Firmar Póliza</button>
                        </td>
                    }
                    else
                    {
                        <td style="text-align:center">
                        </td>
                    }
                    @*else if (@item.IdEstado != "CON" && @item.IdEstado != "FAC" && @item.tipoUsuario != "F")
                    {
                        <td style="text-align:center"><span class="status-metro status-suspended"> @item.EstadoPoliza</span> </td>
                    }
                    else
                    {
                        <td style="text-align:center">@item.EstadoPoliza</td>
                                                    <td style="text-align:center"></td>
                    }*@
                    @*@if (item.NumeroFirma > 1 && item.IdEstado != "CON")
                        {
                            <td style="text-align:center">
                                <a class="btn btn-primary" onclick="popupErrorFirma('#popupError')">
                                    <img style="height:30px;" src="~/Imagenes/AlertIco.png" />
                                </a>
                            </td>
                        }
                        else
                        {
                            <td style="text-align:center"></td>
                        }*@
                    <td style="text-align:center">
                        <button class="btn btn-primary" style="    background-color: #747a84 !important; border-color: #747a84 !important;"
                                onclick="LlenaPopup('@item.Asegurado','@item.Dirección','@item.Teléfono','@item.Ramo','@item.Valor','@item.FechaInicia','@item.FechaVence','@item.numPoliza','@item.idRamo','@item.Endoso')">
                            Ver Detalles
                        </button>
                    </td>

                    <td style="text-align:center">
                        <!--@using (Html.BeginForm("DescargarPDFFirmadoPoliza", System.Configuration.ConfigurationManager.AppSettings["ControladorLogin"], FormMethod.Post, new { enctype = "multipart/form-data" }))
                        {
                            <input type="hidden" name="txNombre" value="@item.idPolizaPdf" />
                            <input type="hidden" name="txEstado" value="@item.IdEstado" />
                            <button type="submit" class="btn btn-primary" style="visibility:hidden">
                                <span class="glyphicon glyphicon-download-alt"></span> Descargar
                            </button>
                        }-->
                        <button type="button" class="btn btn-primary" onclick="LlenaPopupPDF('@item.idPolizaPdf')">
                            <span class="glyphicon glyphicon-download-alt"></span> <!--Descargar-->
                        </button>
                    </td>
                    <!--<td style="text-align:center">
                        <button class="btn btn-primary" onclick="LlenarTracking('@item.fechaCreacion','@item.fechaFirmaAseguradora','@item.fechaCreacionToken','@item.fechaEnvioEmail','@item.fechaFirmaCliente','@item.fechaEnvioSuperCia','@item.fechaAceptadoSuperCia', '@item.numPoliza')">
                            Ver
                        </button>
                    </td>-->
                </tr>
            }
        </tbody>
        <tfoot class="hide-if-no-paging">
            <tr>
                <td colspan="12">
                    <center class="hide-if-no-paging">
                        <div class="pagination pagination-centered"></div>
                    </center>
                </td>
            </tr>
        </tfoot>
    </table>
</div>

@using (Html.BeginForm("DescargarPDFFirmadoPoliza", System.Configuration.ConfigurationManager.AppSettings["ControladorLogin"], FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <input type="hidden" name="txNombre" value="" id="nombrePDF" />
    <input type="hidden" name="txEstado" value="" id="estadoPDF" />
    <button type="submit" class="btn btn-primary" style="visibility:hidden" id="botonPDF">
        <span class="glyphicon glyphicon-download-alt"></span> Descargar
    </button>
}


<script type="text/javascript">
    $(function () {
        //Para DropDownL
    $('table').footable().bind('footable_filtering', function (e) {
        var selected = $('.filter-documents').find(':selected').text();
        if (selected && selected.length > 0 && selected != "Pólizas Electronicas" && selected != "Seleccione tipo estado póliza") {
        e.filter += (e.filter && e.filter.length > 0) ? ' ' + selected : selected;
        e.clear = !e.filter;
      }
    });
    $('.clear-filter').click(function (e) {
      e.preventDefault();
      $('.filter-documents').val('');
      $('table.demo').trigger('footable_clear_filter');
    });

    $('.filter-documents').change(function (e) {
        e.preventDefault();
        $('table.demo').trigger('footable_filter', { filter: $('#filter').val() });
    });
  });
</script>

<script type="text/javascript">
    $(function () {
		$('table').footable();

		$('#change-page-size').change(function (e) {
			e.preventDefault();
			var pageSize = $(this).val();
			$('.footable').data('page-size', pageSize);
			$('.footable').trigger('footable_initialized');
		});

		$('.footable').data('limit-navigation', 15);
		$('.footable').trigger('footable_initialized');
    });
</script>


<script>
    $(document).ready(function () {
        /*$("table tfoot tr td center div ul li a").on("click", function () {
            console.log($(this).html());
            menuSeleccionado = $(this).html();
        });*/
        $("table tfoot").on("click", function () {
            /*console.log("cambio");
            console.log($(".footable-page.active a").html());*/
            //menuSeleccionado = $(".footable-page.active a").html();
            menuSeleccionado = $(".footable-page.active a").attr("data-page");
        });
    });
</script>