﻿
@model PolizasElectronicas.Models.Models.JqGridListViewModel

@*Tablas Responsive*@

<link href="~/CSS/Footable/footable.core.css" rel="stylesheet" />
<link href="~/CSS/Footable/footable.metro.css" rel="stylesheet" />
<link href="~/CSS/Footable/bootstrap-glyphicons.css" rel="stylesheet" />
<link href="~/CSS/Footable/footable-demos.css" rel="stylesheet" />

<script src="~/scripts/FooTable/footable.js"></script>
<script src="~/scripts/FooTable/footable.paginate.js"></script>
<script src="~/scripts/FooTable/bootstrap-tab.js"></script>
<script src="~/scripts/FooTable/demos.js"></script>
<script src="~/scripts/FooTable/footable.filter.js"></script>

<br />
    <table class="table demo " data-page-size="10" data-filter="#filter" data-filter-text-only="true">
        <thead>
            <tr>
                <th style="text-align:center"><b>Ramo</b></th>
                <th style="text-align:center" data-hide="phone,tablet"><b>Cliente</b></th>
                <th style="text-align:center" data-hide="phone,tablet"><b>N° Póliza</b></th>
                <th style="text-align:center" data-hide="phone,tablet"><b>Endoso</b></th>
                <th style="text-align:center" data-hide="phone,tablet"><b>Nº Factura</b></th>
                <th style="text-align:center" data-hide="phone,tablet"><b>Fecha emisión</b></th>
                <th style="text-align:center" data-hide="phone,tablet"><b>Estado</b></th>
                <th style="text-align:center" data-hide="phone,tablet">
                    <p><b>Notif.</b></p>
                    <input type="checkbox" class="marcarTodos" />
                </th>
                <th style="text-align:center"><b>Descargar XML</b></th>
                @*<th style="text-align:center"><b>Descargar Factura</b></th>
                <th style="text-align:center"><b>Descargar Póliza</b></th>*@
                <th style="text-align:center"><b>Firmar</b></th>
                <th style="text-align:center"><b>Ver error</b></th>
                <th style="text-align:center"><b>Ver Tracking</b></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.objListJqGridModels)
            {
                <tr>
                    <td>@item.Ramo</td>
                    <td>@item.IdCliente</td>
                    <td>@item.numPoliza</td>
                    <td>@item.Endoso</td>
                    <td>@item.numFactura</td>
                    
                    <td style="text-align:center">@item.FechaEmisionPoliza</td>
                    @if (@item.IdEstado == "ERE" || @item.IdEstado == "ECON" || @item.IdEstado == "P")
                    {
                        <td style="text-align:center"><span class="status-metro status-suspended"> @item.EstadoPoliza</span></td>
                    }
                    else
                    {
                        <td style="text-align:center;"> @item.EstadoPoliza </td >
                    }
                    <td><center>
                        @if (@item.IdEstado == "FA")
                        {
                            <input type="checkbox" value="@item.mail,@item.IdPoliza" name="chkOpciones" style="align-content:center" class="checkbox" />
                        }
                    </center></td>
                    @if (@item.IdEstado == "CON")
                    {
                        <td style="text-align:center">
                            @using (Html.BeginForm("DescargaXML", "UsurioEcuaSuiza", FormMethod.Post, new { enctype = "multipart/form-data" }))
                            {
                                <input type="hidden" name="txtParamteros" value="@item.numPoliza|@item.idRamo|@item.Endoso|@item.Aseguradora" />
                                <button class="btn">
                                    <img style="height:30px;" src="~/Imagenes/xml.png" />
                                </button>
                            }
                        </td>
                    }
                    else
                    {
                        <td style = "text-align:center;" ></td>
                    }

                    @*  Inicio Boton para la descarga del RIPE  *@
                    @*<td style="text-align:center">
                        @using (Html.BeginForm("DescargaPdfRipePoliza", System.Configuration.ConfigurationManager.AppSettings["ControladorLogin"], FormMethod.Post, new { enctype = "multipart/form-data" }))
                        {
                            <input type="hidden" name="txtParamterosDescargaPdf" value="@item.numPoliza|@item.idRamo|@item.Endoso|@item.Aseguradora" />
                            <button type="button" class="btn btn-primary" id="id_btnDescargaRipePoliza" name="btnDescargaRipePoliza">
                                <span class="glyphicon glyphicon-download-alt"></span> Descargar
                            </button>
                        @}
                    </td>*@

                    @* Fin Boton para la descarga del RIPE  *@

                    @* Inicio Boton para la descarga del Contrato*@
                    @*<td style="text-align:center">
                       @using (Html.BeginForm("DescargarContratoPoliza", System.Configuration.ConfigurationManager.AppSettings["ControladorLogin"], FormMethod.Post, new { enctype = "multipart/form-data" }))
                        {
                            <input type="hidden" name="txtIdAseguradora" value="@item.Aseguradora" />
                            <input type="hidden" name="txtNumPoliza" value="@item.numPoliza" />
                            <input type="hidden" name="txtCodRamoAseguradora" value="@item.CodigoRamoAseguradora"/>
                            <input type="hidden" name="txtIdCliente" value="@item.IdCliente" />
                            <input type="hidden" name="txtIdentCliente" value="@item.Identificacion" />
                            <input type="hidden" name="txtEndoso" value="@item.Endoso"/>
                            <input type="hidden" name="txtRenovacion" value="@item.Renovacion" />
                            <input type="hidden" name="txtVistaRetorno" value="@System.Configuration.ConfigurationManager.AppSettings["AccionLoginAseguradora"]" />
                            <button type="submit" class="btn btn-primary" id="id_btnDescargaContrato" name="btnDescargaContrato">
                                <span class="glyphicon glyphicon-download-alt"></span> Descargar
                            </button>
                        }
                    </td>*@
                    @* Fin Boton para la descarga del Contrato*@


                    @if (@item.IdEstado == "P")
                    {
                        <td style="text-align:center">
                            <button class="btn" onclick="FirmaAseguradora(@item.IdPoliza)">
                                <img style="height:30px;" src="~/Imagenes/firmaElectronicaF.png" />
                            </button>
                        </td>
                    }
                    else
                    {
                        <td style = "text-align:center;" ></td >
                    }

                    @if (@item.IdEstado == "ERE" || @item.IdEstado == "ECON" || @item.IdEstado == "P")
                    {
                        <td style="text-align:center">
                            <a class="btn" onclick="popupError('#popupError', '@item.numPoliza-@item.TipoPoliza-@item.Aseguradora-@item.Identificacion')">
                                <img style="height:30px;" src="~/Imagenes/AlertIco.png" />
                            </a>
                        </td>
                    }
                    else
                    {
                        <td style = "text-align:center;"></td >
                    }
                    <td style="text-align:center">
                        @*<button class="btn btn-primary" onclick="LlenarTracking('@item.fechaCreacion','@item.fechaFirmaAseguradora','@item.fechaCreacionToken','@item.fechaEnvioEmail','@item.fechaFirmaCliente','@item.fechaEnvioSuperCia','@item.fechaAceptadoSuperCia', '@item.numPoliza', '@item.tokenFirmaUsuarioFirmante')">*@
                        <button class="btn btn-primary" onclick="LlenarTracking('@item.fechaCreacion','@item.fechaFirmaAseguradora','@item.fechaCreacionToken','@item.fechaFirmaCliente','@item.fechaAceptadoSuperCia', '@item.numPoliza', '@item.fechaRegistroUsuarioFirmante', '@item.fechaAprobacionUsuarioFirmante', '@item.fechaSmsVerificacionUsuarioFirmante', '@item.fechaActivacionCuentaUsuarioFirmante', '@item.fechaUltimoLoginUsuarioFirmante', '@item.tokenFirmaUsuarioFirmante', '@item.IpFirmaUsuarioFirmante', '@item.navegadorUsuarioFirmante', '@item.movilUsuarioFirmante', '@item.fechaPrimeraDescargaPDF', '@item.fechaUltimaDescargaPDF')">
                            Ver
                        </button>
                    </td>
                </tr>
            }
        </tbody>
        <tfoot class="hide-if-no-paging">
            <tr>
                <td colspan="13">
                    <center class="hide-if-no-paging">
                        <div class="pagination pagination-centered"></div>
                    </center>
                </td>
            </tr>
        </tfoot>
    </table>

<script type="text/javascript">
    $(function () {
        //Para DropDownL
        $('table').footable().bind('footable_filtering', function (e) {
            var selected = $('.filter-status').find(':selected').text();
            if (selected && selected.length > 0 && selected != "Seleccione tipo estado póliza") {
                e.filter += (e.filter && e.filter.length > 0) ? ' ' + selected : selected;
                e.clear = !e.filter;
            }
        });
        $('.clear-filter').click(function (e) {
            e.preventDefault();
            $('.filter-status').val('');
            $('table.demo').trigger('footable_clear_filter');
        });

        $('.filter-status').change(function (e) {
            e.preventDefault();
            $('table.demo').trigger('footable_filter', { filter: $('#filter').val() });
        });
    });
</script>

<script type="text/javascript">
    $(function () {
		$('table').footable();

		$('#change-page-size').change(function (e) {
			e.preventDefault();
			var pageSize = $(this).val();
			$('.footable').data('page-size', pageSize);
			$('.footable').trigger('footable_initialized');
		});

		$('.footable').data('limit-navigation', 15  );
		$('.footable').trigger('footable_initialized');
    });
</script>

<script>
    /*$(".marcarTodos").on("change", function () {
        $("input[type=checkbox]").ch
    });*/
    $(".marcarTodos").on("click", function () {
        $("input[type=checkbox]").prop("checked", this.checked);
    });
</script>


<script>
    $(document).ready(function () {
        $('input').on("change", function () {
            var parametros = CadenaCheckSeleccionados('frmGrid');
            if (parametros != "") {
                //$('#btnEnviarCorreos').attr("disabled", "false");
                $('#btnEnviarCorreos').removeAttr("disabled");
            } else {
                $('#btnEnviarCorreos').attr("disabled", "true");
            }
        });
    });
</script>
