﻿@model PolizasElectronicas.Models.Models.JqGridListViewModel

<link href="~/CSS/Footable/footable.core.css" rel="stylesheet" />
<link href="~/CSS/Footable/footable.metro.css" rel="stylesheet" />
<link href="~/CSS/Footable/bootstrap-glyphicons.css" rel="stylesheet" />
<link href="~/CSS/Footable/footable-demos.css" rel="stylesheet" />

@*Tablas Responsive*@
<script src="~/scripts/FooTable/footable.js"></script>
<script src="~/scripts/FooTable/demos.js"></script>
<script src="~/scripts/FooTable/footable.filter.js"></script>
<script src="~/scripts/FooTable/footable.paginate.js"></script>
<script src="~/scripts/FooTable/bootstrap-tab.js"></script>

<div id="demo1">
    <table class="table demo" data-page-size="9">
        <thead>
        <thead>
            <tr>
                <th style="text-align:center"><b>Identificación</b></th>
                <th style="text-align:center" data-hide="phone,tablet"><b>Fecha</b></th>
                <th style="text-align:center" data-hide="phone,tablet"><b>Tipo documento</b></th>
                <th style="text-align:center" data-hide="phone,tablet"><b>Descripción</b></th>
                <th style="text-align:center" data-hide="phone,tablet"><b>Estado</b></th>
                <th style="text-align:center"><b>Firmar</b></th>
                <th style="text-align:center"><b>Descargar PDF</b></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.objListJqGridModelsOtrosD)
            {
                <tr>
                    <td style="text-align:center">@item.Identificacion</td>
                    <td style="text-align:center">@item.FechaEmisionDoc</td>
                    <td style="text-align:center">@item.TipoDoc</td>
                    <td style="text-align:center">@item.Descripcion</td>
                    @if (@item.IdEstado.Trim() == "1")
                    {
                        <td style="text-align:center"><span class="status-metro status-suspended"> @item.EstadoDoc</span> </td>
                            <td style="text-align:center">
                                <button id="idFirmar" onclick="popupOtrosDocumentos('#popupFirma', '@item.IdDocumentoE', '@item.nombreRuta')" class="btn btn-primary">Firmar Documentos</button>
                            </td>
                    }
                    else
                    {
                        <td style="text-align:center">@item.EstadoDoc</td>
                            <td style="text-align:center"></td>
                    }
                    <td style="text-align:center">
                        @using (Html.BeginForm("DescargarPDFFirmadoPoliza", "OtrosDocumentos", FormMethod.Post, new { enctype = "multipart/form-data" }))
                        {
                        <input type="hidden" name="txNombre" value="@item.nombreRuta" />
                        <input type="hidden" name="txEstado" value="@item.IdEstado" />

                        <button type="submit" class="btn btn-primary" name="btnDescargaContrato">
                            <span class="glyphicon glyphicon-download-alt"></span> Descargar PDF
                        </button>
                        }

                    </td>
                </tr>
            }
        </tbody>

        <tfoot class="hide-if-no-paging">
            <tr>
                <td colspan="12">
                    <center class="hide-if-no-paging">
                        <div class="pagination pagination-centered"></div>
                    </center>
                </td>
            </tr>
        </tfoot>
    </table>
</div>

<script type="text/javascript">
    $(function () {
        //Para DropDownL
    $('table').footable().bind('footable_filtering', function (e) {
        var selected = $('.filter-documents').find(':selected').text();
        if (selected && selected.length > 0 && selected != "Pólizas Electronicas" && selected != "Seleccione tipo estado póliza") {
        e.filter += (e.filter && e.filter.length > 0) ? ' ' + selected : selected;
        e.clear = !e.filter;
      }
    });
    $('.clear-filter').click(function (e) {
      e.preventDefault();
      $('.filter-documents').val('');
      $('table.demo').trigger('footable_clear_filter');
    });

    $('.filter-documents').change(function (e) {
        e.preventDefault();
        $('table.demo').trigger('footable_filter', { filter: $('#filter').val() });
    });
  });
</script>

<script type="text/javascript">
    $(function () {
		$('table').footable();

		$('#change-page-size').change(function (e) {
			e.preventDefault();
			var pageSize = $(this).val();
			$('.footable').data('page-size', pageSize);
			$('.footable').trigger('footable_initialized');
		});

		$('.footable').data('limit-navigation', 15);
		$('.footable').trigger('footable_initialized');
    });
</script>
