﻿<!DOCTYPE html>
<html>
<head lang="es">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin - Pólizas Electrónicas</title>

    @*<script src="~/Scripts/modernizr-2.6.2.js"></script>*@
    <link href="~/CSS/BootStrap/css/bootstrap.css" rel="stylesheet" />
    <link href="~/CSS/BootStrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/CSS/AdminLTE.css" rel="stylesheet" />
    <link href="~/CSS/AdminLTE.min.css" rel="stylesheet" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css" />
    
    <script src="~/scripts/jQuery/jquery.js"></script>
    <script src="~/scripts/Validaciones.js"></script>
</head>
<body>
    <script type="text/javascript">
    $(document).ready(function () {
        $("#ejecutaOculta").click(function () {
            $("#navbar-1").animate({
                width: "toggle"
            });
        });
    });
    </script>
    <header class="main-header">
        <!-- Logo -->
        <div class="container-fluid">
            <a href="#" class="logo">
                <!-- logo for regular state and mobile devices -->
                <span class="logo-lg">
                    <img src="~/Imagenes/ecuasuiza-logo.png" style="height:45px;">
                </span>
            </a>
            <a id="ejecutaOculta" class="sidebar-toggle" style="color:white" data-toggle="offcanvas" role="button">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
        </div>
    </header>
    <!-- Left side column. contains the logo and sidebar -->
    <nav class="navbar-default">
        <div class="container row col-lg-2 navPoliza" id="navbar-1">
            <p class='txtUser'>
                Bienvenido: Admin
            </p>
            
            <br>

            <ul class="sidebar-menu nav">
                <li style="padding-bottom:8px; padding-top:25px;">
                    <a href="javascript: LevantaPopupGeneral('#PopupGuardaCertificado')">
                        <i class="fa fa-key iconNav"></i>
                        <span>Registrar Certificado</span>
                    </a>
                </li>

                <li style="padding-bottom:8px; padding-top:8px;">
                    <a href="javascript: LevantaPopupGeneral('#PopupGuardaSMTP')">
                        <i class="fa fa-key iconNav"></i>
                        <span>Registrar SMTP</span>
                    </a>
                </li>

                <li style="padding-bottom:8px; padding-top:8px;">
                    <a href="javascript: LevantaPopupGeneral('#PopupGuardaCompania')">
                        <i class="fa fa-key iconNav"></i>
                        <span>Registrar Compañia</span>
                    </a>
                </li>

                <li style="padding-bottom:8px;">
                    <a href="/Autentificacion/CerrarSesion">
                        <i class="fa fa-sign-out iconNav"></i>
                        <span>Cerrar Sesión</span>
                    </a>
                </li>
            </ul>
            <!-- /.sidebar -->
        </div>
    </nav>
    <div class="container body-content col-lg-10">
        @RenderBody()
    </div>
</body>

</html>
