﻿<!DOCTYPE html>
<html>
<head lang="es">
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portal Cliente | Seguros Condor</title>

    @*<script src="~/Scripts/modernizr-2.6.2.js"></script>*@
    <link href="~/CSS/BootStrap/css/bootstrap.css" rel="stylesheet" />
    <link href="~/CSS/BootStrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/CSS/AdminLTE.css" rel="stylesheet" />
    <link href="~/CSS/AdminLTE.min.css" rel="stylesheet" />
    <link href="~/CSS/stilosNuevos.css" rel="stylesheet" />

    <link rel="stylesheet" href="~/CSS/overlayScrollbars/css/OverlayScrollbars.min.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css" />

    <link rel="stylesheet" href="~/fontawesome-free/css/all.min.css">

    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">

    <script src="~/scripts/jQuery/jquery.js"></script>

    <link rel="icon" type="image/png" href="~/Imagenes/logo-aseguradora-icon.png">


    <!-- ./wrapper -->
    <!-- jQuery -->
    <script src="~/scripts/jQuery/jquery.min.js"></script>
    <!-- jQuery UI 1.11.4 -->
    <script src="~/scripts/jQuery/jquery-ui.min.js"></script>
    <!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
    <script>
        $.widget.bridge('uibutton', $.ui.button)
    </script>
    <!-- AdminLTE App -->
    <script src="~/scripts/adminlte.js"></script>
    <script>
        var minutosEsperaToken = "@System.Configuration.ConfigurationManager.AppSettings["minutosEsperaToken"]";
        var segundosEsperaToken = "@System.Configuration.ConfigurationManager.AppSettings["segundosEsperaToken"]";
    </script>


    <!-- Libreria para Alertas -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>


</head>
<body id="body_clientes_principal" style="width:100% !important" class="hold-transition sidebar-mini layout-fixed">

    <div class="loader" style="display:none"></div>
    <script type="text/javascript">
    $(document).ready(function () {
        $("#ejecutaOculta").click(function () {
            $("#navbar-1").animate({
                width: "toggle"
            });
        });
    });

    </script>
    <div class="wrapper">

        <!-- Navbar -->
        <nav class="main-header navbar navbar-expand navbar-white navbar-light" style="position: sticky;top: 0; margin-bottom: 0px;">

            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" data-widget="pushmenu" href="#"><i class="fas fa-bars"></i></a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                <!-- Messages Dropdown Menu -->
                <li class="nav-item dropdown">
                    Bienvenido(a): <b>@ViewData["UsuarioLogoneado"].ToString()</b>
                </li>
            </ul>
        </nav>
        <!-- /.navbar -->
        <!-- Main Sidebar Container -->
        <aside class="main-sidebar sidebar-dark-primary elevation-4">
            <!-- Brand Logo -->
            <div id="contenedor_img_menu" style="text-align: center;">
                <a href="#" class="brand-link" style="background: #fff;">
                    <img id="img_menu_normal" src="~/Imagenes/logo-aseguradora.png" class="img-fluid img_men" style="opacity: 1; width: 80%;">
                    <img id="img_menu_icono" src="~/Imagenes/logo-aseguradora-icon.png" class="img-fluid img_men" style="opacity: 1; display: none">
                </a>
            </div>

            <!-- Sidebar -->
            <div class="sidebar">
                <!-- Sidebar Menu -->
                <nav class="mt-2">
                    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                        <li class="nav-item">
                            <a href="/Usuario/Index" class="nav-link">
                                <i class="nav-icon fas fa-file-alt"></i>
                                <p>
                                    Pólizas Electrónicas
                                </p>
                            </a>
                        </li>
                        <!--<li class="nav-item">
                            <a href="/OtrosDocumentos/Index" class="nav-link">
                                <i class="nav-icon fas fa-paste"></i>
                                <p>
                                    Otros documentos
                                </p>
                            </a>
                        </li>-->
                        <li class="nav-item">
                            <a href="javascript: popup('#popupContrasena')" class="nav-link">
                                <i class="nav-icon fas fa-key"></i>
                                <p>
                                    Cambiar contraseña
                                </p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/Autentificacion/CerrarSesion" class="nav-link">
                                <i class="nav-icon fas fa-sign-out-alt"></i>
                                <p>
                                    Cerrar sesión
                                </p>
                            </a>
                        </li>
                    </ul>
                </nav>
                <!-- /.sidebar-menu -->
            </div>
            <!-- /.sidebar -->
        </aside>

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">


            <!-- Main content -->
            <section class="content">
                <div class="container-fluid">
                    <!-- Small boxes (Stat box) -->
                    <div class="row">
                        @RenderBody()
                    </div>

                </div><!-- /.container-fluid -->
            </section>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->
        <footer class="main-footer" style="position: sticky; bottom: 0; font-size: 10px;">
            <strong>Copyright &copy; 2019 <a href="#">Seguros Condor</a>.</strong>
            All rights reserved.
            <div class="float-right d-none d-sm-inline-block">
                <b>Desarrollado por:</b> <img src="~/Imagenes/viamatica.png" style="height:20px;">
            </div>
        </footer>


    </div>


    @if (ViewData["CambiarPass"] != null)
    {
        <script>
            //alert('Debe cambiar su contraseña');
            popup('#popupContrasena');
        </script>
    }

    <script>
        function mostrarMensaje(mensaje) {
            $('#popupAlerta').modal('toggle');
            $("#div_mensaje").html(mensaje);
            $("#body_clientes_principal").css("padding-right", "0");
        }
    </script>

    @if (ViewData["MensajeError"] != null)
    {
        <script type="text/javascript">
            @*alert('@Html.Encode(ViewData["MensajeError"].ToString())');*@
            @*mostrarMensaje('@ViewData["MensajeError"]');*@
            var mensaje = '@ViewData["MensajeError"]';
            if (!(mensaje.indexOf("error") > -1)) alertaFlotante("warning", '@ViewData["MensajeError"]');
            else {
                if ((mensaje.indexOf("firmada") > -1) || (mensaje.indexOf("cambiada") > -1)) alertaFlotante("success", '@ViewData["MensajeError"]');
                else alertaFlotante("error", '@ViewData["MensajeError"]');
            }
        </script>
    }

</body>
</html>
