﻿
@{
    Layout = null;
}
@model PolizasElectronicas.Models.BD.Clientes

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Incio Sesión</title>

    <link href="~/CSS/AdminLTE.css" rel="stylesheet" />
    <link href="~/CSS/AdminLTE.min.css" rel="stylesheet" />
    <link href="~/CSS/BootStrap/css/bootstrap.css" rel="stylesheet" />

    <script src="~/scripts/jQuery/jquery.js"></script>
    <script src="~/scripts/BootStrap/bootstrap.js"></script>
    <script src="~/scripts/Validaciones.js"></script>

</head>

<body class="hold-transition login-page">
    @if (ViewData["MensajeError"] != null)
    {
        <script>
            alert('@Html.Encode(ViewData["MensajeError"].ToString())');
        </script>
    }
    <div class="login-box">
        <div class="login-logo">
            <img src="~/Imagenes/ecuasuiza-logo.png" style="height:70px" />
        </div>
        <!-- /.login-logo -->
        <div class="login-box-body">
            <div>
                <button type="button"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="H1"><span class="fa fa-key iconNav" style="color:#1d1c1c"></span>Activar Cuenta</h4>
            </div>
            @using (Html.BeginForm("ValidaCodigoAct", "Autentificacion", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                @Html.AntiForgeryToken()
                <div class="container container-fluid">
                    <br />
                    <div class="col-xs-2 col-md-3 col-lg-12 row">
                        <div class="col-xs-2 col-md-3 col-lg-3">
                            Ingrese Codigo:
                        </div>
                        <div class="col-xs-2 col-md-3 col-lg-3">
                            <input type="text" name="txtCodigoValid" Onkeypress="return validaNumero(event);" class="form-control">  
                        </div>
                    </div>
                    <div class="col-xs-8 col-md-3 col-lg-2 row" style="align-content:center">
                        <input type="submit" class="btn btn-primary form-control" id="btnActivarC" value="Activar" />
                    </div>
                    <div class="clear"></div>
                </div>
            }
        </div>             
        <!-- /.login-box-body -->
    </div>
</body>

</html>