﻿
@{
    Layout = null;
}
@model PolizasElectronicas.Models.BD.UsuarioAseguradora

<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8" />         
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Portal Aseguradora | Seguros Condor</title>

        <link href="~/CSS/AdminLTE.css" rel="stylesheet" />
        <link href="~/CSS/AdminLTE.min.css" rel="stylesheet" />
        <link href="~/CSS/BootStrap/css/bootstrap.css" rel="stylesheet" />
        <link href="~/CSS/EstilosPolizas.css" rel="stylesheet" />

        <link rel="icon" type="image/png" href="~/Imagenes/logo-aseguradora-icon.png">

        <script src="~/scripts/jQuery/jquery.js"></script>
        <script src="~/scripts/jQuery/jquery.min.js"></script>
        <script src="~/scripts/jQuery/jquery-ui.min.js"></script>

        <script src="~/scripts/Validaciones.js"></script>

        <link rel="stylesheet" href="~/fontawesome-free/css/all.min.css">

        <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">

        <!-- Libreria para Alertas -->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" rel="stylesheet" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>

    </head>
    
    <body class="hold-transition login-page">
        @if (ViewData["MensajeError"] != null)
        {
            <script type="text/javascript">
                @*alert('@ViewData["MensajeError"].ToString()');*@
                $(document).ready(function () {
                    mensaje = '@ViewData["MensajeError"]';
                    if (!(mensaje.indexOf("error") > -1)) alertaFlotante("warning", '@ViewData["MensajeError"]');
                    else alertaFlotante("error", '@ViewData["MensajeError"]');
                });
            </script>
        }
        <div class="login-box">
            <div class="login-logo">
                <img src="~/Imagenes/logo.png" style="width:60%" />
            </div>
            <!-- /.login-logo -->
            <div class="login-box-body">
                <p class="login-box-msg">Inicie Sesión</p>

                @using (Html.BeginForm("LogoneaAseguradora", "Autentificacion", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    <div class="form-group has-feedback">
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder = "Email...", @id= "user"})
                        @Html.ValidationMessageFor(model => model.Email)
                        <!--<span class="glyphicon glyphicon-envelope form-control-feedback"></span>-->
                    </div>
                    <div class="form-group has-feedback">
                        @Html.PasswordFor(m => m.Password, new { @autocomplete = "off", @class = "form-control", @placeholder = "Contraseña...", @id = "pass" })
                        <!--<span class="glyphicon glyphicon-lock form-control-feedback"></span>-->
                    </div>
                    <div class="row justify-content-center">
                        <!--<div class="col-xs-6">
                            <div class="checkbox icheck">
                                <label>
                                    <input type="checkbox"> Recuérdame
                                </label>
                            </div>
                        </div>-->
                        <!-- /.col -->
                        <div class="col-xs-6">
                            <input type="submit" id="btnInicioSesion" style="border-radius:9px" class="btn btn-primary btn-block btn-flat" name="InicioSesion" value="Ingresar" />
                        </div>
                        <div class="clear"></div>
                        <div class="row justify-content-center">
                            <div class="clear"></div>
                            <div class="col-xs-12"></div>
                            <div class="col-md-8">
                                <label style="font-size: 11px;text-align: center;">
                                    Su usuario y contraseña por primera vez será su número de identificación
                                </label>
                            </div>
                        </div>
                        <!-- /.col -->
                    </div>
                }
                <!--<hr>-->
                <!-- /.social-auth-links -->
                <!--<a href="#"  class="btn-link">Olvidé mi contraseña</a><br>-->
            </div>
            <!-- /.login-box-body -->
        </div>

        <script>
            $(document).ready(function () {
                activarDesactivarBoton();
                $("#user, #pass").on("keyup change", function () {
                    activarDesactivarBoton();
                });
            });
            function activarDesactivarBoton() {
                var user = $("#user").val();
                var pass = $("#pass").val();
                if (user==null || pass==null || user=="" || pass=="") $('#btnInicioSesion').attr('disabled', 'disabled');
                else $('#btnInicioSesion').removeAttr('disabled');
            }
        </script>
    </body>

</html>