﻿
@{
    Layout = null;
}
@model PolizasElectronicas.Models.BD.Clientes

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portal Cliente | Seguros Condor</title>

    <link href="~/CSS/AdminLTE.css" rel="stylesheet" />
    <link href="~/CSS/AdminLTE.min.css" rel="stylesheet" />
    <link href="~/CSS/BootStrap/css/bootstrap.css" rel="stylesheet" />
    <link href="~/CSS/EstilosPolizas.css" rel="stylesheet" />

    <script src="~/scripts/jQuery/jquery.js"></script>
    <script src="~/scripts/BootStrap/bootstrap.js"></script>
    <script src="~/scripts/Validaciones.js"></script>

    <link rel="icon" type="image/png" href="~/Imagenes/logo-aseguradora-icon.png">

    <script src="~/scripts/Validaciones.js"></script>

    <!-- Libreria para Alertas -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>

    <script>
        function mostrarMensaje(mensaje) {
            $('#popupAlerta').modal('toggle');
            $("#div_mensaje").html(mensaje);
        }
    </script>

    <script src='https://www.google.com/recaptcha/api.js?hl=es'></script>

</head>


<body class="hold-transition login-page">
    
    <div class="login-box" style="margin: 0% auto;">
        <!--<a href="/Registrador/Index" target=""><button type="button" class="btn-link">Registrarse</button></a>
        <button type="button" class="btn-link" data-toggle="modal" data-target="#popupRecuperaContrasenia">Olvidé mi contraseña</button>
        <hr />-->

        <div class="login-logo">
            <img src="~/Imagenes/logo.png" style="width:60%" />
        </div>
        <!-- /.login-logo -->
        <div class="login-box-body">
            <p class="login-box-msg">Inicie Sesión</p>

            <select id="cmbSelectTipoLogin" onchange="cambiaData()" class="dropdown form-control">
                <option value="0">Empresa / Persona Juridica</option>
                <option value="1">Persona Natural</option>
            </select>
            <br />
            @using (Html.BeginForm("LogoneaCliente", "Autentificacion", FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                <div class="form-group has-feedback" id="divEmpresa">
                    @Html.TextBoxFor(m => m.Identificacion, new { @class = "form-control", @placeholder = "Ruc empresa..." })
                    @Html.ValidationMessageFor(model => model.Identificacion)
                    <!--<span class="glyphicon glyphicon-envelope form-control-feedback"></span>-->
                </div>
                <div class="form-group has-feedback">
                    <input class = "form-control" placeholder = "Usuario..." type="text" name="usufirm" />
                    <!--<span class="glyphicon glyphicon-envelope form-control-feedback"></span>-->
                </div>
                    <div class="form-group has-feedback">
                        @Html.PasswordFor(m => m.Password, new { @autocomplete = "off", @class = "form-control", @onkeypress = "validaNumero(event);", @placeholder = "Contraseña..." })
                        @Html.ValidationMessageFor(model => model.Password)               
                    </div>
                        <div>
                            <div class="row justify-content-center">
                                <div class="col-xs-6">
                                    <input type="submit" id="btnInicioSesion" style="border-radius:9px;" class="btn btn-primary btn-block btn-flat" name="InicioSesion" value="Ingresar" disabled="disabled"/>
                                </div>
                            </div>
                            <div class="row justify-content-center">
                                <div class="col-12" style="text-align: center">
                                    <a href="/Registrador/Index" target="" style="font-size: 12px;"><button type="button" class="btn-link">¿No estas registrado? Crea tu usuario aquí</button></a>
                                </div>
                            </div>
                            <div class="clear"></div>
                            <div class="row justify-content-center">
                                <div>
                                    <div class="g-recaptcha" data-sitekey="@System.Configuration.ConfigurationManager.AppSettings["Captcha_public"]" data-callback="habilitarBoton"></div>
                                </div>
                                <!-- /.col -->
                            </div>
                            <div class="row justify-content-center">
                                <div class="clear"></div>
                                <div class="col-xs-12"></div>
                                <!--<div class="checkbox icheck ">
                                    <label style="font-size: 11px;text-align: center;">
                                        Su usuario y contraseña por primera vez será su número de identificación
                                    </label>
                                </div>-->
                                <div class="col-xs-10">
                                    <label style="font-size: 11px;text-align: center;">
                                        Su usuario y contraseña por primera vez será su número de identificación
                                    </label>
                                </div>
                                <div class="col-12" style="text-align: center">
                                    <button style="font-size: 12px;" type="button" class="btn-link" data-toggle="modal" data-target="#popupRecuperaContrasenia">Olvidé mi contraseña</button>
                                </div>
                            </div>
                        </div>
            }
                        <!--<hr>
                        <a href="/Registrador/Index" target=""><button type="button" class="btn-link">Registrarse</button></a>
                        <button type="button" class="btn-link" data-toggle="modal" data-target="#popupRecuperaContrasenia">Olvidé mi contraseña</button>-->
                    </div>
        <!-- /.login-box-body -->
    </div>

    @if (System.Configuration.ConfigurationManager.AppSettings["autoizacionPortal"] == "true") {

    @*Popup Detalles Error*@
    <div class="modal fade" id="popupRecuperaContrasenia" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="H1"><span><img style="height:30px;" src="~/Imagenes/CambioClave.png" /></span>  Recuperar Contraseña</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>

                @using (Html.BeginForm("ReiniciarContrasenia", "Autentificacion", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    @Html.AntiForgeryToken()
                    <div class="" style="padding: 20px 50px;">
                        <div class="row">
                            <div class="col-xs-6">
                                Tipo empresa:
                            </div>
                            <div class="col-xs-6">
                                <select id="cmbSelectTipoEmpresa" onchange="cambiaDataReiniciaClave()" class="dropdown form-control">
                                    <option value="0">Empresa / Persona Juridica</option>
                                    <option value="1">Persona Natural</option>
                                </select>
                            </div>
                        </div>

                        <div id="divIdentiEmpre" class="row">
                            <br />
                            <div class="col-xs-6">
                                Ingrese RUC:
                            </div>
                            <div class="col-xs-6">
                                <input type="number" name="txtIdentificacionE" id="txtIdentificacionE" class="form-control" placeholder="Ingrese RUC de empresa ">
                            </div>
                        </div>

                        <div class="row">
                            <br />
                            <div class="col-xs-6">
                                Ingrese su identificación:
                            </div>
                            <div class="col-xs-6">
                                <input type="number" name="txtIdentificacion" class="form-control" placeholder="Identificación usuario firmante">
                            </div>
                        </div>
                            <div class="clear"></div>
                        </div>
                        <div>
                            <div class="panel-body">
                                <div class="panel2">
                                    <div class="row justify-content-end" style="padding: 0 20px;">
                                        <div class="col-xs-2">
                                            <button type="submit" class="btn btn-primary">Recuperar</button>
                                        </div>
                                        <div class="col-xs-2">
                                            <button type="button" class="btn btn-primary" data-dismiss="modal">Cerrar</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
            </div>
        </div>
    </div>
    @*Popup Detalles Error*@

    }



    @*Popup Alerta*@
    <div class="modal fade" id="popupAlerta" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="H1"><span></span>  Mensaje</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>

                    <div class="row">
                        <div id="div_mensaje" class="col-xs-12" style="font-size: 15px; text-align: center; padding: 20px; margin-top:2px;">
                            Mensaje
                        </div>
                        <div class="clear"></div>
                    </div>
                        <div>
                            <div class="panel-body">
                                <div class="panel2">
                                    <div class="row">
                                        <div id="div_mensaje" class="col-xs-12" style="text-align: right">
                                            <button type="button" class="btn btn-primary" data-dismiss="modal">Cerrar</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

            </div>
        </div>
    </div>
    @*Popup Alerta*@

    @*PopupAutorizacion*@
    <div class="modal fade" id="popupAutorizacion" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-md" role="document">
            <div class="modal-content">
                <div class="modal-header">

                    <h4 class="modal-title" id="H1">Autorizarse</h4>
                </div>
                <div class="body-content">

                    <br />
                    <div class="row justify-content-center" style="text-align: center">
                        <div class="col-xs-12" padding: 0px 20px;>
                            <b style="font-size:17px; padding: 0px 20px;">Antes de ingresar a su portal de documentos electrónicos vamos a comprobar su identidad. Genere un código, el mismo que se enviará a su e-mail, e ingréselo aquí.</b>
                        </div>
                        <div class="col-xs-12 col-sm-10 col-md-6">
                            <div class="clear"></div>
                            <div class="clear"></div>
                            <input type="text" readonly="readonly" style="height: 60px; font-size: 50px; text-align: center;" onfocus="this.removeAttribute('readonly');" Onkeypress="return validaNumero(event);" class="form-control" name="txtCodigoVerificacion" id="txtCodigoAutorizacion">
                        </div>
                    </div>

                    <div class="clear"></div>

                    <!--<div class="col-xs-2 col-md-3 col-lg-5 row">-->
                    <div class="row">
                    </div>
                    
                    <div class="row justify-content-center" style="text-align:center">
                        <div class="col-md-4 col-6">
                            <input type="button" id="btn_generar_token_web" class="btn btn-primary form-control" onclick="generarAutorizacion();" value="Generar Código" />
                        </div>

                        <div class="col-md-3 col-5">
                            <input type="button" class="btn btn-primary form-control" id="btnFirmaCodigo" onclick="autorizarse();" value="Autorizarse" style="background-color: #52949e !important; border-color: #52949e !important;" />
                        </div>
                    </div>

                </div>
                <div class="clear"></div>

                <div class="row">
                    <div class="col-xs-12 text-red" style="font-size: 11px;text-align:center">
                        El código tiene una duración de 5 minutos
                    </div>
                </div>

                <div>
                    <div class="panel-body">
                        <div class="panel2">
                            <div class="row">
                                <div class="col" style="text-align: right">
                                    <button type="button" class="btn btn-primary" data-dismiss="modal">Cerrar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @*PopupAutorizacion*@

    <div class="loader" style="display:none"></div>
    <script type="text/javascript">
    $(document).ready(function () {
        $("#ejecutaOculta").click(function () {
            $("#navbar-1").animate({
                width: "toggle"
            });
        });
    });

    </script>

    <script type="text/javascript">
        $(document).ready(function () {
            $("#Identificacion").val("");
        });

        function cambiaData() {
            if ($("#cmbSelectTipoLogin").val() == 1) {
                $("#divEmpresa").css('display', 'none');
                $("#Identificacion").val("0000000000000");
            } else {
                $("#divEmpresa").css('display', 'block');
                $("#Identificacion").val("");
            }
        }

        function cambiaDataReiniciaClave() {
            if ($("#cmbSelectTipoEmpresa").val() == 1) {
                $("#divIdentiEmpre").css('display', 'none');
                $("#txtIdentificacionE").val("0000000000000");
            } else {
                $("#divIdentiEmpre").css('display', 'block');
                $("#txtIdentificacionE").val("");
            }
        }
    </script>

    <script>
        function habilitarBoton() {
            $('#btnInicioSesion').removeAttr('disabled');
        }
    </script>


    @if (ViewData["MensajeError"] != null)
    {
        <script type="text/javascript">
            @*alert('@Html.Encode(ViewData["MensajeError"].ToString())');*@
            @*mostrarMensaje('@ViewData["MensajeError"]');*@
            var mensaje = '@ViewData["MensajeError"]';
            if (!(mensaje.indexOf("error") > -1)) alertaFlotante("warning", '@ViewData["MensajeError"]');
            else alertaFlotante("error", '@ViewData["MensajeError"]');

        </script>
            }

    @if (System.Configuration.ConfigurationManager.AppSettings["autoizacionPortal"] == "true" && ViewData["faltaAutenificacion"] == "true")
    {
        <script>
            var rucempresa = '@ViewData["rucEmpresa"]';
            var identificacionFirmante = '@ViewData["identificacionFirmante"]';
            $("#popupAutorizacion").modal("show");

            function generarAutorizacion() {
                try{
                    $(".loader").css("display", "block");
                    $.ajax({
                        url: '/Usuario/metodoAutorizacion',
                        type: 'POST',
                        dataType: 'json',
                        cache: false,
                        data: {
                            'opcion': "generaAutorizacion",
                            "rucEmpresa" : rucempresa,
                            "identificacionFirmante" : identificacionFirmante,
                            "token" : ""
                        },
                        success: function (mensaje) {
                            //console.log(mensaje);
                            if (mensaje.estado == "200"){
                                alertaFlotante("success", 'Se envió la notificación');
                            }
                            else alertaFlotante("error", mensaje.data.mensaje);
                        },
                        error: function () {
                            alertaFlotante("error", 'Error En La Comunicación');
                        },
                        complete: function () {
                            $(".loader").css("display", "none");
                        }
                    });
                }catch(ex){
                    alertaFlotante("error", 'Error');
                    $(".loader").css("display", "none");
                }
            }

            function autorizarse() {
                try {
                    $(".loader").css("display", "block");
                    $.ajax({
                        url: '/Usuario/metodoAutorizacion',
                        type: 'POST',
                        dataType: 'json',
                        cache: false,
                        data: {
                            'opcion': "autorizacion",
                            "rucEmpresa": rucempresa,
                            "identificacionFirmante": identificacionFirmante,
                            "token": $("#txtCodigoAutorizacion").val()
                        },
                        success: function (mensaje) {
                            //console.log(mensaje);
                            if (mensaje.estado == "200") {
                                alertaFlotante("success", 'Se autorizó correctamente');
                                $("#popupAutorizacion").modal("hide");
                            }
                            else alertaFlotante("error", mensaje.mensaje);
                        },
                        error: function () {
                            alertaFlotante("error", 'Error En La Comunicación');
                        },
                        complete: function () {
                            $(".loader").css("display", "none");
                        }
                    });
                } catch (ex) {
                    alertaFlotante("error", 'Error');
                    $(".loader").css("display", "none");
                }
            }
        </script>
    }
    
</body>

</html>