﻿
@{
    Layout = null;
}
@model PolizasElectronicas.Models.BD.Clientes

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portal Cliente | Mi Aseguradora</title>

    <link href="~/CSS/AdminLTE.css" rel="stylesheet" />
    <link href="~/CSS/AdminLTE.min.css" rel="stylesheet" />
    <link href="~/CSS/BootStrap/css/bootstrap.css" rel="stylesheet" />
    <link href="~/CSS/EstilosPolizas.css" rel="stylesheet" />

    <script src="~/scripts/jQuery/jquery.js"></script>
    <script src="~/scripts/BootStrap/bootstrap.js"></script>
    <script src="~/scripts/Validaciones.js"></script>

    <link rel="icon" type="image/png" href="~/Imagenes/logo-aseguradora-icon.png">

</head>

<body class="hold-transition login-page">
    @if (ViewData["MensajeError"] != null)
    {
        <script type="text/javascript">
            alert('@Html.Encode(ViewData["MensajeError"].ToString())');
        </script>
    }
    <div class="login-box">
        <div class="login-logo">
            <img src="~/Imagenes/logo.png" style="height:70px" />
        </div>
        <!-- /.login-logo -->
        <div class="login-box-body">
            <p class="login-box-msg">Resetear Contraseña</p>

            <select id="cmbSelectTipoLogin" onchange="cambiaData()" class="dropdown form-control">
                <option value="0">Empresa / Persona Juridica</option>
                <option value="1">Persona Natural</option>
            </select>
            <br />
            @using (Html.BeginForm("ResetearContrasenia", "Autentificacion", FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                <div class="form-group has-feedback" id="divEmpresa">
                    @Html.TextBoxFor(m => m.Identificacion, new { @class = "form-control", @placeholder = "Empresa..." })
                    @Html.ValidationMessageFor(model => model.Identificacion)
                    <!--<span class="glyphicon glyphicon-envelope form-control-feedback"></span>-->
                </div>
                <div class="form-group has-feedback">
                    <input class = "form-control" placeholder = "Usuario..." type="text" name="usufirm" />
                    <!--<span class="glyphicon glyphicon-envelope form-control-feedback"></span>-->
                </div>
                <div class="form-group has-feedback">
                    @if (ViewData["codigo"] != null)
                    {
                        <input class="form-control" placeholder="Codigo..." type="text" name="codigo" value='@ViewData["codigo"]' />
                    }
                    else
                    {
                        <input class="form-control" placeholder="Codigo..." type="text" name="codigo" />
                    }
                    <!--<span class="glyphicon glyphicon-envelope form-control-feedback"></span>-->
                </div>
                    <div class="form-group has-feedback">
                        @Html.PasswordFor(m => m.Password, new { @autocomplete = "off", @class = "form-control", @onkeypress = "validaNumero(event);", @placeholder = "Contraseña Nueva..." })
                        @Html.ValidationMessageFor(model => model.Password)               
                    </div>
                    <div class="form-group has-feedback">
                        <input class="form-control" placeholder="Repetir Contraseña..." type="password" name="PasswordR" />
                        <!--<span class="glyphicon glyphicon-envelope form-control-feedback"></span>-->
                    </div>
                        <div>
                            <div class="row justify-content-center">
                                <div class="col-xs-6">
                                    <input type="submit" id="btnInicioSesion" style="border-radius:9px;" class="btn btn-primary btn-block btn-flat" name="InicioSesion" value="Ingresar"/>
                                </div>
                                <!-- /.col -->
                            </div>
                            <div class="row justify-content-center">
                                <div class="clear"></div>
                                <div class="col-xs-12"></div>
                                <!--<div class="checkbox icheck ">
                                    <label style="font-size: 11px;text-align: center;">
                                        Su usuario y contraseña por primera vez será su número de identificación
                                    </label>
                                </div>-->
                            </div>
                        </div>
                        }
                    </div>
        <!-- /.login-box-body -->
    </div>

   

    @*Popup Detalles Error*@
    <div class="modal fade" id="popupRecuperaContrasenia" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="H1"><span><img style="height:30px;" src="~/Imagenes/CambioClave.png" /></span>  Recuperar Contraseña</h4>
                </div>

                @using (Html.BeginForm("ReiniciarContrasenia", "Autentificacion", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    @Html.AntiForgeryToken()
                    <div class="container container-fluid col-lg-12">
                        <div class="col-xs-2 col-md-3 col-lg-12">
                            <div class="col-xs-2 col-md-3 col-lg-3">
                                Tipo empresa:
                            </div>
                            <div class="col-xs-2 col-md-3 col-lg-4">
                                <select id="cmbSelectTipoEmpresa" onchange="cambiaDataReiniciaClave()" class="dropdown form-control">
                                    <option value="0">Empresa / Persona Juridica</option>
                                    <option value="1">Persona Natural</option>
                                </select>
                            </div>
                        </div>

                        <div id="divIdentiEmpre" class="col-xs-2 col-md-3 col-lg-12">
                            <br />
                            <div class="col-xs-2 col-md-3 col-lg-3">
                                Ingrese RUC:
                            </div>
                            <div class="col-xs-2 col-md-3 col-lg-4">
                                <input type="number" name="txtIdentificacionE" id="txtIdentificacionE" class="form-control" placeholder="Ingrese RUC de empresa ">
                            </div>
                        </div>

                        <div class="col-xs-2 col-md-3 col-lg-12">
                            <br />
                            <div class="col-xs-2 col-md-3 col-lg-3">
                                Ingrese su identificación:
                            </div>
                            <div class="col-xs-2 col-md-3 col-lg-4">
                                <input type="number" name="txtIdentificacion" class="form-control" placeholder="Identificación usuario firmante">
                            </div>
                        </div>
                            <div class="clear"></div>
                        </div>
                        <div>
                            <div class="panel-body">
                                <div class="panel2">
                                    <div class="row">
                                        <button type="submit" class="btn btn-primary  col-lg-offset-8">Recuperar</button>
                                        <button type="button" class="btn btn-primary" data-dismiss="modal">Cerrar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                }
            </div>
        </div>
    </div>
    @*Popup Detalles Error*@

    <script type="text/javascript">
        $(document).ready(function () {
            $("#Identificacion").val("");
        });

        function cambiaData() {
            if ($("#cmbSelectTipoLogin").val() == 1) {
                $("#divEmpresa").css('display', 'none');
                $("#Identificacion").val("0000000000000");
            } else {
                $("#divEmpresa").css('display', 'block');
                $("#Identificacion").val("");
            }
        }

        function cambiaDataReiniciaClave() {
            if ($("#cmbSelectTipoEmpresa").val() == 1) {
                $("#divIdentiEmpre").css('display', 'none');
                $("#txtIdentificacionE").val("0000000000000");
            } else {
                $("#divIdentiEmpre").css('display', 'block');
                $("#txtIdentificacionE").val("");
            }
        }
    </script>
    
</body>

</html>