﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Sesion Caducada</title>
</head>
<body>
    <div style="text-align: center; font-size: 20px; padding:15px; font-weight:bold">
        La Sesion ha caducado, inicie sesion nuevamente
    </div>
</body>
</html>
