﻿@model PolizasElectronicas.Models.Models.JqGridListViewModel

@{
    Layout = "~/Views/Shared/_LayoutClientes.cshtml";
}

<link href="~/CSS/JqGrid/ui.jqgrid.css" rel="stylesheet" />
<link href="~/CSS/JqGrid/ui.jqgrid-bootstrap.css" rel="stylesheet" />
<link href="~/CSS/jQuery/jquery-ui.css" rel="stylesheet" />

<link href="~/CSS/AdminLTE.css" rel="stylesheet" />
<link href="~/CSS/AdminLTE.min.css" rel="stylesheet" />
<link href="~/CSS/BootStrap/css/bootstrap.css" rel="stylesheet" />
<link href="~/CSS/JqGrid/jquery-ui-timepicker-addon.css" rel="stylesheet" />
<link href="~/CSS/EstilosPolizas.css" rel="stylesheet" />

<link href="~/CSS/lobibox/lobibox.min.css" rel="stylesheet" />

<script src="~/scripts/jQuery/jquery-ui.js"></script>
<script src="~/scripts/jQuery/jquery.js"></script>
<script src="~/scripts/jQGrid/jquery.jqGrid.js"></script>
<script src="~/scripts/BootStrap/bootstrap.js"></script>
<script src="~/scripts/BootStrap/bootstrap.min.js"></script>
<script src="~/scripts/Validaciones.js"></script>
<script src="~/scripts/jQGrid/bootstrap-datepicker.js"></script>

@*Manejo de Mensajes y Notificaciones del sistema*@
<script src="~/scripts/lobibox/lobibox.min.js"></script>
<script src="~/scripts/lobibox/messageboxes.min.js"></script>
<script src="~/scripts/lobibox/notifications.min.js"></script>

@*Tablas Responsive*@

<link href="~/CSS/Footable/footable.core.css" rel="stylesheet" />
<link href="~/CSS/Footable/footable.metro.css" rel="stylesheet" />
<link href="~/CSS/Footable/bootstrap-glyphicons.css" rel="stylesheet" />
<link href="~/CSS/Footable/footable-demos.css" rel="stylesheet" />

<script src="~/scripts/FooTable/footable.js"></script>
<script src="~/scripts/FooTable/footable.paginate.js"></script>
<script src="~/scripts/FooTable/bootstrap-tab.js"></script>
<script src="~/scripts/FooTable/demos.js"></script>
<script src="~/scripts/FooTable/footable.filter.js"></script>

<style type="text/css">
    .oculta {
        display: none;
    }
</style>
<script>
    $(document).ready(function () {
        
        CargaDatosOtrosDocumentosClientes();
    });
</script>
<div style="width: 100%">
    @if (ViewData["MensajeError"] != null)
    {
        <script>
            @*alert('@Html.Encode(@ViewData["MensajeError"].ToString())');*@
        </script>
    }
    @if (ViewData["MensajeErrorDescargaPdf"] != null)
    {
        <script type="text/javascript">
            var respuesta = '@Html.Encode(ViewData["MensajeErrorDescargaPdf"].ToString())';
            $(window).load(function () { MensajeSistema('warning', respuesta); });
        </script>
    }

    <div class="body-content">
        <!-- Main content -->
        <section class="content">
            <div class="row">
                <div class="col-xs-12">
                    <div id="divGrid">
                        <div class="box-header">
                            <center>
                                <h3>Documentos Electrónicos</h3>
                            </center>
                            <div style="width:100%;">
                                <table id="Form" class="table footable_filtering" style="border: none;">
                                    <tcombo>
                                        <tr>
                                            <td style="border: none;">
                                                <input type="text" id="filter" class="col-xs-12 input-sm" placeholder="Filtro De Búsqueda" />
                                            </td>
                                            <td style="border: none;">
                                                <a href="#clear" class="clear-filter btn btn-primary" id="btnLimpiar" title="clear filter">Limpiar Filtros</a>
                                            </td>
                                        </tr>
                                    </tcombo>
                                </table>
                            </div>
                            <div class="loader" style="display:none"></div>
                            <div id="divGrigClienteOtrosDoc">

                            </div>

                        </div>
                        <!-- /.box-header -->
                        <!-- /.box-body -->
                    </div>
                    <!-- /.box -->
                </div>
                <!-- /.col -->
            </div>

            @*PopupDescripcion*@
            <div class="modal fade" id="popupDescripcion" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content ">
                        <div class="modal-header">
                            <h4 class="modal-title" id="myModalLabel" style="text-align:left">Descripción</h4>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        </div>

                        @using (Html.BeginForm("DescargarXMLPoliza", System.Configuration.ConfigurationManager.AppSettings["ControladorLogin"], FormMethod.Post, new { enctype = "multipart/form-data" }))
                        {

                            <div class="modal-body table-responsive">
                                <div class="row" style="padding-bottom:10px;">
                                    <div class="col-xs-6">
                                        <label>Razón Social / Nombres y Apellidos</label>
                                        <input id="txtAsegurado" type="text" class="form-control" disabled>
                                    </div>
                                    <div class="col-xs-6">
                                        <label>Dirección</label>
                                        <input type="text" class="form-control" id="txtDireccion" disabled>
                                    </div>
                                </div>
                                <div class="row" style="padding-bottom:10px;">
                                    <div class="col-xs-6">
                                        <label>Ramo</label>
                                        <input type="text" class="form-control" id="txtRamo" disabled>
                                    </div>
                                    <div class="col-xs-3">
                                        <label>Fecha de emisión</label>
                                        <input type="text" class="form-control" id="txtFechaInicio" disabled>
                                    </div>
                                    <div class="col-xs-3">
                                        <label>Vencimiento</label>
                                        <input type="text" class="form-control" id="txtFechaFin" disabled>
                                    </div>
                                </div>
                                <div class="row" style="padding-bottom:10px;">
                                    <div class="col-xs-3">
                                        <label>Teléfono</label>
                                        <input type="text" class="form-control" id="txtTelefono" disabled>
                                    </div>
                                    <div class="col-xs-3">
                                        <label>Valor</label>
                                        <input type="text" class="form-control" id="txtValor" disabled>
                                    </div>
                                </div>
                            </div>

                            <input type="hidden" id="txt_endoso" name="campo_txt_num_endoso" />
                            <input type="hidden" id="txt_idramo" name="campo_txt_idRamo" />
                            <input type="hidden" id="txt_NumeorPoliza" name="campo_txtIdPoliza" />

                            @*aqui*@
                            <div>
                                <div class="panel-body">
                                    <div class="panel2">
                                        <div class="row justify-content-center">
                                            <div class="col-xs-2 col-md-2 col-md-offset-8" style="display:none">
                                                <button id="btnVerPoliza" style="display:none" class="btn btn-primary">Ver Xml Póliza</button>
                                            </div>
                                            <div class="col-xs-2 col-md-2">
                                                <button type="button" class="btn btn-primary" data-dismiss="modal" aria-label="Close">Cerrar</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
            @*PopupDescripcion*@

            @*PopupFirma*@
            <div class="modal fade" id="popupFirma" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog modal-md" role="document">
                    <div class="modal-content">
                        <div class="modal-header">

                            <h4 class="modal-title" id="H1">FIRMAR DOCUMENTO</h4>
                        </div>
                        <div class="body-content">

                            <br />
                            <div class="row justify-content-center" style="text-align: center">
                                <div class="col-xs-12">
                                    <b style="font-size:22px">Ingrese su Código: </b>
                                </div>
                                <div class="col-xs-12 col-sm-10 col-md-6">
                                    <div class="clear"></div>
                                    <div class="clear"></div>
                                    <input type="text" readonly="readonly" style="height: 40px; font-size: 20px; text-align: center;" onfocus="this.removeAttribute('readonly');" Onkeypress="return validaNumero(event);" class="form-control" name="txtCodigoVerificacion" id="txtCodigoVerificacion">
                                </div>
                            </div>

                            <div class="clear"></div>

                            <!--<div class="col-xs-2 col-md-3 col-lg-5 row">-->
                            <div class="row">
                            </div>
                            <input type="hidden" class="form-control" id="txtIdPoliza" name="idPoliza" />
                            <input type="hidden" class="form-control" id="txtNombrePoliza" />

                            <div class="row justify-content-center" style="text-align:center">
                                <div class="col-xs-4">
                                    <input type="button" id="btn_generar_token_web" class="btn btn-primary form-control" onclick="generarTokenWeb();" value="Generar Código" />
                                </div>

                                <div class="col-xs-3">
                                    <input type="button" class="btn btn-primary form-control" id="btnFirmaCodigo" onclick="FirmaCliente('P');" value="Firmar" style="background-color: #52949e !important; border-color: #52949e !important;" />
                                </div>
                            </div>

                        </div>
                        <div class="clear"></div>
                        <div>
                            <div class="panel-body">
                                <div class="panel2">
                                    <div class="row">
                                        <div class="col" style="text-align: right">
                                            <button type="button" class="btn btn-primary" data-dismiss="modal">Cerrar</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            @*PopupFirma*@

            @*PopupTracking*@
            <div class="modal fade" id="popupTracking" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">

                            <h4 class="modal-title" id="tracking_poliza_titulo">Tracking Póliza</h4>
                        </div>
                        <div class="body-content" id="contenido_tracking">

                            <br />
                            <div>
                                <center>
                                    <div class="container" style="margin:25px 0;">
                                        <div class="row">
                                            <div class="col-lg-10 center-block">
                                                <div class="row col-md-offset-2">
                                                    <div class="col-lg-6 col-6" style="z-index: 0; position: absolute; margin: 55px 0; margin-left:10px;">
                                                        <img src="~/Imagenes/slider/bg-timeline.jpg" class="img-responsive">
                                                    </div>
                                                    <div class="col-lg-2 col-2">
                                                        <img src="~/Imagenes/slider/paso-01-off.jpg" class="img-responsive img_tracking" id="img_1_off">
                                                        <img src="~/Imagenes/slider/paso-01-on.svg" class="img-responsive img_tracking" id="img_1_on">
                                                    </div>
                                                    <div class="col-lg-2 col-2">
                                                        <img src="~/Imagenes/slider/paso-02-off.jpg" class="img-responsive img_tracking" id="img_2_off">
                                                        <img src="~/Imagenes/slider/paso-02-on.jpg" class="img-responsive img_tracking" id="img_2_on">
                                                    </div>
                                                    <div class="col-lg-2 col-2">
                                                        <img src="~/Imagenes/slider/paso-03-off.jpg" class="img-responsive img_tracking" id="img_3_off">
                                                        <img src="~/Imagenes/slider/paso-03-on.jpg" class="img-responsive img_tracking" id="img_3_on">
                                                    </div>
                                                    <!--<div class="col-lg-2 col-2">
                                                        <img src="~/Imagenes/slider/paso-04-off.jpg" class="img-responsive img_tracking" id="img_4_off">
                                                        <img src="~/Imagenes/slider/paso-04-on.jpg" class="img-responsive img_tracking" id="img_4_on">
                                                    </div>-->
                                                    <div class="col-lg-2 col-2">
                                                        <img src="~/Imagenes/slider/paso-05-off.jpg" class="img-responsive img_tracking" id="img_5_off">
                                                        <img src="~/Imagenes/slider/paso-05-on.jpg" class="img-responsive img_tracking" id="img_5_on">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <h3>Detalle de Tracking</h3>
                                    <div class="row" style="margin: 0px 10px;">
                                        <div class="col-xs-6 col-6">
                                            <table class="table demo" data-filter="#filter" data-filter-text-only="true">
                                                <span class="span_titulo_tabla">Póliza</span>
                                                <thead>
                                                    <tr>
                                                        <th style="text-align:center">Detalle</th>
                                                        <th style="text-align:center">Fecha y Hora</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td style="text-align:left"><div id="div_trac_1"></div>Creación</td>
                                                        <td style="text-align:center" id="trac_creacion">06/06/2019</td>
                                                    </tr>
                                                    <tr>
                                                        <td style="text-align:left"><div id="div_trac_2"></div>Firma Aseguradora</td>
                                                        <td style="text-align:center" id="trac_firmaAseguradora">06/06/2019</td>
                                                    </tr>
                                                    <tr>
                                                        <td style="text-align:left">Creación de Token</td>
                                                        <td style="text-align:center" id="trac_creacionToken">06/06/2019</td>
                                                    </tr>
                                                    <tr>
                                                        <td style="text-align:left">Notificación de Póliza para firmar</td>
                                                        <td style="text-align:center" id="trac_envioEmail">06/06/2019</td>
                                                    </tr>
                                                    <tr>
                                                        <td style="text-align:left"><div id="div_trac_3"></div>Firma de Cliente</td>
                                                        <td style="text-align:center" id="trac_firmaCliente">07/06/2019</td>
                                                    </tr>
                                                    <tr>
                                                        <td style="text-align:left"><div id="div_trac_5"></div>Aprobada por la SUPERCIAS</td>
                                                        <td style="text-align:center" id="trac_aceptadoSuper">08/06/2019</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <div class="col-xs-6 col-6">
                                            <table class="table demo" data-filter="#filter" data-filter-text-only="true">
                                                <span class="span_titulo_tabla">Usuario Firmante</span>
                                                <thead>
                                                    <tr>
                                                        <th style="text-align:center">Detalle</th>
                                                        <th style="text-align:center">Fecha y Hora</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td style="text-align:left">Registro</td>
                                                        <td style="text-align:center">06/06/2019</td>
                                                    </tr>
                                                    <tr>
                                                        <td style="text-align:left">Aprobación</td>
                                                        <td style="text-align:center">06/06/2019</td>
                                                    </tr>
                                                    <tr>
                                                        <td style="text-align:left">Notificación de descarga de App</td>
                                                        <td style="text-align:center">06/06/2019</td>
                                                    </tr>
                                                    <tr>
                                                        <td style="text-align:left">Último Login</td>
                                                        <td style="text-align:center">06/06/2019</td>
                                                    </tr>
                                                    <tr>
                                                        <td style="text-align:left">SMS de Verificación</td>
                                                        <td style="text-align:center">06/06/2019</td>
                                                    </tr>
                                                    <tr>
                                                        <td style="text-align:left">Activación de cuenta</td>
                                                        <td style="text-align:center">07/06/2019</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <div class="col-xs-12 col-12">
                                            <table class="table demo" data-filter="#filter" data-filter-text-only="true">
                                                <span class="span_titulo_tabla">Datos Adicionales</span>
                                                <thead>
                                                    <tr>
                                                        <th style="text-align:center">Detalle</th>
                                                        <th style="text-align:center">Datos</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td style="text-align:left">Token de Firma</td>
                                                        <td style="text-align:center; word-wrap: break-word;">6284929</td>
                                                    </tr>
                                                    <tr>
                                                        <td style="text-align:left">Ip</td>
                                                        <td style="text-align:center">192.168.1.1</td>
                                                    </tr>
                                                    <tr>
                                                        <td style="text-align:left">Navegador</td>
                                                        <td style="text-align:center">Internet Explorer</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </center>
                            </div>
                            <div id="editor"></div>
                            <div>
                                <div class="panel-body">
                                    <div class="panel2">
                                        <div class="row col-lg-offset-9">
                                            <button type="button" class="btn btn-primary" onclick="descarGarPDF()" style="background-color: #52949e !important;border-color: #52949e !important;">Descargar</button>
                                            <button type="button" class="btn btn-primary" data-dismiss="modal">Cerrar</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            @*PopupTracking*@

            @*PopupCambiaContraseñaAseguradora*@
            <div class="modal fade" id="popupContrasenaAseguradora" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog modal-md" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title" id="H1">CAMBIAR CONTRASEÑA</h4>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        </div>
                        <br />
                        @using (Html.BeginForm("CambiarContraseniaUsuarioAseguradora", "Usuario", FormMethod.Post, new { enctype = "multipart/form-data" }))
                        {
                            @Html.AntiForgeryToken()
                            <div class="" style="margin: 0 50px">
                                <!--<div class="row justify-content-center">
                                    <div class="col-xs-6">
                                        Ingrese Su Identificación:
                                    </div>
                                    <div class="col-xs-6">
                                        <input type="number" name="txtIdentificacion" Onkeypress="return validaNumero(event);" class="form-control">
                                    </div>
                                </div>
                                <div class="clear"></div>-->
                                <div class="row">
                                    <div class="col-xs-6">
                                        Contraseña Actual:
                                    </div>
                                    <div class="col-xs-6">
                                        <input type="password" name="txtPasswordAct" readonly="readonly" Onkeypress="return validaLetras(event);" onfocus="this.removeAttribute('readonly');" class="form-control">
                                    </div>
                                </div>
                                <div class="clear"></div>
                                <div class="row">
                                    <div class="col-xs-6">
                                        Nueva Contraseña:
                                    </div>
                                    <div class="col-xs-6">
                                        <input type="password" name="txtPasswordNue" readonly="readonly" Onkeypress="return validaLetras(event);" onfocus="this.removeAttribute('readonly');" class="form-control">
                                    </div>
                                </div>
                                <div class="clear"></div>
                                <div class="row">
                                    <div class="col-xs-6">
                                        Confirmar Nueva Contraseña:
                                    </div>
                                    <div class="col-xs-6">
                                        <input type="password" name="txtPasswordConf" readonly="readonly" Onkeypress="return validaLetras(event);" onfocus="this.removeAttribute('readonly');" class="form-control">
                                    </div>
                                </div>
                            </div>
                                <br /><br />
                                <div class="container container-fluid">
                                    <div class="row justify-content-center">
                                        <div class="col-xs-12 text-red">
                                            * No Ingrese Carácteres Especiales
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <div class="panel-body">
                                        <div class="panel2">
                                            <div class="row justify-content-center" style="margin: 0 5px;">
                                                <div class="col-xs-5">
                                                    <button type="submit" class="btn btn-secundario">Cambiar Contraseña</button>
                                                </div>
                                                <div class="col-xs-5">
                                                    <button type="button" class="btn btn-primary" data-dismiss="modal">Cerrar</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                        }
                    </div>
                </div>
            </div>
            @*PopupCambiaContraseñaAseguradora*@

            @*Popup Detalles Error*@
            <div class="modal fade" id="popupError" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title"><span><img style="height:30px;" src="~/Imagenes/AlertIco.png" /></span>  DESCRIPCIÓN DEL ERROR</h4>
                        </div>
                        <div>
                            <label id="ErrorDetalle" style="font-family:Arial; font-size:14px; padding:10px 20px;">Error en la Comunicación con la Superintendencia de Compañias</label>
                        </div>

                        <div>
                            <div class="panel-body">
                                <div class="panel2">
                                    <div class="row">
                                        <button type="button" class="btn btn-primary col-lg-offset-11" data-dismiss="modal">Cerrar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            @*Popup Detalles Error*@

            @*Popup Activar Cuenta*@
            <div class="modal fade" id="popupActivarC" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="H1"><span class="fa fa-key iconNav" style="color:#1d1c1c"></span>Activar Cuenta</h4>
                        </div>
                        @using (Html.BeginForm("ActivarCuenta", "ValidarCodigoSms", FormMethod.Post, new { enctype = "multipart/form-data" }))
                        {
                            @Html.AntiForgeryToken()
                            <div class="container container-fluid">
                                <br />
                                <div class="col-xs-2 col-md-3 col-lg-12 row">
                                    <div class="col-xs-2 col-md-3 col-lg-4">
                                        Ingrese Código:
                                    </div>
                                    <div class="col-xs-2 col-md-3 col-lg-3">
                                        <input type="text" style="font-size: 20px; height: 40px; " name="txtCodigoValid" Onkeypress="return validaNumero(event);" class="form-control">
                                    </div>
                                </div>
                                <div class="col-xs-8 col-md-3 col-lg-2 row" style="align-content:center">
                                    <input type="submit" class="btn btn-primary form-control" id="btnActivarC" value="Activar" />
                                </div>
                                <div class="clear"></div>
                            </div>
                        }
                    </div>
                </div>
            </div>
            @*Popup Activar Cuenta*@


            @*Popup Alerta*@
            <div class="modal fade" id="popupAlerta" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog modal-sm" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title" id="H1"><span></span>MENSAJE</h4>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        </div>

                        <div class="row">
                            <div id="div_mensaje" class="col-xs-12" style="font-size: 15px; text-align: center; padding: 20px; margin-top:2px;">
                                Mensaje
                            </div>
                            <div class="clear"></div>
                        </div>
                        <div>
                            <div class="panel-body">
                                <div class="panel2">
                                    <div class="row">
                                        <div id="div_mensaje" class="col-xs-12" style="text-align: right">
                                            <button type="button" class="btn btn-primary" data-dismiss="modal">Cerrar</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            @*Popup Alerta*@

            @*PopupCambiaContraseña*@
            <div class="modal fade" id="popupContrasena" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title" id="H1">CAMBIAR CONTRASEÑA</h4>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        </div>
                        @using (Html.BeginForm("CambiarContrasenia", "Usuario", FormMethod.Post, new { enctype = "multipart/form-data" }))
                        {
                            @Html.AntiForgeryToken()
                            <div class="" style="margin: 0 50px">
                                <br />
                                <!--<div class="row">
                            <div class="col-xs-6">
                                Ingrese Su Identificación:
                            </div>
                            <div class="col-xs-6">
                                <input type="text" name="txtIdentificacion" Onkeypress="return validaNumero(event);" class="form-control">
                            </div>
                        </div>-->
                                <div class="clear"></div>
                                <div class="row">
                                    <div class="col-xs-6">
                                        Contraseña Actual:
                                    </div>
                                    <div class="col-xs-6">
                                        <input type="password" name="txtPasswordAct" Onkeypress="return validaLetras(event);" class="form-control">
                                    </div>
                                </div>
                                <div class="clear"></div>
                                <div class="row">
                                    <div class="col-xs-6">
                                        Nueva Contraseña:
                                    </div>
                                    <div class="col-xs-6">
                                        <input type="password" name="txtPasswordNue" Onkeypress="return validaLetras(event);" class="form-control">
                                    </div>
                                </div>
                                <div class="clear"></div>
                                <div class="row">
                                    <div class="col-xs-6">
                                        Confirmar Nueva Contraseña:
                                    </div>
                                    <div class="col-xs-6">
                                        <input type="password" name="txtPasswordConf" Onkeypress="return validaLetras(event);" class="form-control">
                                    </div>
                                </div>
                            </div>
                                <br /><br />
                                <div class="container container-fluid">
                                    <div class="row">
                                        <div class="col-xs-12 text-red">
                                            * No Ingrese Carácteres Especiales
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <div class="panel-body">
                                        <div class="panel2">
                                            <div class="row justify-content-center" style="margin: 0 25px;">
                                                <div class="col-xs-3">
                                                    <button type="submit" class="btn btn-primary" style="background-color: #52949e !important; border-color: #52949e !important">Cambiar contraseña</button>
                                                </div>
                                                <div class="col-xs-2">
                                                    <button type="button" class="btn btn-primary" data-dismiss="modal">Cerrar</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                        }
                    </div>
                </div>
            </div>
            @*PopupCambiaContraseña*@
        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
    <!--<footer class="main-footer">
        <div class="pull-right hidden-xs">
        </div>
        Copyright &copy; 2018 Ecuatoriano Suiza - Desarrollado por <img src="~/Imagenes/viamatica.png" style="height:20px;">
    </footer>
    <div class="control-sidebar-bg"></div>-->
</div>


<script type="text/javascript">
    function LlenaPopup(asegurado, direccion, telefono, ramo, valor, fechaInicio, fechaFin, numPoliza, idRamo, endoso)
    {
        $("#txtAsegurado").val(asegurado);
        $("#txtDireccion").val(direccion);
        $("#txtTelefono").val(telefono);
        $("#txtRamo").val(ramo);
        $("#txtValor").val(valor);
        $("#txtFechaInicio").val(fechaInicio);
        $("#txtFechaFin").val(fechaFin);
        $("#txt_endoso").val(endoso);
        $("#txt_idramo").val(idRamo);
        $("#txt_NumeorPoliza").val(numPoliza);
        $('#popupDescripcion').modal('toggle')
    }

    function MensajeSistema(tipo, mensaje) {
        //'error|success|warning|info', // Any of the following
        Lobibox.alert(tipo, {
            msg: mensaje
        });
    }

    function MostrarNotificacionEsquinera(tipo, mensaje) {
        // Available types 'warning', 'info', 'success', 'error'
        Lobibox.notify(tipo, {
            size: 'mini',
            rounded: true,
            delayIndicator: false,
            msg: mensaje
        });
    }

</script>

<script type="text/javascript">
    $(function () {
        //Para DropDownL
    $('.clear-filter').click(function (e) {
      e.preventDefault();
      $('.filter-documents').val('');
      $('table.demo').trigger('footable_clear_filter');
    });

    $('.filter-documents').change(function (e) {
        e.preventDefault();
        $('table.demo').trigger('footable_filter', { filter: $('#filter').val() });
    });
  });
</script>

<script type="text/javascript">
    $(function () {
		$('table').footable();

		$('#change-page-size').change(function (e) {
			e.preventDefault();
			var pageSize = $(this).val();
			$('.footable').data('page-size', pageSize);
			$('.footable').trigger('footable_initialized');
		});

		$('#change-nav-size').change(function (e) {
			e.preventDefault();
			var navSize = $(this).val();
			$('.footable').data('limit-navigation', navSize);
			$('.footable').trigger('footable_initialized');
		});
    });
</script>