﻿@{
    Layout = "~/Views/Shared/_LayoutAseguradora.cshtml";
}

<link href="~/CSS/JqGrid/ui.jqgrid.css" rel="stylesheet" />
<link href="~/CSS/JqGrid/ui.jqgrid-bootstrap.css" rel="stylesheet" />
<link href="~/CSS/jQuery/jquery-ui.css" rel="stylesheet" />

<link href="~/CSS/AdminLTE.css" rel="stylesheet" />
<link href="~/CSS/AdminLTE.min.css" rel="stylesheet" />
<link href="~/CSS/BootStrap/css/bootstrap.css" rel="stylesheet" />
<link href="~/CSS/JqGrid/jquery-ui-timepicker-addon.css" rel="stylesheet" />
<link href="~/CSS/EstilosPolizas.css" rel="stylesheet" />

<link href="~/CSS/Footable/footable.core.css" rel="stylesheet" />
<link href="~/CSS/Footable/footable.metro.css" rel="stylesheet" />
<link href="~/CSS/Footable/bootstrap-glyphicons.css" rel="stylesheet" />
<link href="~/CSS/Footable/footable-demos.css" rel="stylesheet" />
<link href="~/CSS/Footable/bootstrap-glyphicons.css" rel="stylesheet" />


<script src="~/scripts/jQuery/jquery-ui.js"></script>
<script src="~/scripts/jQuery/jquery.js"></script>
<script src="~/scripts/jQGrid/jquery.jqGrid.js"></script>
<script src="~/scripts/BootStrap/bootstrap.js"></script>
<script src="~/scripts/BootStrap/bootstrap.min.js"></script>
<script src="~/scripts/Validaciones.js"></script>
<script src="~/scripts/jQGrid/bootstrap-datepicker.js"></script>
@*Tablas Responsive*@

<script src="~/scripts/FooTable/footable.js"></script>
<script src="~/scripts/FooTable/footable.paginate.js"></script>
<script src="~/scripts/FooTable/bootstrap-tab.js"></script>
<script src="~/scripts/FooTable/demos.js"></script>
<script src="~/scripts/FooTable/footable.filter.js"></script>

<script src="~/scripts/Reglas.js" type="text/javascript"></script>
<script src="~/scripts/jquery.mask.js" type="text/javascript"></script>

@if (ViewData["MensajeError"] != null)
{
    <script>
            alert('@ViewData["MensajeError"].ToString()');
    </script>
}
<div class="body-content" style="width: 100%">

    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div>
                    <div class="box-header">
                        <h4>Usuarios Firmantes</h4>
                        <table>
                            <tr>
                                <td>
                                    <select id="firmanteEstado" class="js-select2 form-control" style="max-width: 300px;">
                                        <option value="" id="tmp_combo">--Seleccione--</option>
                                        <option value="I">Ingresado</option>
                                        <option value="A">Aprobado</option>
                                        <option value="R">Rechazado</option>
                                        <option value="AU">Autorizado</option>
                                        <option value="E">Eliminado</option>
                                    </select>
                                </td>
                                <td style="border: none;">
                                    <input type="text" id="filter" Onkeypress="return validaLetras(event);" class="col-xs-12 input-sm form-control" placeholder="Filtro De Búsqueda" />
                                </td>
                            </tr>
                        </table>
                        <br />
                        <div id="alertaPeticion"></div>
                        <table id="dataTable" class="table demo table-bordered table-hover data-table" data-filter="#filter" data-filter-text-only="true" style="width: 100%">
                            <thead>
                                <tr id="cabeceraTabla">
                                    <th style="text-align:center;">RUC/CI</th>
                                    <th style='text-align:center;'>Razón Social</th>
                                    <th style='text-align:center;'>Email</th>
                                    <th style="text-align:center;">Identificación</th>
                                    <th style="text-align:center;">Nombre</th>
                                    <th style='text-align:center;'>Cargo</th>
                                    <th style="text-align:center;">Celular</th>
                                    <th style="text-align:center; min-width: 110px">Acciones</th>
                                </tr>
                            </thead>
                            <tbody id="camposTabla">
                                @*if (isset($firmantes))
                                    @foreach ($firmantes as $value)
                                    <tr>
                                        <td style='text-align:center'>{{ $value->RUC_empresa }}</td>
                                        <td style='text-align:center'>{{ $value->Nombre_empresa }}</td>
                                        <td style='text-align:center'>{{ $value->Email_empresa }}</td>
                                        <td style='text-align:center'>{{ $value->RUC_cedula_firmante }}</td>
                                        <td style='text-align:center'>{{ $value->Nombre_firmante }}</td>
                                        <td style='text-align:center'>{{ $value->Cargo_firmante }}</td>
                                        <td style='text-align:center'>{{ $value->Celular_firmante }}</td>
                                        <td>
                                            <button type="button" id="confirmar" onclick="administrarEstado('{{ $value->RUC_empresa }}','{{ $value->RUC_cedula_firmante }}','A')" class="btn btn-success btn-sm"><i class="fa fa-check"></i></button>
                                            <button type="button" id="eliminar" onclick="administrarEstado('{{ $value->RUC_empresa }}','{{ $value->RUC_cedula_firmante }}','R')" class="btn btn-danger btn-sm"><i class="fa fa-times"></i></button>
                                        </td>
                                    </tr>
                                    @endforeach
                                    @endif*@
                                </tbody>
                            </table>


                            <div class="modal" id="modalConfirmar" tabindex="-1" role="dialog">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title">Aprobar/Rechazar</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <p>¿Está seguro que desea <span id="referenciaAccionTitulo"></span> a esta persona?.</p>
                                        </div>
                                        <div class="modal-footer" style="background: none !important; padding: 10px;">
                                            <button type="button" class="btn_ok" onclick="confirmarCambiarEstado()" data-dismiss="modal">Aceptar</button>
                                            <button type="button" class="btn_cancel" data-dismiss="modal">Cancelar</button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="modal" id="modalFirmante" tabindex="-1" role="dialog">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title">Administrar Usuario Firmante</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <div class="form-group has-feedback">
                                                <input type="email" id="emailFirmante" class="form-control" value=""
                                                       placeholder="Email firmante" required="required" />

                                                <div class="error_alert_form_modal" id="e_emailFirmante">
                                                    <strong>Error</strong>
                                                </div>
                                            </div>
                                            <div class="form-group has-feedback">
                                                <div>
                                                    <input type="text" id="celular" class="form-control" value=""
                                                           placeholder="Celular" required="required" />
                                                </div>

                                                <div class="error_alert_form_modal" id="e_celular">
                                                    <strong>Error</strong>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal-footer" style="background: none !important; padding: 10px; border-radius:0px;">
                                            <button type="button" class="btn_ok" onclick="actualizar_usuario()">Guardar</button>
                                            <button type="button" class="btn_cancel" data-dismiss="modal">Cancelar</button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                    </div>
                    <!-- /.box-header -->
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
            </div>
            <!-- /.col -->
        </div>
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->
<!--<footer class="main-footer">
    <div class="pull-right hidden-xs">
    </div>
    Copyright &copy; 2018 - Desarrollado por <img src="~/Imagenes/viamatica.png" style="height:20px;">
</footer>
<div class="control-sidebar-bg"></div>-->
@*PopupCambiaContraseñaAseguradora*@
<div class="modal fade" id="popupContrasenaAseguradora" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="H1">CAMBIAR CONTRASEÑA</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <br />
            @using (Html.BeginForm("CambiarContraseniaUsuarioAseguradora", "Usuario", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                @Html.AntiForgeryToken()
                <div class="" style="margin: 2.5% 50px">
                    <!--<div class="row justify-content-center">
                        <div class="col-xs-6">
                            Ingrese Su Identificación:
                        </div>
                        <div class="col-xs-6">
                            <input type="number" name="txtIdentificacion" Onkeypress="return validaNumero(event);" class="form-control">
                        </div>
                    </div>
                    <div class="clear"></div>-->
                    <div class="row">
                        <div class="col-xs-6">
                            Contraseña Actual:
                        </div>
                        <div class="col-xs-6">
                            <input type="password" name="txtPasswordAct" readonly="readonly" Onkeypress="return validaLetras(event);" onfocus="this.removeAttribute('readonly');" class="form-control">
                        </div>
                    </div>
                    <div class="clear"></div>
                    <div class="row">
                        <div class="col-xs-6">
                            Nueva Contraseña:
                        </div>
                        <div class="col-xs-6">
                            <input type="password" name="txtPasswordNue" readonly="readonly" Onkeypress="return validaLetras(event);" onfocus="this.removeAttribute('readonly');" class="form-control">
                        </div>
                    </div>
                    <div class="clear"></div>
                    <div class="row">
                        <div class="col-xs-6">
                            Confirmar Nueva Contraseña:
                        </div>
                        <div class="col-xs-6">
                            <input type="password" name="txtPasswordConf" readonly="readonly" Onkeypress="return validaLetras(event);" onfocus="this.removeAttribute('readonly');" class="form-control">
                        </div>
                    </div>
                </div>
                                <br /><br />
                                <div class="container container-fluid">
                                    <div class="row justify-content-center">
                                        <div class="col-xs-12 text-red">
                                            * No ingrese carácteres especiales
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <div class="panel-body">
                                        <div class="panel2">
                                            <div class="row justify-content-center" style="margin: 0 5px;">
                                                <div class="col-xs-5">
                                                    <button type="submit" class="btn btn-secundario">Cambiar Contraseña</button>
                                                </div>
                                                <div class="col-xs-5">
                                                    <button type="button" class="btn btn-primary" data-dismiss="modal">Cerrar</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
            }
        </div>
    </div>
</div>
@*PopupCambiaContraseñaAseguradora*@

<script type="text/javascript">
    $(function () {
        //Para DropDownL
        $('table').footable().bind('footable_filtering', function (e) {
            var selected = $('.filter-status').find(':selected').text();
            if (selected && selected.length > 0 && selected != "Seleccione tipo estado póliza") {
                e.filter += (e.filter && e.filter.length > 0) ? ' ' + selected : selected;
                e.clear = !e.filter;
            }
        });
        $('.clear-filter').click(function (e) {
            e.preventDefault();
            $('.filter-status').val('');
            $('table.demo').trigger('footable_clear_filter');
        });

        $('.filter-status').change(function (e) {
            e.preventDefault();
            $('table.demo').trigger('footable_filter', { filter: $('#filter').val() });
        });
    });
</script>

<script type="text/javascript">
    $(function () {
		$('table').footable();

		$('.footable').data('limit-navigation', 15);
		$('.footable').trigger('footable_initialized');
    });
</script>


    <script>
        var estado = '';
        $(document).ready(function () {
            if (estado == '') estado = $("#firmanteEstado").val();


            $("#firmanteEstado").change(function(){
                try {
                    $("#alertaPeticion").html('');
                    $("#tmp_combo").remove();
                    $("#alertaPeticion").html('');
                    estado = $(this).val();

                    cargarGrid(true);
                }catch(ex){
                    //$("#alertaPeticion").html('<div class="alert alert-danger">Ocurrio un error inesperado</div>');
                    alertaFlotante("error", "Ocurrio un error inesperado", "Cargar Datos");
                }

            });
        });

        function cargarGrid(mostrarCorrecto){

            $(".loader").css("display", "block");
            //$("#contenedor_cargando").show();
            $.ajax({
                /*headers: {
                    'X-CSRF-TOKEN': $('meta[name="csrf-token"]').attr('content')
                },*/
                @*url: "@System.Configuration.ConfigurationManager.AppSettings["urlControladorDashboard"]"+'firmantePorEstado/'+ $("#firmanteEstado").val(),*@
                url: "/Autorizador/firmantePorEstado",
                dataType: "json",
                data: {
                    Estado: $("#firmanteEstado").val()
                },
                type: 'post',
                success: function(respuesta) {
                    //console.log(respuesta);
                    try{
                        var todasLasFilas = "";
                        $("#camposTabla").html("");
                        if(respuesta.error==""){
                            $.each(respuesta.result, function (key, value) {
                                todasLasFilas = "";
                                //alert( key + ": " + value );
                                todasLasFilas += "<tr>";
                                todasLasFilas += "<td style='text-align:center'>"+value.RUC_empresa+"</td>";
                                todasLasFilas += "<td style='text-align:center'>"+value.Nombre_empresa+"</td>";
                                todasLasFilas += "<td style='text-align:center'>"+value.Email_empresa+"</td>";
                                todasLasFilas += "<td style='text-align:center'>"+value.RUC_cedula_firmante+"</td>";
                                todasLasFilas += "<td style='text-align:center'>"+value.Nombre_firmante+"</td>";
                                todasLasFilas += "<td style='text-align:center'>"+value.Cargo_firmante+"</td>";
                                todasLasFilas += "<td style='text-align:center'>"+value.Celular_firmante+"</td>";
                                //todasLasFilas += "<td>"+value.Estado+"</td>";
                                switch(value.Estado){
                                    case 'I':
                                        todasLasFilas += "<td style='text-align:center'>";
                                        todasLasFilas += '<button type="button" id="confirmar" onclick="administrarEstado(\''+value.RUC_empresa+'\',\''+value.RUC_cedula_firmante+'\',\'A\')" class="btn btn_success_i btn-sm"><i class="fa fa-check"></i></button>';
                                        todasLasFilas += '<button type="button" id="confirmar" onclick="administrarEstado(\'' + value.RUC_empresa + '\',\'' + value.RUC_cedula_firmante + '\',\'R\')" class="btn btn_danger_i btn-sm"><i class="fa fa-times"></i></button>';
                                        todasLasFilas += '<button type="button" id="editar" onclick="administrarFirmante(\'' + value.RUC_empresa + '\',\'' + value.RUC_cedula_firmante + '\',\'' + value.Email_empresa + '\', \'' + value.Celular_firmante + '\')" class="btn btn_danger_i btn-sm"><i class="fas fa-edit"></i></button>';
                                        todasLasFilas += "</td>";
                                        break;
                                    case 'AU':
                                        todasLasFilas += "<td style='text-align:center'>";
                                        todasLasFilas += '<button type="button" id="confirmar" onclick="administrarEstado(\'' + value.RUC_empresa + '\',\'' + value.RUC_cedula_firmante + '\',\'E\')" class="btn btn_danger_i btn-sm"><i class="fa fa-trash"></i></button>';
                                        todasLasFilas += '<button type="button" id="editar" onclick="administrarFirmante(\'' + value.RUC_empresa + '\',\'' + value.RUC_cedula_firmante + '\',\'' + value.Email_empresa + '\', \'' + value.Celular_firmante + '\')" class="btn btn_danger_i btn-sm"><i class="fas fa-edit"></i></button>';
                                        todasLasFilas += "</td>";
                                        break;
                                    case 'E':
                                        todasLasFilas += "<td style='text-align:center'>";
                                        todasLasFilas += '<button type="button" id="confirmar" onclick="administrarEstado(\'' + value.RUC_empresa + '\',\'' + value.RUC_cedula_firmante + '\',\'AU\')" class="btn btn_success_i btn-sm"><i class="fa fa-user-check"></i></button>';
                                        todasLasFilas += '<button type="button" id="editar" onclick="administrarFirmante(\'' + value.RUC_empresa + '\',\'' + value.RUC_cedula_firmante + '\',\'' + value.Email_empresa + '\', \'' + value.Celular_firmante + '\')" class="btn btn_danger_i btn-sm"><i class="fas fa-edit"></i></button>';
                                        todasLasFilas += "</td>";
                                        break;
                                    default:
                                        todasLasFilas += "<td>";
                                        todasLasFilas += '<button type="button" id="editar" onclick="administrarFirmante(\'' + value.RUC_empresa + '\',\'' + value.RUC_cedula_firmante + '\',\'' + value.Email_empresa + '\', \'' + value.Celular_firmante + '\')" class="btn btn_danger_i btn-sm"><i class="fas fa-edit"></i></button>';
                                        todasLasFilas += "</td>";
                                        break;
                                }
                                //todasLasFilas += "<td>"+"</td>";
                                todasLasFilas += "</tr>";
                                $("#camposTabla").append(todasLasFilas);
                            });
                            //$("#camposTabla").html(todasLasFilas);
                            var tempCabecera = $("#dataTable").html();
                            
                            console.log(tempCabecera);
                            $("#dataTable").html(tempCabecera);

                            /*setTimeout($("html").css("width", "1px"),1000);
                            sleep(1000);
                            setTimeout($("html").css("width", "10000px"), 2000);
                            sleep(1000);
                            setTimeout($("html").css("width", "100%"), 3000);*/

                            
                            //$('#dataTable').DataTable().clear().draw();
                            //$('#dataTable').DataTable().draw();
                            //$('#dataTable').DataTable().reload();
                            //$('#dataTable').dataTable().fnDestroy();
                            //$('#dataTable').dataTable({ data: respuesta.result, colums: ['data']});
                            //$('#dataTable').dataTable().ajax.reload(null, false);
                            //$('#dataTable').dataTable().fnDestroy();
                            //$('#dataTable').dataTable().draw();
                            //$('#dataTable').dataTable();
                            $("#alertaPeticion").append('');
                            //if (mostrarCorrecto==true) $("#alertaPeticion").append('<div class="alert alert-success">Se cosulto con exito</div>');
                        }
                        //else $("#alertaPeticion").append('<div class="alert alert-danger">' + respuesta.error + '</div>');
                        else alertaFlotante("error", respuesta.error, "Cargar Datos");
                    }catch(ex){
                        //$("#alertaPeticion").append('<div class="alert alert-danger">Ocurrio un error inesperado al cargar la tabla</div>');
                        //$("#alertaPeticion").append('<div class="alert alert-danger">Ocurrio un error' + ex.message + '</div>');
                        alertaFlotante("error", "Ocurrio un error inesperado", "Cargar Datos");
                    }

                },
                error: function(es) {
                    //console.log("No se ha podido obtener la información");
                    //$("#alertaPeticion").append('<div class="alert alert-danger">Error al realizar la peticion</div>');
                    alertaFlotante("error", "Error al realizar la peticion", "Cargar Datos");
                    //console.log(es);
                },
                complete : function() {
                    //alert('Petición realizada');
                    //$("#contenedor_cargando").hide();
                    $(".loader").css("display", "none");
                }
            });
        }

        function sleep(time, tam) {
            setTimeout(function () {
                //$('#someid').addClass("done");
                $(window).css("width", tam);
                console.log(tam);
            }, time);
        }

        var idEmpresa, idFirmante, estado;
        function administrarEstado(_idEmpresa, _idFirmante, _estado){
            idEmpresa = _idEmpresa;
            idFirmante = _idFirmante;
            estado = _estado;
            $('#modalConfirmar').modal('show');
            if(_estado=='A') $("#referenciaAccionTitulo").html("Aprobar");
            else $("#referenciaAccionTitulo").html("Rechazar");
            console.log(_idEmpresa + " <> " + _idFirmante + " <> " + _estado);
        }

        function confirmarCambiarEstado() {
            $("#alertaPeticion").html('');
            //$("#contenedor_cargando").show();
            $(".loader").css("display", "block");
            try{

                $.ajax({
                    /*headers: {
                        'X-CSRF-TOKEN': $('meta[name="csrf-token"]').attr('content')
                    },*/
                    @*url: "@System.Configuration.ConfigurationManager.AppSettings["urlControladorDashboard"]"+'cambiarEstadoFirmante',*@
                    url: "/Autorizador/cambiarEstadoFirmante",
                    dataType: "json",
                    data: {
                        Estado : estado,
                        RUC_empresa: idEmpresa,
                        RUC_cedula_firmante: idFirmante
                    },
                    type: 'post',
                    success: function(respuesta) {
                        if(respuesta.error==""){
                            //$("#alertaPeticion").append('<div class="alert alert-success">Se actualizo con exito el estado</div>');
                            alertaFlotante("success", "Se actualizo con exito el estado", "Cambio de estado");
                            cargarGrid(false);
                        }
                        //else $("#alertaPeticion").append('<div class="alert alert-danger">Error actualizar el estado</div>');
                        else alertaFlotante("error", "Error actualizar el estado", "Cambio de estado");
                    },
                    error: function() {
                        //console.log("No se ha podido obtener la información");
                        //$("#alertaPeticion").append('<div class="alert alert-danger">Error al realizar la peticion</div>');
                        alertaFlotante("error", "Error al realizar la peticion", "Cambio de estado");
                    },
                    complete : function() {
                        //$("#contenedor_cargando").hide();
                        //$(".loader").css("display", "none");
                    }
                });
            }catch(ex){
                //$("#alertaPeticion").append('<div class="alert alert-danger">Ocurrio un error inesperado</div>');
                alertaFlotante("error", "Ocurrio un error inesperado", "Cambio de estado");
            }
            $(".loader").css("display", "block");
        }

        var idEmpresa, idFirmante, email, celular;
        function administrarFirmante(_idEmpresa, _idFirmante, _email, _celular) {
            $('.error_alert_form_modal').hide();
            $('.error_alert_form_modal').html("");

            idEmpresa = _idEmpresa;
            idFirmante = _idFirmante;
            email = _email;
            celular = _celular;
            $('#modalFirmante').modal('show');
            $('#emailFirmante').val(email);
            $('#celular').val(celular);
            //if (_estado == 'A') $("#referenciaAccionTitulo").html("Aprobar");
            //else $("#referenciaAccionTitulo").html("Rechazar");
            console.log(_idEmpresa + " <> " + _idFirmante);
        }

        function actualizar_usuario() {
            var seguir = true;
            $("#contenedor_cargando").show();
            //$("#contenedor_cargando").show();
            $('.error_alert_form_modal').hide();
            $('.error_alert_form_modal').html("");

            try {
                if (validacion_form_espec('emailFirmante', 'email') == false) seguir = false;
                if (validacion_form_espec('celular', 'celular') == false) seguir = false;

                if (seguir == false) $("#contenedor_cargando").hide(10);
                //return seguir;
                if (seguir == true) CambiarDatosFirmante();
            } catch (Exception) {
                console.log(Exception);
                return false;
                $("#contenedor_cargando").hide(10);
            }
        }

        function CambiarDatosFirmante() {
            $("#alertaPeticion").html('');
            //$("#contenedor_cargando").show();
            $(".loader").css("display", "block");
            try {

                $.ajax({
                    url: "/Autorizador/cambiarDatosFirmante",
                    dataType: "json",
                    data: {
                        Email_empresa: $('#emailFirmante').val(),
                        Celular_firmante: $('#celular').val(),
                        RUC_empresa: idEmpresa,
                        RUC_cedula_firmante: idFirmante
                    },
                    type: 'post',
                    success: function (respuesta) {

                        if (respuesta.error == null) {
                            alertaFlotante("success", "Se actualizo con exito", "Cambio de datos");
                            cargarGrid(false);
                            $('#modalFirmante').modal('hide');

                        }
                        else alertaFlotante("error", "Error actualizar", "Cambio de datos");
                        $('#modalFirmante').modal('hide');
                    },
                    error: function () {
                        alertaFlotante("error", "Error al realizar la peticion", "Cambio de datos");
                        $('#modalFirmante').modal('hide');
                    },
                    complete: function () {
                        $(".loader").css("display", "none");
                    }
                });
            } catch (ex) {
                alertaFlotante("error", "Ocurrio un error inesperado", "Cambio de datos");
                $(".loader").css("display", "none");
            }
            //$(".loader").css("display", "block");
        }
</script>
