#contenedor_cargando{
  width: 100%;
  height: 100%;
  position: fixed;;
  z-index: 9999999;
  background-color: rgba(255,255,255,0.45);
  display: none;
  text-align: center;
  vertical-align: middle;
  top: 0;
}

.loader:before,
.loader:after,
.loader {
  
  border-radius: 50%;
  width: 2.5em;
  height: 2.5em;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation: load7 1.8s infinite ease-in-out;
  animation: load7 1.8s infinite ease-in-out;
}
.loader {
  /*margin: 8em auto;*/
  margin: auto;
  top: 0;
  bottom: 0;
  font-size: 10px;
  position: relative;
  text-indent: -9999em;
  -webkit-animation-delay: 0.16s;
  animation-delay: 0.16s;
  vertical-align: middle;
  top: 49%;
}
.loader:before {
  left: -3.5em;
}
.loader:after {
  left: 3.5em;
  -webkit-animation-delay: 0.32s;
  animation-delay: 0.32s;
}
.loader:before,
.loader:after {
  content: '';
  position: absolute;
  top: 0;
}
@-webkit-keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em #CCC;
  }
  40% {
    box-shadow: 0 2.5em 0 0 #CCC;
  }
}
@keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em #CCC;
  }
  40% {
    box-shadow: 0 2.5em 0 0 #CCC;
  }
}