spacer{
    max-width: 100%;
    display: inline-block;
}
.error_alert_form{
    border: dashed 1px red;
    background-color: rgba(255, 0, 0, 0.25);
    text-align: center;
    vertical-align: middle;
    width: 100% !important;
    color: rgba(0, 0, 0, 0.7);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin: 0px;
    padding: auto;
    display: none;
}

.estadoPeticion{
    border: dashed 2px blACK;
    font-size: 15px;
    color: black;
    text-align: center;
    border-radius: 100px;
}
.estadoPeticion_error{
    border-color: red;
    background-color: rgba(255, 0, 0, 0.35);
}
.estadoPeticion_correcto{
    border-color: green;
    background-color: rgba(0, 255, 0, 0.35);
}

.main-sidebar{
    display: none !important;
}
input, .boton_primary, select, .select2, span{
    border-radius: 15px !important;
}
body{
    background-color: #e9ecef !important;
}
.boton_primary,.select2-results__option:hover{
    background-color: #001E62 !important;
    border-color: #001E62 !important;
    color:#fff !important;
}
.select2-results__option:hover{
    color: #FFF !important;
    border-radius: 15px;
}
thead tr{
    background-color: #e4e4e4;
    color: #000;
}
thead tr, table, thead{
    border-top-left-radius: 15px !important;
    border-top-right-radius: 15px !important;
}
table, #dataTable tbody table tr td, #dataTable thead table th td{
    text-align: center !important;
}