﻿@using PolizasElectronicas.Models.BD
@{
    Layout = "~/Views/Shared/_LayoutAseguradora.cshtml";
}

<link href="~/CSS/JqGrid/ui.jqgrid.css" rel="stylesheet" />
<link href="~/CSS/JqGrid/ui.jqgrid-bootstrap.css" rel="stylesheet" />
<link href="~/CSS/jQuery/jquery-ui.css" rel="stylesheet" />

<link href="~/CSS/AdminLTE.css" rel="stylesheet" />
<link href="~/CSS/AdminLTE.min.css" rel="stylesheet" />
<link href="~/CSS/BootStrap/css/bootstrap.css" rel="stylesheet" />
<link href="~/CSS/JqGrid/jquery-ui-timepicker-addon.css" rel="stylesheet" />
<link href="~/CSS/EstilosPolizas.css" rel="stylesheet" />

<link href="~/CSS/Footable/footable.core.css" rel="stylesheet" />
<link href="~/CSS/Footable/footable.metro.css" rel="stylesheet" />
<link href="~/CSS/Footable/bootstrap-glyphicons.css" rel="stylesheet" />
<link href="~/CSS/Footable/footable-demos.css" rel="stylesheet" />
<link href="~/CSS/Footable/bootstrap-glyphicons.css" rel="stylesheet" />

<!--<link rel="stylesheet" href="~/CSS/Registrador/stile.css"/>-->


<script src="~/scripts/jQuery/jquery-ui.js"></script>
<script src="~/scripts/jQuery/jquery.js"></script>
<script src="~/scripts/jQGrid/jquery.jqGrid.js"></script>
<script src="~/scripts/BootStrap/bootstrap.js"></script>
<script src="~/scripts/BootStrap/bootstrap.min.js"></script>
<script src="~/scripts/Validaciones.js"></script>
<script src="~/scripts/jQGrid/bootstrap-datepicker.js"></script>
@*Tablas Responsive*@

<script src="~/scripts/FooTable/footable.js"></script>
<script src="~/scripts/FooTable/footable.paginate.js"></script>
<script src="~/scripts/FooTable/bootstrap-tab.js"></script>
<script src="~/scripts/FooTable/demos.js"></script>
<script src="~/scripts/FooTable/footable.filter.js"></script>

<script src="~/scripts/Reglas.js" type="text/javascript"></script>

<script src="~/scripts/jquery.mask.js" type="text/javascript"></script>

<style type="text/css">
    .oculta {
        display: none;
    }

    caption {
        text-align: center;
        background-color: #e4e4e4;
        color: #5fa23e;
        margin-bottom: -10px;
        font-size: 20px;
        font-weight: bold;
        border-radius: 10px;
    }

    .span_titulo_tabla {
        font-weight: bold;
        font-size: 20px;
        color: black;
    }

    .img_tracking {
        width: 110px;
        background-color: white;
    }
    #alertMensaje{
        display: none;
        color: white;
        font-size: 15px;
        font-weight: 500;
        border-radius: 10px;
        text-align: center;
        padding: 10px;
        margin: 4px;
        /*background-color: red;*/
        width: 100%;
    }
    input{
        font-size: 16px !important;
        margin-bottom: 10px;
    }
    select{
        font-size: 16px !important;
    }
</style>

<script>
    $(document).ready(function () {
        aplicarMascaras(true);
        //Inicio DatePicker
        $("#txtFechaInicio").datepicker({
            minDate: '01/01/2000',
            changeMonth: true,
            changeYear: true,
            onSelect: function () { }
        });
        $("#txtFechaInicio").datepicker("option", { dateFormat: 'dd/mm/yy' });
        $("#txtFechaInicio").datepicker($.extend({}, $.datepicker.regional["es"]));

        //Inicio DatePicker
        $("#txtFechaFin").datepicker({
            minDate: '01/01/2000',
            changeMonth: true,
            changeYear: true,
            onSelect: function () { }
        });
        $("#txtFechaFin").datepicker("option", { dateFormat: 'dd/mm/yy' });
        $("#txtFechaFin").datepicker($.extend({}, $.datepicker.regional["es"]));

    });
</script>


<div style="width: 100%">
    @if (ViewData["MensajeError"] != null)
    {
        <script>
            alert('@ViewData["MensajeError"].ToString()');
        </script>
    }

    @if (ViewData["MensajeErrorDescargaPdf"] != null)
    {
        <script type="text/javascript">
            var respuesta = '@Html.Encode(ViewData["MensajeErrorDescargaPdf"].ToString())';
            $(window).load(function () { MensajeSistema('warning', respuesta); });
        </script>
    }

    <!-- Content Wrapper. Contains page content -->
    <div class="body-content">
        <!-- Main content -->
        <section class="content">
            <div class="row">

                <div class="loader" style="display:none"></div>

                <div class="col-xs-12">
                    <div>
                        <div class="box-header">
                            <h4>Usuarios</h4>
                            <div id="alertMensaje">---</div>
                            <div style="width:100%;">
                                <table id="dataTable" class="table demo  tablet breakpoint footable-loaded footable">
                                    <thead>
                                        <tr>
                                            <th>Identificación</th>
                                            <th>Nombre Usuario</th>
                                            <th>Email</th>
                                            <th>Tipo Usuario</th>
                                            <th>Editar</th>
                                        </tr>
                                    </thead>
                                    <tbody id="camposTabla">
                                        @foreach (UsuarioAseguradora item in ViewData["usuariosAseg"] as List<UsuarioAseguradora>)
                                        {
                                            <tr>
                                                <td>@item.Identificacion</td>
                                                <td>@item.Usuario</td>
                                                <td>@item.Email</td>
                                                @foreach (Perfil_Aseguradora item2 in ViewData["perfilesAseg"] as List<Perfil_Aseguradora>)
                                                {
                                                    if(item.idPerfil == item2.id_perfil_aseguradora)
                                                    {
                                                        <td>@item2.perfil_aseguradora1</td>
                                                    }
                                                }
                                                <td>
                                                    <button type="button" onclick="TipoPersonaAccion('@item.idUsuario','@item.Identificacion', '@item.Usuario','@item.idPerfil', '@item.Email')" class="btn btn_edit btn-sm"><i class="fa fa-user-edit"></i></button>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                                <button type="button" class="btn btn-primary" onclick="TipoPersonaAccionNueva()">Nuevo</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            @*PopupFirmaCompañia*@
            <div class="modal fade" id="popupFirma" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title"><span><img style="height:20px;" src="~/Imagenes/firmaElectronicaF.png" /></span> Descripción</h4>
                        </div>
                        <div class="body-content">
                            @using (Html.BeginForm("FirmaElectronicaAseguradora", "FirmaElectronica", FormMethod.Post, new { enctype = "multipart/form-data" }))
                            {
                                @Html.AntiForgeryToken()
                                <div class="col-xs-2 col-md-3 col-lg-12 row">
                                    <br />
                                    <div class="col-xs-2 col-md-3 col-lg-3">
                                        <b>Seleccione Su Archivo: </b>
                                    </div>
                                    <div class="col-xs-2 col-md-3 col-lg-5">
                                        <input type="file" name="flFirmaElectronica">
                                    </div>
                                </div>

                                <br /><br /><br />
                                <div class="col-xs-2 col-md-3 col-lg-12 row">
                                    <div class="col-xs-2 col-md-3 col-lg-3">
                                        <b>Ingrese Su Password: </b>
                                    </div>
                                    <div class="col-xs-2 col-md-3 col-lg-4">
                                        <input type="password" readonly="readonly" onfocus="this.removeAttribute('readonly');" class="form-control" name="txtPassword">
                                    </div>
                                </div>

                                <div class="clear"></div>

                                <div class="col-xs-2 col-md-3 col-lg-5 row">
                                </div>
                                <div class="col-xs-8 col-md-3 col-lg-2 row">
                                    <input type="submit" class="btn btn-primary" id="btnSubirFirma" value="Firmar" />
                                </div>
                                <div class="col-xs-2 col-md-3 col-lg-5 row">
                                </div>

                                <input type="hidden" class="form-control" id="txtIdPoliza" name="idPoliza" />
                            }
                        </div>
                        <div class="clear"></div>
                        <div>
                            <div class="panel-body">
                                <div class="panel2">
                                    <div class="row">
                                        <button type="button" class="btn btn-primary col-lg-offset-11" data-dismiss="modal">Cerrar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            @*PopupFirmaCompañia*@

            @*PopupTipoUsuario*@
            <div class="modal fade" id="popupTipoUsuario" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog modal-md" role="document">
                    <div class="modal-content">
                        <div class="modal-header" style="text-align:left">

                            <h4 class="modal-title" id="Tipo_Usuario_Titulo">TIPO USUARIO</h4>
                        </div>
                        <div class="body-content" id="contenido_tracking">

                            <br />
                            <div>
                                <center>
                                    <div class="" style="margin:25px 50px;">
                                        <div class="row">
                                            <div class="col-sm-6 center-block">
                                                <input type="text" id="TipUsu_idUsuario" class="input-sm form-control" placeholder="idUsuario" style="display: none"/>
                                                <input type="text" id="TipUsu_identificacion" class="input-sm form-control" placeholder="Identificación" required="required"/>
                                                <div class="error_alert_form_modal" id="e_TipUsu_identificacion">
                                                    <strong>Error</strong>
                                                </div>
                                            </div>
                                            <div class="col-sm-6 center-block">
                                                <input type="text" id="TipUsu_email" class="input-sm form-control" placeholder="Email" required="required" />
                                                <div class="error_alert_form_modal" id="e_TipUsu_email">
                                                    <strong>Error</strong>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-6 center-block">
                                                <input type="text" id="TipUsu_usuario" class="input-sm form-control" placeholder="Nombre Usuario" required="required"/>
                                                <div class="error_alert_form_modal" id="e_TipUsu_usuario">
                                                    <strong>Error</strong>
                                                </div>
                                            </div>
                                            <div class="col-sm-6 center-block">
                                                <select id="TipUsu_idPerfil" class="form-control col-xs-12 input-sm" required="required">
                                                    <option value="" selected>Tipo de usuario</option>
                                                    @foreach (Perfil_Aseguradora item in ViewData["perfilesAseg"] as List<Perfil_Aseguradora>)
                                                    {
                                                        <option value="@item.id_perfil_aseguradora">@item.perfil_aseguradora1</option>
                                                    }
                                                </select>
                                                <div class="error_alert_form_modal" id="e_TipUsu_idPerfil" style="margin: 0">
                                                    <strong>Error</strong>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </center>
                            </div>
                            <div id="editor"></div>
                            <div>
                                <div class="panel-body">
                                    <div class="panel2 row justify-content-center" style="margin: 0 50px;">
                                        <div class="col-xs-5 col-sm-3">
                                            <button type="button" class="btn btn-primary" onclick="registrar_usuario()" style="background-color: #52949e !important;border-color: #52949e !important;">Guardar</button>
                                        </div>
                                        <div class="col-xs-5 col-sm-3">
                                            <button type="button" class="btn btn-primary" data-dismiss="modal">Cerrar</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            @*PopupTipoUsuario*@

            @*PopupCambiaContraseñaAseguradora*@
            <div class="modal fade" id="popupContrasenaAseguradora" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog modal-md" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title" id="H1">CAMBIAR CONTRASEÑA</h4>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        </div>
                        <br />
                        @using (Html.BeginForm("CambiarContraseniaUsuarioAseguradora", "Usuario", FormMethod.Post, new { enctype = "multipart/form-data" }))
                        {
                            @Html.AntiForgeryToken()
                            <div class="" style="margin: 2.5% 50px">
                                <!--<div class="row justify-content-center">
                                    <div class="col-xs-6">
                                        Ingrese Su Identificación:
                                    </div>
                                    <div class="col-xs-6">
                                        <input type="number" name="txtIdentificacion" Onkeypress="return validaNumero(event);" class="form-control">
                                    </div>
                                </div>
                                <div class="clear"></div>-->
                                <div class="row">
                                    <div class="col-xs-6">
                                        Contraseña Actual:
                                    </div>
                                    <div class="col-xs-6">
                                        <input type="password" name="txtPasswordAct" readonly="readonly" Onkeypress="return validaLetras(event);" onfocus="this.removeAttribute('readonly');" class="form-control">
                                    </div>
                                </div>
                                <div class="clear"></div>
                                <div class="row">
                                    <div class="col-xs-6">
                                        Nueva Contraseña:
                                    </div>
                                    <div class="col-xs-6">
                                        <input type="password" name="txtPasswordNue" readonly="readonly" Onkeypress="return validaLetras(event);" onfocus="this.removeAttribute('readonly');" class="form-control">
                                    </div>
                                </div>
                                <div class="clear"></div>
                                <div class="row">
                                    <div class="col-xs-6">
                                        Confirmar Nueva Contraseña:
                                    </div>
                                    <div class="col-xs-6">
                                        <input type="password" name="txtPasswordConf" readonly="readonly" Onkeypress="return validaLetras(event);" onfocus="this.removeAttribute('readonly');" class="form-control">
                                    </div>
                                </div>
                            </div>
                                <br /><br />
                                <div class="container container-fluid">
                                    <div class="row justify-content-center">
                                        <div class="col-xs-12 text-red">
                                            * No ingrese carácteres especiales
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <div class="panel-body">
                                        <div class="panel2">
                                            <div class="row justify-content-center" style="margin: 0 5px;">
                                                <div class="col-xs-5">
                                                    <button type="submit" class="btn btn-secundario">Cambiar Contraseña</button>
                                                </div>
                                                <div class="col-xs-5">
                                                    <button type="button" class="btn btn-primary" data-dismiss="modal">Cerrar</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                        }
                    </div>
                </div>
            </div>
            @*PopupCambiaContraseñaAseguradora*@

            @*Popup Detalles Error*@
            <div class="modal fade" id="popupError" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title"><span><img style="height:30px;" src="~/Imagenes/AlertIco.png" /></span>  Descripción Del Error</h4>
                        </div>
                        <div>
                            <label id="ErrorDetalle" style="font-family:Arial; font-size:14px; padding:10px 20px;"></label>
                        </div>

                        <div>
                            <div class="panel-body">
                                <div class="panel2">
                                    <div class="row">
                                        <button type="button" class="btn btn-primary col-lg-offset-11" data-dismiss="modal">Cerrar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            @*Popup Detalles Error*@
        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
    <!--<footer class="main-footer">
        <div class="pull-right hidden-xs">
        </div>
        Copyright &copy; @DateTime.Now.Year Ecuatoriano Suiza - Desarrollado por <img src="~/Imagenes/viamatica.png" style="height:20px;">
    </footer>-->
    <div class="control-sidebar-bg"></div>
</div>

<input type="hidden" id="txtXML" name="txtXML" />

<script>
    //Llena Grid

    $("#txtCliente").keypress(function () {
        var nombre = $("#txtCliente").val();
        if (nombre.length > 3 ) {
            $("#txtCliente").autocomplete({
                source: function (request, response) {
                    $.ajax({
                        url: "/Usuario/Autocomplete",
                        type: "POST",
                        dataType: "json",
                        data: { 'nombre': $("#txtCliente").val() },
                        success: function (data) {

                            response($.map(data, function (data) {
                                return data;
                            }));
                        }
                    })
                },
                messages: {
                    noResults: "", results: ""
                }
            });
        }
    });

    $('#btnBuscar').click(function () {
        $(".loader").css("display","block");

        var poliza = $("#txtPoliza").val();
        var Endoso = $("#txtEndoso").val();
        var IdentificacionCliente = $("#txtIdentificacionCliente").val();
        var Cliente = $("#txtCliente").val();
        var Agente = $("#txtAgente").val();
        var CodAgente = $("#txtCodAgente").val();
        var ramo = $("#cmbRamo").val();
        var FechaInicio = $("#txtFechaInicio").val();
        var FechaFin = $("#txtFechaFin").val();

        if (comprobarFecha())
        {
            $.ajax({
                url: '/Usuario/CargarGrid',
                type: "POST",
                dataType: "html",
                cache: false,
                data: {
                    'txtPoliza': poliza,
                    'txtEndoso': Endoso,
                    'txtCliente': Cliente,
                    'txtIdentificacionCliente': IdentificacionCliente,
                    'txtAgente': Agente,
                    'txtCodAgente': CodAgente,
                    'cmbRamo': ramo,
                    'txtFechaInicio': FechaInicio,
                    'txtFechaFin': FechaFin
                },
                success: function (data) {
                    $('#divGrid').html(data);
                    $(".loader").css("display", "none");
                },
                error: function (ex) {
                    alert('Error En La Comunicación: ' + ex);
                },
            });
        }
    });

    function MensajeSistema(tipo, mensaje) {
        //'error|success|warning|info', // Any of the following
        Lobibox.alert(tipo, {
            msg: mensaje
        });
    }

    function MostrarNotificacionEsquinera(tipo, mensaje) {
        // Available types 'warning', 'info', 'success', 'error'
        Lobibox.notify(tipo, {
            size: 'mini',
            rounded: true,
            delayIndicator: false,
            msg: mensaje
        });
    }

</script>

<script type="text/javascript">
    function descarGarPDF() {
        var mywindow = window.open('', 'PRINT', 'height=600,width=800');
        mywindow.document.write('<html><head>');
        mywindow.document.write('<style>');
        $("style").each(function () {
            mywindow.document.write($(this).html());
        });
        mywindow.document.write('img{width: 150px; margin: 0 20px}.col-2{display: inline-block !important}button{display:none !important}');
        mywindow.document.write('</style>');
        mywindow.document.write('</head><body>');
        mywindow.document.write($('#contenido_tracking').html());
        mywindow.document.write('</body></html>');
        mywindow.document.close(); // necesario para IE >= 10
        $("head link").each(function () {
            var css = mywindow.document.createElement("link");
            css.setAttribute("href", $(this).attr('href'));
            css.setAttribute("rel", "stylesheet");
            css.setAttribute("type", "text/css");
            mywindow.document.head.appendChild(css);
        });

        $("head script").each(function () {
            var css = mywindow.document.createElement("script");
            css.setAttribute("src", $(this).attr('src'));
            css.setAttribute("type", "text/javascript");
            mywindow.document.head.appendChild(css);
        });
        mywindow.focus(); // necesario para IE >= 10
        mywindow.print();
        mywindow.close();
        return true;
    }

    /*function LlenarTracking(creacion, firmaAseguradora, creacionToken, envioEmail, firmaCliente, envioSuper, aceptadoSuper, numPoliza, tokenFirmante) {

        $("#img_1_on").hide(); $("#img_2_on").hide(); $("#img_3_on").hide(); $("#img_4_on").hide(); $("#img_5_on").hide();
        $("#img_1_off").show(); $("#img_2_off").show(); $("#img_3_off").show(); $("#img_4_off").show(); $("#img_5_off").show();
        $("#div_trac_1").attr("class", ""); $("#div_trac_2").attr("class", ""); $("#div_trac_3").attr("class", ""); $("#div_trac_4").attr("class", ""); $("#div_trac_5").attr("class", "");
        cont_pos = 0;

        $("#tracking_poliza_titulo").html("Tracking Póliza #" + numPoliza);

        $("#trac_creacion").html(creacion);
        $("#trac_firmaAseguradora").html(firmaAseguradora);
        $("#trac_creacionToken").html(creacionToken);
        $("#trac_envioEmail").html(envioEmail);
        $("#trac_firmaCliente").html(firmaCliente);
        $("#trac_envioSuper").html(envioSuper);
        $("#trac_aceptadoSuper").html(aceptadoSuper);

        $("#trac_tokenFirmante").html(tokenFirmante);

        if (aceptadoSuper != "") cont_pos = 5;
        else {
            if (envioSuper != "") cont_pos = 4;
            else {
                if (firmaCliente != "") cont_pos = 3;
                else {
                    if (firmaAseguradora != "") cont_pos = 2;
                    else if (creacion != "") cont_pos = 1;
                }
            }
        }
        while (cont_pos > 0) {
            $("#img_" + cont_pos + "_on").show();
            $("#div_trac_" + cont_pos).attr("class", "punto_verde_tracking");
            $("#img_" + cont_pos + "_off").hide();
            cont_pos = cont_pos - 1;
        }

        $('#popupTracking').modal('toggle');
    }*/
    function TipoPersonaAccion(_idUsuario, _identificacion, _usuario, _idPerfil, _email) {
        $('.error_alert_form_modal').hide();
        $('.error_alert_form_modal').html("");


        $("#Tipo_Persona_Titulo").html(_usuario);

        $("#TipUsu_idUsuario").val(_idUsuario);
        $("#TipUsu_identificacion").val(_identificacion);
        $("#TipUsu_usuario").val(_usuario);
        $("#TipUsu_idPerfil").val(_idPerfil);
        $("#TipUsu_email").val(_email);

        $("#TipUsu_identificacion").attr('disabled', 'disabled');
        $("#TipUsu_usuario").attr('disabled', 'disabled');
        $("#TipUsu_email").attr('disabled', 'disabled');

        $('#popupTipoUsuario').modal('toggle');
    }

    function TipoPersonaAccionNueva() {
        $('.error_alert_form_modal').hide();
        $('.error_alert_form_modal').html("");

        $("#TipUsu_idUsuario").val("");
        $("#TipUsu_identificacion").val("");
        $("#TipUsu_usuario").val("");
        $("#TipUsu_idPerfil").val("");
        $("#TipUsu_email").val("");

        $("#TipUsu_identificacion").removeAttr("disabled");
        $("#TipUsu_usuario").removeAttr("disabled");
        $("#TipUsu_email").removeAttr("disabled");

        $('#popupTipoUsuario').modal('toggle');
    }

    function aplicarMascaras(valor) {
        if (valor) {
            $('input').unmask();
            //$('#TipUsu_idUsuario').mask('(00) 000-0000');
            $('#TipUsu_identificacion').mask('0000000000');
            //$('#TipUsu_usuario').mask('0000000000');
            //$('#TipUsu_idPerfil').mask('0000000000');
            //$('#TipUsu_email').mask('0000000000');
        } else {
            $('input').unmask();
        }
    }

    function GuardarTipoUsuario() {
        $(".loader").css("display", "block");
        //$(".alertMensaje").css("display", "none");
        $("#alertMensaje").hide();

        aplicarMascaras(false);

        var _email = $("#TipUsu_email").val();
        var _identificacion = $("#TipUsu_identificacion").val();
        var _usuario = $("#TipUsu_usuario").val();
        var _idPerfil = $("#TipUsu_idPerfil").val();
        var _idUsuario = $("#TipUsu_idUsuario").val();

        aplicarMascaras(true);

            $.ajax({
                url: '/UsuarioAseguradora/GuardarUsuario',
                type: "POST",
                dataType: "json",
                cache: false,
                data: {
                    'Email': _email,
                    'Identificacion': _identificacion,
                    'Usuario': _usuario,
                    'idPerfil': _idPerfil,
                    'idUsuario': _idUsuario
                },
                success: function (data) {
                    if (data == "ok") {
                        //console.log("bien");
                        $("#alertMensaje").css("background-color", "green");
                        $("#alertMensaje").html("Se guardo correctamente");
                        $("#alertMensaje").show();

                        ConsultarUsuarios();
                    }
                    else {
                        $("#alertMensaje").css("background-color", "red");
                        $("#alertMensaje").html(data);
                        $("#alertMensaje").show();
                    }
                },
                error: function (ex) {
                    //alert('Error En La Comunicación: ' + ex);
                    $("#alertMensaje").css("background-color", "red");
                    $("#alertMensaje").html("Error en la comunicación");
                    $("#alertMensaje").show();
                },
                complete: function () {
                    $(".loader").css("display", "none");
                    $('#popupTipoUsuario').modal('hide');
                }
            });
    }



    function ConsultarUsuarios() {
        $(".loader").css("display", "block");
        //$(".alertMensaje").css("display", "none");
        //$("#alertMensaje").hide();

        $("#camposTabla").html("");

        $.ajax({
            url: '/UsuarioAseguradora/ConsultarUsuarios',
            type: "POST",
            dataType: "json",
            cache: false,
            data: {},
            success: function (data) {
                if (data.mensaje == "ok") {
                    //console.log("bien");
                    var filas = "";
                    var fila = "";
                    $.each(data.usuarios, function (index, val) {
                        fila = "<tr>";
                        fila += "<td>" + val.Identificacion + "</td>";
                        fila += "<td>" + val.Usuario + "</td>";
                        fila += "<td>" + val.Email + "</td>";
                        fila += "<td>";
                        $.each(data.perfiles, function (ind2, val2) {
                            if (val2.id_perfil_aseguradora == val.idPerfil) fila += val2.perfil_aseguradora1;
                        });
                        fila += "</td>";
                        fila += "<td>" + "<button type=\"button\" onclick=\"TipoPersonaAccion('" + val.idUsuario + "','"+val.Identificacion+"', '"+val.Usuario+"','"+val.idPerfil+"', '"+val.Email+"')\" class=\"btn btn_edit btn-sm\"><i class=\"fa fa-user-edit\"></i></button>" + "</td>";
                        fila += "</tr>";

                        filas += fila;
                    });

                    $("#camposTabla").html(filas);
                }

            },
            error: function (ex) {
                //alert('Error En La Comunicación: ' + ex);

            },
            complete: function () {
                $(".loader").css("display", "none");
                //$('#popupTipoUsuario').modal('hide');
            }
        });
    }
</script>

<script>
    function registrar_usuario() {
        var seguir = true;
        $("#contenedor_cargando").show();
        $('.error_alert_form_modal').hide();
        $('.error_alert_form_modal').html("");
        try {
            if (validacion_form_espec('TipUsu_identificacion', 'cedula') == false) seguir = false;
            if (validacion_form_espec('TipUsu_usuario', 'nombresConTildeEspacio') == false) seguir = false;
            if (validacion_form_espec('TipUsu_email', 'email') == false) seguir = false;
            if (validacion_form('TipUsu_idPerfil', 0, 20, [expresionesRegulares.numeros], "Elija un tipo de usuario") == false) seguir = false;

            if (seguir == false) $("#contenedor_cargando").hide(10);
            //return seguir;
            if (seguir == true) GuardarTipoUsuario();
        } catch (Exception) {
            return false;
            $("#contenedor_cargando").hide(10);
        }
    }
</script>