﻿
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="csrf-token" content="{{ csrf_token() }}">
    <title>Formulario de Registro | Seguros Condor</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Bootstrap 3.3.7 -->
    <link rel="stylesheet" href="~/CSS/BootStrap/css/bootstrap.min.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/CSS/Registrador/vendor/font-awesome/css/font-awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="~/CSS/Registrador/vendor/Ionicons/css/ionicons.min.css">
    <link rel="stylesheet" href="~/CSS/Registrador/cargando.css">
    <link rel="stylesheet" href="~/CSS/Registrador/stile.css">

    <!-- Select2 -->
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.css">

    <!-- Theme style -->
    <link rel="stylesheet" href="~/CSS/Registrador/dist/css/AdminLTE.min.css">

    <!-- DataTables with bootstrap 3 style -->
    <link rel="stylesheet" href="//cdn.datatables.net/v/bs/dt-1.10.18/datatables.min.css">

    <link rel="icon" type="image/png" href="~/Imagenes/logo-aseguradora-icon.png">


    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- Google Font -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">

    <link rel="stylesheet" href="~/CSS/Registrador/css/auth.css">

    <!-- Libreria para Alertas -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" rel="stylesheet" />
</head>

<body class="hold-transition">

    <!-- EFECTO CARGANDO -->
    <div id="contenedor_cargando">
        <div class="loader" id="loader">Loading...</div>
    </div>
    <!-- EFECTO CARGANDO -->

    <div class="register-box">
        <div class="register-logo" style="margin-bottom: 0">
            <a><img src="~/Imagenes/logo-condor.png" width="70%" /></a>
        </div>

        <div class="register-box-body">
            <form action="/Registrador/RegistrarUsuario" onsubmit="return registrar(); return false;" method="post">

                @if (ViewData["estadoPeticion"] != null)
                {
                    <div class="form-group has-feedback">
                        @*@if ((string)ViewData["estadoPeticion"] == "correcto")
                        {
                            <div class="estadoPeticion estadoPeticion_correcto">Se registro este usuario</div>
                        }
                        else
                        {
                            if ((string)ViewData["estadoPeticion"] == "actualizado")
                            {
                                <div class="estadoPeticion estadoPeticion_correcto">Este usuario ha sido actualizado, ahora necesita ser aprobado</div>
                            }
                            else
                            {
                                <div class="estadoPeticion estadoPeticion_error">@ViewData["estadoPeticion"]</div>
                            }
                        }*@
                        @if ((string)ViewData["estadoPeticion"] == "ok")
                        {
                            <div class="estadoPeticion estadoPeticion_correcto">@ViewData["estadoPeticion_r"]</div>
                            <script>
                                setTimeout("location.href='/Usuario/Index'", 3000);
                            </script>
                        }
                        else
                        {
                            <div class="estadoPeticion estadoPeticion_error">@ViewData["estadoPeticion_r"]</div>
                        }
                    </div>
                }

                <div class="form-group has-feedback">
                    <select name="tipoPersona" id="tipoPersona" class="js-select2 form-control" style="width: 100%">
                        <option value="juridica">Persona Jurídica</option>
                        <option value="natural">Persona Natural</option>
                    </select>

                </div>

                <div id="divPersonaJuridica">

                    <div class="form-group has-feedback">
                        <input type="text" name="RUC_empresa" id="rucEmpresa" class="form-control" value=""
                               placeholder="RUC empresa" required>

                        <div class="error_alert_form" id="e_rucEmpresa">
                            <strong>Error</strong>
                        </div>
                    </div>

                    <div class="form-group has-feedback">
                        <input type="text" name="Nombre_empresa" id="razonSocial" class="form-control" value=""
                               placeholder="Razón Social" readonly>

                        <div class="error_alert_form" id="e_razonSocial">
                            <strong>Error</strong>
                        </div>
                    </div>

                </div>
                <div id="divPersonaNatural">
                    <div class="form-group has-feedback">
                        <select name="tipoIdentificacionFirmante" id="tipoIdentificacionFirmante" class="js-select2 form-control">
                            <option value="cedula">Cédula Identidad</option>
                            <option value="pasaporte">Pasaporte</option>
                        </select>
                    </div>
                </div>

                <div class="form-group has-feedback">
                    <input type="text" name="RUC_cedula_firmante" id="identificacionFirmante" class="form-control" value=""
                           placeholder="Número de identificación firmante" required>

                    <div class="error_alert_form" id="e_identificacionFirmante">
                        <strong>Error</strong>
                    </div>
                </div>

                <div class="form-group has-feedback">
                    <input type="text" name="Nombre_firmante" id="nombreFirmante" class="form-control" value=""
                           placeholder="Nombres y Apellidos firmante" required>

                    <div class="error_alert_form" id="e_nombreFirmante">
                        <strong>Error</strong>
                    </div>
                </div>

                <div class="form-group has-feedback">
                    <input type="email" name="Email_empresa" id="emailFirmante" class="form-control" value=""
                           placeholder="Email firmante" required>

                    <div class="error_alert_form" id="e_emailFirmante">
                        <strong>Error</strong>
                    </div>
                </div>

                <!--<div class="form-group has-feedback">
                    <div>
                        <input type="text" name="Telefono_Firmante" class="form-control" id="telefono" value=""
                               placeholder="Teléfono Convencional" required>
                    </div>

                    <div class="error_alert_form" id="e_telefono">
                        <strong>Error</strong>
                    </div>
                </div>-->

                <div class="form-group has-feedback">
                    <div>
                        <input type="text" name="Celular_firmante" id="celular" class="form-control" value=""
                               placeholder="Telefono Celular" required>
                    </div>

                    <div class="error_alert_form" id="e_celular">
                        <strong>Error</strong>
                    </div>
                </div>

                <div class="form-group has-feedback">
                    <input type="text" name="Cargo_firmante" id="cargo" class="form-control" value=""
                           placeholder="Cargo" required>

                    <div class="error_alert_form" id="e_cargo">
                        <strong>Error</strong>
                    </div>
                </div>

                <div style="text-align: center; font-size: 11.5px">
                    <p>
                        <input type="checkbox" id="checkTerminos" />
                        Aceptar <a data-toggle="modal" data-target="#myModal">Terminos y condiciones</a>
                    </p>
                    <p>Tanto el email como el celular quedan registrados para envio de notificaciones</p>
                    <p>Todos los campos son obligatorios.</p>
                </div>


                <button type="submit" id="btn_registrar" disabled
                        class="btn btn-primary btn-block btn-flat boton_primary">
                    Registrarse
                </button>
            </form>

        </div>
        <!-- /.form-box -->
    </div><!-- /.register-box -->
    <!-- Modal -->
    <div id="myModal" class="modal fade" role="dialog" style="border-radius:10px">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content" style="border-radius:10px">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Términos y Condiciones</h4>
                </div>
                <div class="modal-body">
                    <p>
                        EL CLIENTE declara que es su libre voluntad recibir llamadas y/o mensajes masivos o individuales SMS, MAILING, IVR, correos electrónicos: con fines de información o aceptación de los productos de seguros vigentes y futuros contratados  con la Compañía Seguros Cóndor S.A., con fines comerciales, publicitarios o todo tipo de información relacionada al crédito directo tales como vencimientos de  cuotas, gestión de cobranzas,  y por tanto declara que la autoriza para que ésta utilice o contrate los medios de comunicación que considere adecuados para el efecto, además el cliente tendrá  la posibilidad de solicitar la anulación del servicio de forma expresa
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default .boton_primary" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>

    <script src="~/CSS/Registrador/vendor/jquery/dist/jquery.min.js"></script>
    <script src="~/CSS/Registrador/vendor/jquery/dist/jquery.slimscroll.min.js"></script>
    <script src="~/CSS/Registrador/vendor/bootstrap/dist/js/bootstrap.min.js"></script>

    <!-- Select2 -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>

    <!-- DataTables with bootstrap 3 renderer -->
    <script src="//cdn.datatables.net/v/bs/dt-1.10.18/datatables.min.js"></script>

    <!-- ChartJS -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.0/Chart.bundle.min.js"></script>


    <script src="~/scripts/Reglas.js" type="text/javascript"></script>

    <script src="~/scripts/jquery.mask.js" type="text/javascript"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>

    <script src="~/scripts/Validaciones.js" type="text/javascript"></script>
    <script>
        var rucInicial="", cedulaInicial="";
        function aplicarMascaras(valor) {
            if (valor) {
                $('input').unmask();
                $('#telefono').mask('(00) 000-0000');
                $('#rucEmpresa').mask('0000000000000');
                $('#identificacionFirmante').mask('0000000000');
                $('#celular').mask('0000000000');
            } else {
                $('input').unmask();
            }
        }

            $(document).ready(function () {
                //$('#telefono').mask('(00) 000-0000');
                aplicarMascaras(true);
                $('.js-select2').select2();
                mostrarCampos();

                $('#tipoPersona').change(function () {
                    mostrarCampos();
                    if (!($('#tipoPersona').val() == "juridica")) {
                        $("#nombreFirmante").val("");
                        $("#emailFirmante").val("");
                        $("#telefono").val("");
                        $("#celular").val("");
                        $("#cargo").val("");
                    }
                });

                $('#tipoIdentificacionFirmante').change(function () {
                    mostrarCampos();
                });

                //$("#btn_registrar").attr('disabled', 'disabled');
                $("#checkTerminos").on('change', function () {
                    if ($("#checkTerminos").is(':checked')) $("#btn_registrar").removeAttr("disabled");
                    else $("#btn_registrar").attr('disabled', 'disabled');
                });

            });

            //$("#razonSocial").attr('disabled', 'disabled');
            var razonSocial = null; //identifica si la razon social si cargo

            function bloquear_desbloquear_campos() {
                if (($("#nombreFirmante").val() || "").length > 0) {
                    bloquear("nombreFirmante", true);
                    bloquear("emailFirmante", true);
                    bloquear("telefono", true);
                    bloquear("celular", true);
                } else {
                    bloquear("nombreFirmante", false);
                    bloquear("emailFirmante", false);
                    bloquear("telefono", false);
                    bloquear("celular", false);
                }
            }

            function bloquearCamposNaturalVacio() {
                bloquear("nombreFirmante", true);
                bloquear("emailFirmante", true);
                bloquear("telefono", true);
                bloquear("celular", true);
            }

            function bloquear(campo, bool) {
                if (bool) $("#"+campo).attr("readonly", "readonly");
                else $("#"+campo).removeAttr("readonly");
            }

            function mostrarCampos() {
                bloquear_desbloquear_campos();
                if ($('#tipoPersona').val() == "juridica" || $('#tipoIdentificacionFirmante').val() == "pasaporte") {
                    $("#divPersonaJuridica").show(200);
                    $("#divPersonaNatural").hide(200);
                    ///////
                    $("#cargo").show(200);
                    $("#cargo").removeAttr("readonly");
                    /*if (($("#emailFirmante").val() || "").length > 0) $("#emailFirmante").attr("readonly", "readonly");
                    $("#celular").removeAttr("readonly");*/
                    //if (($("#celular").val() || "").length > 0) $("#celular").attr("readonly", "readonly");
                    $("#celular").removeAttr("readonly");
                    $("#emailFirmante").removeAttr("readonly");
                    /////
                    $("#rucEmpresa").removeAttr("disabled");
                    //$("#razonSocial").removeAttr("disabled");
                } else {
                    $("#divPersonaJuridica").hide(200);
                    $("#divPersonaNatural").show(200);
                    ////////
                    $("#cargo").hide(200);
                    $("#cargo").attr("readonly", "readonly");
                    /*if (($("#celular").val() || "").length > 0) $("#celular").attr("readonly", "readonly");
                    $("#emailFirmante").removeAttr("readonly");*/
                    if (($("#emailFirmante").val() || "").length > 0) $("#emailFirmante").attr("readonly", "readonly");
                    $("#celular").removeAttr("readonly");
                    ///////
                    $("#rucEmpresa").attr('disabled', 'disabled');
                    //$("#razonSocial").attr('disabled', 'disabled');
                }
            }

            function registrar() {
                aplicarMascaras(false);
                var seguir = true;
                $("#contenedor_cargando").show();
                $('.error_alert_form').hide();
                $('.error_alert_form').html("");
                try {
                    if ($('#tipoPersona').val() == "juridica") {
                        //if( validacion_form_espec('razonSocial', 'nombresConTildeEspacio') == false  ) seguir = false;
                        if (validacion_form_espec('rucEmpresa', 'ruc') == false) seguir = false;
                        if ($('#razonSocial').val() == ".Ocurrio un error." ||
                            $('#razonSocial').val() == ".No existe este cliente." ||
                            $('#razonSocial').val() == "" ||
                            $('#razonSocial').val() == null) {
                            show_msj_error("razonSocial", 'Ingrese una razon social valida');
                            seguir = false;
                        }
                        if (validacion_form('cargo', 4, 30, [expresionesRegulares.letrasConTilde]) == false) seguir = false;
                        //if( validacion_form('rucEmpresa', 13, 13, [expresionesRegulares.numeros]) == false  ) seguir = false;
                        //if (validacion_form_espec('identificacionFirmante', 'cedula') == false) seguir = false;
                    } else {
                        //if (validacion_form_espec('identificacionFirmante', 'cedula') == false) seguir = false;
                    }
                    //tipoIdentificacionFirmante
                    if ($("#tipoPersona").val() == 'juridica' || $('#tipoIdentificacionFirmante').val() == 'pasaporte') {
                        if (validacion_form('identificacionFirmante', 4, 20, []) == false) seguir = false;
                    } else if (validacion_form_espec('identificacionFirmante', 'cedula') == false) seguir = false;

                    if (validacion_form_espec('nombreFirmante', 'nombresConTildeEspacio') == false) seguir = false;
                    if (validacion_form_espec('emailFirmante', 'email') == false) seguir = false;
                    //if (validacion_form_espec('telefono', 'telefono') == false) seguir = false;
                    if (validacion_form_espec('celular', 'celular') == false) seguir = false;
                    if ($("#tipoPersona").val() == 'juridica' && razonSocial == false) {
                        seguir = false;
                        show_msj_error("razonSocial", "Debe contener una Razón Social Valida");
                    }
                    if (seguir == false) $("#contenedor_cargando").hide(10);
                    //return seguir;
                } catch (Exception) {
                    //return false;
                    //alertaFlotante("error", Exception);
                    //throw Exception;
                    seguir = false;
                    $("#contenedor_cargando").hide(10);
                }
                if(!seguir) aplicarMascaras(true);
                return seguir;
            }

            $('#rucEmpresa').on('keyup', function () {

                if ($("#rucEmpresa").val().length == 13 && $("#rucEmpresa").val() != rucInicial) {
                    rucInicial = $("#rucEmpresa").val();

                    var val = $('#rucEmpresa').val();
                    $("#contenedor_cargando").show();
                    razonSocial = false;

                    $.ajax({
                        headers: {
                            'X-CSRF-TOKEN': $('meta[name="csrf-token"]').attr('content')
                        },
                        url: '/Registrador/consultarRazonSocial/',
                        data: {
                            Ruc: val
                        },
                        dataType: 'json',
                        type: 'post',
                        success: function (respuesta) {
                            //console.log(respuesta);
                            var todasLasFilas = "";
                            $("#camposTabla").html("");
                            if (respuesta.error == "false") {
                                $("#razonSocial").val(respuesta.result);
                                razonSocial = true;
                            }
                            else {
                                //$("#razonSocial").val(".No existe este cliente.");
                                $("#razonSocial").val("");
                                alertaFlotante("warning", respuesta.result, "");
                            }
                        },
                        error: function () {
                            //console.log("No se ha podido obtener la información");
                            //$("#razonSocial").val(".Ocurrio un error.");
                            $("#razonSocial").val("");
                            alertaFlotante("error", "Ocurrio un error", "Error");
                        },
                        complete: function () {
                            //alert('Petición realizada');
                            $("#contenedor_cargando").hide(10);
                            aplicarMascaras(true);
                        }
                    });
                } else { }

            });


    $('#identificacionFirmante').on('keyup', function () {

        try{

            if ($("#identificacionFirmante").val().length == 10 && $("#identificacionFirmante").val() != cedulaInicial && validacion_form_espec("identificacionFirmante", "cedula")) {
                $("#e_identificacionFirmante").hide(200);
                cedulaInicial = $("#identificacionFirmante").val();

                $("#nombreFirmante").val("");
                $("#emailFirmante").val("");
                $("#telefono").val("");
                $("#celular").val("");

                var val = $('#identificacionFirmante').val();
                $("#contenedor_cargando").show();

                $.ajax({
                    url: '/Registrador/consultarIdentificacionF/',
                    data: {
                        Identificacion: val
                    },
                    dataType: 'json',
                    type: 'post',
                    success: function (respuesta) {
                        //console.log(respuesta);
                        //$("#camposTabla").html("");
                        if (respuesta.estado == "OK") {
                            if (respuesta.cliente.Email.length > 0) {
                                $("#emailFirmante").val(respuesta.cliente.Email);
                                $('#e_emailFirmante').hide();
                                $('#e_emailFirmante').html("");
                            }
                            if (respuesta.cliente.Nombre.length > 0) {
                                $("#nombreFirmante").val(respuesta.cliente.Nombre);
                                $('#e_nombreFirmante').hide();
                                $('#e_nombreFirmante').html("");
                            }
                            /*if (respuesta.cliente.telefono.length > 0) {
                                $("#telefono").val(respuesta.cliente.telefono);
                                $('#e_telefono').hide();
                                $('#e_telefono').html("");
                            }*/
                            if (respuesta.cliente.celular.length > 0) {
                                $("#celular").val(respuesta.cliente.celular);
                                $('#e_celular').hide();
                                $('#e_celular').html("");

                                alertaFlotante("warning", "Actualice su número celular en caso de ser necesario", "");
                            }
                            mostrarCampos();
                        } else {
                            if (!($('#tipoPersona').val() == "juridica")) {
                                bloquearCamposNaturalVacio();
                            }
                        }
                        //mostrarCampos();
                            //else $("#razonSocial").val(respuesta.mensaje);
                        //else alertaFlotante("error",respuesta.mensaje, "Error");
                    },
                    error: function () {
                        //console.log("No se ha podido obtener la información");
                        alertaFlotante("error", "Ocurrio un error", "Error");
                    },
                    complete: function () {
                        //alert('Petición realizada');
                        $("#contenedor_cargando").hide(10);
                        aplicarMascaras(true);
                    }
                });
            } else { }
        
        } catch (Exception) {
            $("#contenedor_cargando").hide();
        }

    });

    </script>


    </body>
</html>