﻿@model HandleErrorInfo

@{
    ViewBag.Title = "Error";
    Layout = null;
}

<link href="~/CSS/AdminLTE.css" rel="stylesheet" />
<link href="~/CSS/AdminLTE.min.css" rel="stylesheet" />
<link href="~/CSS/BootStrap/css/bootstrap.css" rel="stylesheet" />

<div class="container-fluid">
    <br /><br />
    <!-- Main content -->
    <section class="content">
        <div class="error-page">
            <h2 class="headline text-yellow"> 404</h2>
            <div class="error-content">
                <h2><i class="fa fa-warning text-yellow"></i> Oops! No Se Encontró la Página.</h2>
                <h4><i class="fa fa-warning text-blue"></i> <b>Consulte con su Aseguradora.</b></h4>
                <p>
                    Error Message: @Model.Exception.Message<br />
                    Controller: @Model.ControllerName<br />
                    Action: @Model.ActionName
                </p>
            </div>
            <!-- /.error-content -->
        </div>
        <!-- /.error-page -->
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->
<footer class="main-footer">
    <div class="pull-right hidden-xs">
    </div>
    Copyright &copy; 2018 - Desarrollado por <img src="~/Imagenes/viamatica.png" style="height:20px;">
</footer>
<div class="control-sidebar-bg"></div>