﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>FirmaElectronica</title>
</head>
<body>
    <div> 
        <div class="form-group">
            @using (Html.BeginForm("FirmaElectronica", "FirmaElectronica", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                <input type="file" name="flFirmaElectronica">
                <input type="submit" name="btnSubirFirma" value="Subir" />
            }
        </div>
    </div>
</body>
</html>
