﻿@model PolizasElectronicas.Models.Models.JqGridListViewModel
@{
    Layout = "~/Views/Shared/_LayoutAseguradora.cshtml";
}

<link href="~/CSS/JqGrid/ui.jqgrid.css" rel="stylesheet" />
<link href="~/CSS/JqGrid/ui.jqgrid-bootstrap.css" rel="stylesheet" />
<link href="~/CSS/jQuery/jquery-ui.css" rel="stylesheet" />

<link href="~/CSS/EstilosPolizas.css" rel="stylesheet" />

<link href="~/CSS/AdminLTE.css" rel="stylesheet" />
<link href="~/CSS/AdminLTE.min.css" rel="stylesheet" />
<link href="~/CSS/BootStrap/css/bootstrap.css" rel="stylesheet" />
<link href="~/CSS/JqGrid/jquery-ui-timepicker-addon.css" rel="stylesheet" />
<link href="~/CSS/EstilosPolizas.css" rel="stylesheet" />
<link href="~/CSS/lobibox/lobibox.min.css" rel="stylesheet" />

<link href="~/TrackingArchivos/estilos.css" rel="stylesheet" />

<script src="~/scripts/jQuery/jquery.js"></script>
<script src="~/scripts/jQuery/jquery-ui.js"></script>
<script src="~/scripts/jQGrid/jquery.jqGrid.js"></script>
<script src="~/scripts/Validaciones.js?update=20201015"></script>
<script src="~/scripts/BootStrap/bootstrap.js"></script>
<script src="~/scripts/BootStrap/bootstrap.min.js"></script>
<script src="~/scripts/jQGrid/grid.locale-en.js"></script>

@*Manejo de Mensajes y Notificaciones del sistema*@
<script src="~/scripts/lobibox/lobibox.min.js"></script>
<script src="~/scripts/lobibox/messageboxes.min.js"></script>
<script src="~/scripts/lobibox/notifications.min.js"></script>

<style type="text/css">
    .oculta {
        display: none;
    }

    caption {
        text-align: center;
        background-color: #e4e4e4;
        color: #5fa23e;
        margin-bottom: -10px;
        font-size: 20px;
        font-weight: bold;
        border-radius: 10px;
    }

    .span_titulo_tabla {
        font-weight: bold;
        font-size: 20px;
        color: black;
    }

    .img_tracking {
        width: 110px;
        background-color: white;
    }
</style>

<script>
    $(document).ready(function () {
        //Inicio DatePicker
        $("#txtFechaInicio").datepicker({
            minDate: '01/01/2000',
            changeMonth: true,
            changeYear: true,
            onSelect: function () { }
        });
        $("#txtFechaInicio").datepicker("option", { dateFormat: 'dd/mm/yy' });
        $("#txtFechaInicio").datepicker($.extend({}, $.datepicker.regional["es"]));

        //Inicio DatePicker
        $("#txtFechaFin").datepicker({
            minDate: '01/01/2000',
            changeMonth: true,
            changeYear: true,
            onSelect: function () { }
        });
        $("#txtFechaFin").datepicker("option", { dateFormat: 'dd/mm/yy' });
        $("#txtFechaFin").datepicker($.extend({}, $.datepicker.regional["es"]));

    });
</script>


<div style="width: 100%">
    @if (ViewData["MensajeError"] != null)
    {
        <script>
            @*alert('@ViewData["MensajeError"].ToString()');*@
            alertaFlotante("error", '@ViewData["MensajeError"].ToString()');
        </script>
    }

    @if (ViewData["MensajeErrorDescargaPdf"] != null)
    {
        <script type="text/javascript">
            var respuesta = '@Html.Encode(ViewData["MensajeErrorDescargaPdf"].ToString())';
            $(window).load(function () { MensajeSistema('warning', respuesta); });
        </script>
    }

    <!-- Content Wrapper. Contains page content -->
    <div class="body-content">
        <!-- Main content -->
        <section class="content">
            <div class="row">

                <div class="col-xs-12">
                    <div>
                        <div class="box-header">
                            <h4 class="color_primario"><b>BÚSQUEDA ESPECÍFICA</b></h4>
                            <div style="width:100%;">
                                <div class="col-xs-12 row">
                                    <div class="col-xs-12 col-lg-3">
                                        <select id="cmbRamo" class="form-control col-xs-12 input-sm">
                                            <option value="">Seleccione Ramo</option>
                                            @foreach (var item in ViewData["CmbRamo"] as IEnumerable<SelectListItem>)
                                            {
                                                <option value="@item.Value">@item.Text</option>
                                            }
                                        </select>
                                    </div>
                                    <div class="col-xs-12 col-lg-3">
                                        <input type="text" id="txtPoliza" class="input-sm form-control" placeholder="Número Póliza" />
                                    </div>
                                    <div class="col-xs-12 col-lg-3">
                                        <input type="text" id="txtEndoso" class="input-sm form-control" placeholder="Endoso" />
                                    </div>
                                    <div class="col-xs-12 col-lg-3">
                                        <input type="text" id="txtIdentificacionCliente" Onkeypress="return validaNumero(event);" class="input-sm form-control" placeholder="Identificación Cliente" />
                                    </div>
                                </div>
                                <div class="clear"></div>
                                <div class="col-xs-12 row">
                                    <div class="col-xs-12 col-lg-3">
                                        <input type="text" id="txtCliente" class="input-sm form-control" placeholder="Cliente" />
                                        
                                    </div>
                                    <div class="col-xs-12 col-lg-3">
                                        <input type="text" id="txtAgente" class="input-sm form-control" placeholder="Agente" />
                                    </div>
                                    <div class="col-xs-12 col-lg-3">
                                        <div class='col-sm-12 input-group'>
                                            <div class="form-group">
                                                <div class='input-group date'>
                                                    <input type="text" id="txtFechaInicio" Onkeypress="return validaNumero(event);" class="input-sm form-control date-picker" placeholder="Fecha Inicio" />
                                                    <span class="input-group-addon">
                                                        <span class="glyphicon glyphicon-calendar"></span>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-lg-3">
                                        <div class='col-sm-12 input-group'>
                                            <div class="form-group">
                                                <div class='input-group date'>
                                                    <input type="text" id="txtFechaFin" Onkeypress="return validaNumero(event);" class="input-sm form-control date-picker" placeholder="Fecha Fin" />
                                                    <span class="input-group-addon">
                                                        <span class="glyphicon glyphicon-calendar"></span>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-lg-3">
                                        <input type="text" id="identificacionComercial" Onkeypress="return validaNumero(event);" class="input-sm form-control" placeholder="Identificación Comercial" />
                                    </div>
                                    <div class="col-xs-12 col-lg-3">
                                        <input type="text" id="unidadProduccionNombre" class="input-sm form-control" placeholder="Nombre de unidad producción" />
                                    </div>
                                </div>
                                <div class="clear"></div>
                                <div class="row">
                                    <div class="col-xs-12 col-lg-3" style="display:none">
                                        <input type="text" id="txtCodAgente" Onkeypress="return validaNumero(event);" class="input-sm form-control" placeholder="Cód Agente" />
                                    </div>
                                    <div class="col-xs-12 col-lg-2">
                                        <button id="btnBuscar" class="col-xs-12 input-sm btn btn-primary" style="height: auto;"> Buscar</button>
                                    </div>
                                    <!--<div class="col-xs-12 col-lg-2 col-lg-offset-8">-->
                                    <div class="col-xs-12 col-lg-2">
                                        <button class="col-xs-12 input-sm btn btn-secundario" onclick="$('input[type=text]').val(''), $('#cmbRamo').val('')" style="height: auto;"> Limpiar Filtros</button>
                                    </div>
                                </div>
                                <br /><br />
                                <h4 class="color_primario"><b>BÚSQUEDA GENERAL</b></h4>
                                <table id="Form" class="table" style="border: none;">
                                    <tcombo>
                                        <tr>
                                            <td style="border: none;">
                                                <input type="text" id="filter" Onkeypress="return validaLetras(event);" class="col-xs-12 input-sm form-control" placeholder="Filtro de Búsqueda." />
                                            </td>
                                            <td style="border: none;">
                                                <select class="filter-status form-control">
                                                    <option value="">Seleccione tipo estado póliza</option>
                                                    @foreach (var item in ViewData["CmbEstadosPolizas"] as IEnumerable<SelectListItem>)
                                                    {
                                                        <option value="@item.Value">@item.Text</option>
                                                    }
                                                </select>
                                            </td>

                                            <td style="border: none;">
                                                <a href="#clear" class="clear-filter btn btn-primary" title="clear filter">Ver Todos</a>
                                            </td>
                                        </tr>
                                    </tcombo>
                                </table>

                                <button name="btnEnviarCorreos" class="btn btn-primary col-lg-offset-5" onclick="EnviaCorreo();" disabled="true" id="btnEnviarCorreos">Enviar Recordatorio a Cliente</button>
                                <!--<div class="loader" style="display:none"></div>-->
                                <div id="divGrid">

                                </div>
                                <br />
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            @*PopupFirmaCompañia*@
            <div class="modal fade" id="popupFirma" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title"><span><img style="height:20px;" src="~/Imagenes/firmaElectronicaF.png" /></span> Descripción</h4>
                        </div>
                        <div class="body-content">
                            @using (Html.BeginForm("FirmaElectronicaAseguradora", "FirmaElectronica", FormMethod.Post, new { enctype = "multipart/form-data" }))
                            {
                                @Html.AntiForgeryToken()
                                <div class="col-xs-2 col-md-3 col-lg-12 row">
                                    <br />
                                    <div class="col-xs-2 col-md-3 col-lg-3">
                                        <b>Seleccione Su Archivo: </b>
                                    </div>
                                    <div class="col-xs-2 col-md-3 col-lg-5">
                                        <input type="file" name="flFirmaElectronica">
                                    </div>
                                </div>

                                <br /><br /><br />
                                <div class="col-xs-2 col-md-3 col-lg-12 row">
                                    <div class="col-xs-2 col-md-3 col-lg-3">
                                        <b>Ingrese Su Password: </b>
                                    </div>
                                    <div class="col-xs-2 col-md-3 col-lg-4">
                                        <input type="password" readonly="readonly" onfocus="this.removeAttribute('readonly');" class="form-control" name="txtPassword">
                                    </div>
                                </div>

                                <div class="clear"></div>

                                <div class="col-xs-2 col-md-3 col-lg-5 row">
                                </div>
                                <div class="col-xs-8 col-md-3 col-lg-2 row">
                                    <input type="submit" class="btn btn-primary" id="btnSubirFirma" value="Firmar" />
                                </div>
                                <div class="col-xs-2 col-md-3 col-lg-5 row">
                                </div>

                                <input type="hidden" class="form-control" id="txtIdPoliza" name="idPoliza" />
                            }
                        </div>
                        <div class="clear"></div>
                        <div>
                            <div class="panel-body">
                                <div class="panel2">
                                    <div class="row">
                                        <button type="button" class="btn btn-primary col-lg-offset-11" data-dismiss="modal">Cerrar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            @*PopupFirmaCompañia*@

            @*PopupTracking*@
            <div class="modal fade" id="popupTracking" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">

                            <h4 class="modal-title" id="tracking_poliza_titulo">Tracking Póliza</h4>
                        </div>
                        <div class="body-content" id="contenido_tracking">

                            <br />
                            <div>
                                <center>
                                    <div class="container" style="margin:25px 0;">
                                        <div class="row">
                                            <div class="col-lg-10 center-block">
                                                <div class="">
                                                    <div class="col-lg-6 col-6" style="z-index: 0; position: absolute; margin: 55px 0; margin-left:10px;">
                                                        <img src="~/Imagenes/slider/bg-timeline.jpg" class="img-responsive">
                                                    </div>
                                                    <div class="col-lg-2 col-2">
                                                        <img src="~/Imagenes/slider/paso-01-off.svg" class="img-responsive img_tracking" id="img_1_off">
                                                        <img src="~/Imagenes/slider/paso-01-on.svg" class="img-responsive img_tracking" id="img_1_on">
                                                    </div>
                                                    <div class="col-lg-2 col-2">
                                                        <img src="~/Imagenes/slider/paso-02-off.svg" class="img-responsive img_tracking" id="img_2_off">
                                                        <img src="~/Imagenes/slider/paso-02-on.svg" class="img-responsive img_tracking" id="img_2_on">
                                                    </div>
                                                    <div class="col-lg-2 col-2">
                                                        <img src="~/Imagenes/slider/paso-03-off.svg" class="img-responsive img_tracking" id="img_3_off">
                                                        <img src="~/Imagenes/slider/paso-03-on.svg" class="img-responsive img_tracking" id="img_3_on">
                                                    </div>
                                                    <!--<div class="col-lg-2 col-2">
                                                <img src="~/Imagenes/slider/paso-04-off.jpg" class="img-responsive img_tracking" id="img_4_off">
                                                <img src="~/Imagenes/slider/paso-04-on.jpg" class="img-responsive img_tracking" id="img_4_on">
                                            </div>-->
                                                    <div class="col-lg-2 col-2">
                                                        <img src="~/Imagenes/slider/paso-05-off.svg" class="img-responsive img_tracking" id="img_5_off">
                                                        <img src="~/Imagenes/slider/paso-05-on.svg" class="img-responsive img_tracking" id="img_5_on">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        
                                        @*<div>
                                            <div class="timeline-wrap">
                                                <ul class="timeline">
                                                    <li class="timeline-item mini">
                                                        <div class="p-timeline-item">
                                                            <time class="p-timeline-date" datetime="2019-05-01">Generada</time>
                                                            <span class="p-timeline-carmodel" data-car="1">Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled</span>
                                                            <div class="p-timeline-block"><img src="~/TrackingArchivos/img/documento.png" height="50" width="50"></div>
                                                            <div class="paso first">  </div>
                                                        </div>
                                                    </li>
                                                    <li class="timeline-item mini">
                                                        <div class="p-timeline-item">
                                                            <time class="p-timeline-date" datetime="2019-06-01">Firma aseguradora</time>
                                                            <span class="p-timeline-carmodel" data-car="2">Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled</span>
                                                            <div class="p-timeline-block"><img src="~/TrackingArchivos/img/firma-aseguradora.png" height="50" width="50"></div>
                                                            <div class="paso"></div>
                                                        </div>
                                                    </li>
                                                    <li class="timeline-item mini">
                                                        <div class="p-timeline-item inactivo">
                                                            <time class="p-timeline-date" datetime="2019-07-01">Firmada cliente</time>
                                                            <span class="p-timeline-carmodel " data-car="3">Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled</span>
                                                            <div class="p-timeline-block cliente"><img src="~/TrackingArchivos/img/firma-cliente.png" height="50" width="50"></div>
                                                            <div class="paso"></div>
                                                        </div>
                                                    </li>
                                                    <li class="timeline-item mini">
                                                        <div class="p-timeline-item inactivo">
                                                            <time class="p-timeline-date" datetime="2019-08-01">Aprobada SUPERCIA</time>
                                                            <span class="p-timeline-carmodel" data-car="4">Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled</span>
                                                            <div class="p-timeline-block supercias"><img src="~/TrackingArchivos/img/aprobado-supercia.png" height="50" width="50"></div>
                                                            <div class="paso last"></div>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>*@


                                    </div>
                                    <h3>Detalle de Tracking</h3>
                                    <div class="row" style="margin: 0px 10px;">
                                        <div class="col-xs-6 col-6">
                                            <table class="table">
                                                <span class="span_titulo_tabla">Póliza</span>
                                                <thead>
                                                    <tr>
                                                        <th style="text-align:center">Detalle</th>
                                                        <th style="text-align:center">Fecha y Hora</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td style="text-align:left"><div id="div_trac_1"></div>Creación</td>
                                                        <td style="text-align:center" id="trac_creacion">06/06/2019</td>
                                                    </tr>
                                                    <tr>
                                                        <td style="text-align:left"><div id="div_trac_2"></div>Firma Aseguradora</td>
                                                        <td style="text-align:center" id="trac_firmaAseguradora">06/06/2019</td>
                                                    </tr>
                                                    <!--<tr>
                                                        <td style="text-align:left">Creación de Token</td>
                                                        <td style="text-align:center" id="trac_creacionToken">06/06/2019</td>
                                                    </tr>-->
                                                    <!--<tr>
                                                        <td style="text-align:left">Notificación de Póliza para firmar</td>
                                                        <td style="text-align:center" id="trac_envioEmail">06/06/2019</td>
                                                    </tr>-->
                                                    <tr>
                                                        <td style="text-align:left"><div id="div_trac_3"></div>Firma de Cliente</td>
                                                        <td style="text-align:center" id="trac_firmaCliente">07/06/2019</td>
                                                    </tr>
                                                    <tr>
                                                        <td style="text-align:left"><div id="div_trac_5"></div>Aprobada por la SUPERCIAS</td>
                                                        <td style="text-align:center" id="trac_aceptadoSuper">08/06/2019</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <div class="col-xs-6 col-6">
                                            <table class="table">
                                                <span class="span_titulo_tabla">Usuario Firmante</span>
                                                <thead>
                                                    <tr>
                                                        <th style="text-align:center">Detalle</th>
                                                        <th style="text-align:center">Fecha y Hora</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td style="text-align:left">Registro</td>
                                                        <td style="text-align:center" id="trac_regUsuario">Jul 29 2019 9:26AM</td>
                                                    </tr>
                                                    <tr>
                                                        <td style="text-align:left">Aprobación</td>
                                                        <td style="text-align:center" id="trac_aprobUsuario">Jul 29 2019 9:26AM</td>
                                                    </tr>
                                                    <!--<tr>
                                                        <td style="text-align:left">Notificación de descarga de App</td>
                                                        <td style="text-align:center">Jul 29 2019 9:26AM</td>
                                                    </tr>-->
                                                    <tr>
                                                        <td style="text-align:left">SMS de Verificación</td>
                                                        <td style="text-align:center" id="trac_smsVerifUsuario">Jul 29 2019 9:26AM</td>
                                                    </tr>
                                                    <tr>
                                                        <td style="text-align:left">Activación de cuenta</td>
                                                        <td style="text-align:center" id="trac_autUsuario">Jul 29 2019 9:27AM</td>
                                                    </tr>
                                                    <tr>
                                                        <td style="text-align:left">Último Login</td>
                                                        <td style="text-align:center" id="trac_ultimoLogin">Jul 29 2019 9:26AM</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <div class="col-xs-12 col-12">
                                            <table class="table">
                                                <span class="span_titulo_tabla">Datos Adicionales</span>
                                                <thead>
                                                    <tr>
                                                        <th style="text-align:center">Detalle</th>
                                                        <th style="text-align:center">Datos</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td style="text-align:left">Token de Firma</td>
                                                        <td style="text-align:center; word-wrap: break-word;" id="trac_tokenFirmante">6284929</td>
                                                    </tr>
                                                    <tr>
                                                        <td style="text-align:left">Ip</td>
                                                        <td style="text-align:center" id="trac_ipUsuario">192.168.1.10</td>
                                                    </tr>
                                                    <tr>
                                                        <td style="text-align:left">Navegador</td>
                                                        <td style="text-align:center" id="trac_navegadorUsuario">Google Chrome</td>
                                                    </tr>
                                                    <tr>
                                                        <td style="text-align:left">Método genero token</td>
                                                        <td style="text-align:center" id="trac_movilUsuario">Android</td>
                                                    </tr>
                                                    <tr>
                                                        <td style="text-align:left">Primera descarga del PDF</td>
                                                        <td style="text-align:center" id="trac_primeraDescarga"></td>
                                                    </tr>
                                                    <tr>
                                                        <td style="text-align:left">Última descarga del PDF</td>
                                                        <td style="text-align:center" id="trac_ultimaDescarga"></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>

                                        <div class="col-xs-12 col-12">
                                            <table class="table">
                                                <span class="span_titulo_tabla">Datos Adicionales</span>
                                                <thead>
                                                    <tr>
                                                        <th style="text-align:center">Datos Anterior</th>
                                                        <th style="text-align:center">Datos Actualizados</th>
                                                        <th style="text-align:center">Fecha y Hora</th>
                                                        <th style="text-align:center">Modificado por</th>
                                                        <!--<th style="text-align:center">IP</th>-->
                                                    </tr>
                                                </thead>
                                                <tbody id="datamodif"></tbody>
                                            </table>
                                        </div>

                                    </div>
                                </center>
                            </div>
                            <div id="editor"></div>
                            <div>
                                <div class="panel-body">
                                    <div class="panel2 row justify-content-end" style="margin: 0 20px;">
                                        <div class="col-xs-4 col-sm-3 col-lg-2">
                                            <button type="button" class="btn btn-primary" onclick="descarGarPDF()" style="background-color: #52949e !important;border-color: #52949e !important;">Descargar</button>
                                        </div>
                                        <div class="col-xs-3 col-sm-2 col-lg-1">
                                            <button type="button" class="btn btn-primary" data-dismiss="modal">Cerrar</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            @*PopupTracking*@

                @*PopupCambiaContraseñaAseguradora*@
                <div class="modal fade" id="popupContrasenaAseguradora" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                    <div class="modal-dialog modal-md" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title" id="H1">CAMBIAR CONTRASEÑA</h4>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            </div>
                            <br />
                            @using (Html.BeginForm("CambiarContraseniaUsuarioAseguradora", "Usuario", FormMethod.Post, new { enctype = "multipart/form-data" }))
                            {
                                @Html.AntiForgeryToken()
                                <div class="" style="margin: 2.5% 50px">
                                    <!--<div class="row justify-content-center">
                                        <div class="col-xs-6">
                                            Ingrese Su Identificación:
                                        </div>
                                        <div class="col-xs-6">
                                            <input type="number" name="txtIdentificacion" Onkeypress="return validaNumero(event);" class="form-control">
                                        </div>
                                    </div>
                                    <div class="clear"></div>-->
                                    <div class="row">
                                        <div class="col-xs-6">
                                            Contraseña Actual:
                                        </div>
                                        <div class="col-xs-6">
                                            <input type="password" name="txtPasswordAct" readonly="readonly" Onkeypress="return validaLetras(event);" onfocus="this.removeAttribute('readonly');" class="form-control">
                                        </div>
                                    </div>
                                    <div class="clear"></div>
                                    <div class="row">
                                        <div class="col-xs-6">
                                            Nueva Contraseña:
                                        </div>
                                        <div class="col-xs-6">
                                            <input type="password" name="txtPasswordNue" readonly="readonly" Onkeypress="return validaLetras(event);" onfocus="this.removeAttribute('readonly');" class="form-control">
                                        </div>
                                    </div>
                                    <div class="clear"></div>
                                    <div class="row">
                                        <div class="col-xs-6">
                                            Confirmar Nueva Contraseña:
                                        </div>
                                        <div class="col-xs-6">
                                            <input type="password" name="txtPasswordConf" readonly="readonly" Onkeypress="return validaLetras(event);" onfocus="this.removeAttribute('readonly');" class="form-control">
                                        </div>
                                    </div>
                                </div>
                                <br /><br />
                                <div class="container container-fluid">
                                    <div class="row justify-content-center">
                                        <div class="col-xs-12 text-red">
                                            * No ingrese carácteres especiales
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <div class="panel-body">
                                        <div class="panel2">
                                            <div class="row justify-content-center" style="margin: 0 5px;">
                                                <div class="col-xs-5">
                                                    <button type="submit" class="btn btn-secundario">Cambiar Contraseña</button>
                                                </div>
                                                <div class="col-xs-5">
                                                    <button type="button" class="btn btn-primary" data-dismiss="modal">Cerrar</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
                @*PopupCambiaContraseñaAseguradora*@


                @*Popup Alerta*@
                <div class="modal fade" id="popupAlerta" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                    <div class="modal-dialog modal-sm" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title" id="H1"><span></span>MENSAJE</h4>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            </div>

                            <div class="row">
                                <div id="div_mensaje" class="col-xs-12" style="font-size: 15px; text-align: center; padding: 20px; margin-top:2px;">
                                    Mensaje
                                </div>
                                <div class="clear"></div>
                            </div>
                            <div>
                                <div class="panel-body">
                                    <div class="panel2">
                                        <div class="row">
                                            <div id="div_mensaje" class="col-xs-12" style="text-align: right">
                                                <button type="button" class="btn btn-primary" data-dismiss="modal">Cerrar</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                @*Popup Alerta*@

                @*Popup Detalles Error*@
                <div class="modal fade" id="popupError" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                    <div class="modal-dialog modal-lg" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title"><span><img style="height:30px;" src="~/Imagenes/AlertIco.png" /></span>  Descripción Del Error</h4>
                            </div>
                            <div>
                                <label id="ErrorDetalle" style="font-family:Arial; font-size:14px; padding:10px 20px;"></label>
                            </div>

                            <div>
                                <div class="panel-body">
                                    <div class="panel2">
                                        <div class="row">
                                            <button type="button" class="btn btn-primary col-lg-offset-11" data-dismiss="modal">Cerrar</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                @*Popup Detalles Error*@


                @*Popup PDF*@
                <div class="modal fade" id="popupPDF" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                    <div class="modal-dialog modal-md" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title">PDF</h4>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            </div>
                            <div>
                                <div style="text-align:center">
                                    <label style="font-family:Arial; font-size:14px; padding:10px 20px; text-align:left" id="pdfModalLista">
                                    </label>
                                </div>
                            </div>

                            <div>
                                <div class="panel-body" style="padding-right: 10px">
                                    <div class="panel2">
                                        <div class="row justify-content-end">
                                            <div class="col-4">
                                                <button type="button" class="btn btn-primary" data-dismiss="modal">Cerrar</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                @*Popup PDF*@

</section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
    <!--<footer class="main-footer">
        <div class="pull-right hidden-xs">
        </div>
        Copyright &copy; @DateTime.Now.Year Ecuatoriano Suiza - Desarrollado por <img src="~/Imagenes/viamatica.png" style="height:20px;">
    </footer>-->
    <div class="control-sidebar-bg"></div>
</div>

<input type="hidden" id="txtXML" name="txtXML" />

<script>
    //Llena Grid

    $("#txtCliente").keypress(function () {
        var nombre = $("#txtCliente").val();
        if (nombre.length > 3 ) {
            $("#txtCliente").autocomplete({
                source: function (request, response) {
                    $.ajax({
                        url: "/Usuario/Autocomplete",
                        type: "POST",
                        dataType: "json",
                        data: { 'nombre': $("#txtCliente").val() },
                        success: function (data) {

                            response($.map(data, function (data) {
                                return data;
                            }));
                        }
                    })
                },
                messages: {
                    noResults: "", results: ""
                }
            });
        }
    });

    $('#btnBuscar').click(function () {
        $(".loader").css("display", "block");

        try{

            var poliza = $("#txtPoliza").val();
            var Endoso = $("#txtEndoso").val();
            var IdentificacionCliente = $("#txtIdentificacionCliente").val();
            var Cliente = $("#txtCliente").val();
            var Agente = $("#txtAgente").val();
            var CodAgente = $("#txtCodAgente").val();
            var ramo = $("#cmbRamo").val();
            var FechaInicio = $("#txtFechaInicio").val();
            var FechaFin = $("#txtFechaFin").val();

            var identificacionComercial = $("#identificacionComercial").val();
            var unidadProduccionNombre = $("#unidadProduccionNombre").val();

            if (comprobarFecha())
            {
                $.ajax({
                    url: '/Usuario/CargarGrid',
                    type: "POST",
                    dataType: "html",
                    cache: false,
                    data: {
                        'txtPoliza': poliza,
                        'txtEndoso': Endoso,
                        'txtCliente': Cliente,
                        'txtIdentificacionCliente': IdentificacionCliente,
                        'txtAgente': Agente,
                        'txtCodAgente': CodAgente,
                        'cmbRamo': ramo,
                        'txtFechaInicio': FechaInicio,
                        'txtFechaFin': FechaFin,
                        'identificacionComercial': identificacionComercial,
                        'unidadProduccionNombre': unidadProduccionNombre
                    },
                    success: function (data) {
                        $('#divGrid').html(data);
                        $(".loader").css("display", "none");
                    },
                    error: function (ex) {
                        //alert('Error En La Comunicación: ' + ex);
                        alertaFlotante("error", 'Error En La Comunicación');
                    },
                    complete: function () {
                        $(".loader").css("display", "none");
                    }
                });
            }
            else $(".loader").css("display", "none");
        } catch (ex) {
            $(".loader").css("display", "none");
        }
    });

    function MensajeSistema(tipo, mensaje) {
        //'error|success|warning|info', // Any of the following
        Lobibox.alert(tipo, {
            msg: mensaje
        });
    }

    function LlenaPopupPDF(listaPDF) {
        $("#pdfModalLista").html("");
        var IMGpdf = "/Imagenes/logo_pdf.png";
        IMGpdf = "<img src='" + IMGpdf + "' style='width:30px;heigth:30px'/> ";

        PDFdivision = listaPDF.split("#");
        listaPDF = PDFdivision['1'].split("|");

        $.each(listaPDF, function (key, value) {
            //alert(key + ": " + value);
            $("#pdfModalLista").append("<div><a href='#' onclick='descargarPDFAseg(\"" + PDFdivision[0] + "#" + value + "\")'>" + IMGpdf + value + "</a></div>");

        });
        //$("#pdfModalLista").html(IMGpdf + "Texto prueba<br/>");
        $('#popupPDF').modal('toggle');
    }

    function descargarPDFAseg(arregloString) {
        var arreglo = arregloString.split("#");
        /*$("#estadoPDF").val(arreglo[0]);
        $("#nombrePDF").val(arreglo[1]);

        $('#botonPDF').click();*/
        //console.log(arregloString);
        $(".loader").css("display", "block");
        try {
            $.ajax({
                url: '/Usuario/DescargarPDFAseg_r/',
                //url: '/Usuario/DescargarPDFFirmadoPoliza_Aseg/',
                type: 'POST',
                dataType: 'json',
                data: {
                    'txNombre': arreglo[1],
                    'txEstado': arreglo[0]
                },
                success: function (mensaje) {
                    if (mensaje.respuesta != "") alertaFlotante("error", mensaje.respuesta);
                    else {
                        descargarBase64(arreglo[1], mensaje.byte);
                    }
                },
                error: function () {
                    //alert('Error En La Comunicación');
                    //mostrarMensaje('Error En La Comunicación');
                    alertaFlotante("error", 'Error En La Comunicación');
                },
                complete: function () {
                    $(".loader").css("display", "none");
                }
            });
        } catch (ex) {
            alertaFlotante("error", 'Ocurrio un error');
            $(".loader").css("display", "none");
        }
    }

    function descargarBase64(name, pdf) {
        var url = 'data:application/pdf;base64,' + pdf;

        //document.location.href = url;
        //window.open("data:application/pdf;base64," + pdf);
        const linkSource = 'data:application/pdf;base64,' + pdf;
        const downloadLink = document.createElement("a");
        const fileName = name;

        downloadLink.href = linkSource;
        downloadLink.download = fileName;
        downloadLink.click();
    }

    function MostrarNotificacionEsquinera(tipo, mensaje) {
        // Available types 'warning', 'info', 'success', 'error'
        Lobibox.notify(tipo, {
            size: 'mini',
            rounded: true,
            delayIndicator: false,
            msg: mensaje
        });
    }

</script>

<script type="text/javascript">
    function descarGarPDF() {
        var mywindow = window.open('', 'PRINT', 'height=600,width=800');
        mywindow.document.write('<html><head>');
        mywindow.document.write('<style>');
        $("style").each(function () {
            mywindow.document.write($(this).html());
        });
        mywindow.document.write('img{width: 150px; margin: 0 20px}.col-2{display: inline-block !important}button{display:none !important}');
        mywindow.document.write('</style>');
        mywindow.document.write('</head><body>');
        mywindow.document.write($('#contenido_tracking').html());
        mywindow.document.write('</body></html>');
        mywindow.document.close(); // necesario para IE >= 10
        $("head link").each(function () {
            var css = mywindow.document.createElement("link");
            css.setAttribute("href", $(this).attr('href'));
            css.setAttribute("rel", "stylesheet");
            css.setAttribute("type", "text/css");
            mywindow.document.head.appendChild(css);
        });

        $("head script").each(function () {
            var css = mywindow.document.createElement("script");
            css.setAttribute("src", $(this).attr('src'));
            css.setAttribute("type", "text/javascript");
            mywindow.document.head.appendChild(css);
        });
        mywindow.focus(); // necesario para IE >= 10
        mywindow.print();
        mywindow.close();
        return true;
    }

    /*function LlenarTracking(creacion, firmaAseguradora, creacionToken, envioEmail, firmaCliente, envioSuper, aceptadoSuper, numPoliza, tokenFirmante) {

        $("#img_1_on").hide(); $("#img_2_on").hide(); $("#img_3_on").hide(); $("#img_4_on").hide(); $("#img_5_on").hide();
        $("#img_1_off").show(); $("#img_2_off").show(); $("#img_3_off").show(); $("#img_4_off").show(); $("#img_5_off").show();
        $("#div_trac_1").attr("class", ""); $("#div_trac_2").attr("class", ""); $("#div_trac_3").attr("class", ""); $("#div_trac_4").attr("class", ""); $("#div_trac_5").attr("class", "");
        cont_pos = 0;

        $("#tracking_poliza_titulo").html("Tracking Póliza #" + numPoliza);

        $("#trac_creacion").html(creacion);
        $("#trac_firmaAseguradora").html(firmaAseguradora);
        $("#trac_creacionToken").html(creacionToken);
        $("#trac_envioEmail").html(envioEmail);
        $("#trac_firmaCliente").html(firmaCliente);
        $("#trac_envioSuper").html(envioSuper);
        $("#trac_aceptadoSuper").html(aceptadoSuper);

        $("#trac_tokenFirmante").html(tokenFirmante);

        if (aceptadoSuper != "") cont_pos = 5;
        else {
            if (envioSuper != "") cont_pos = 4;
            else {
                if (firmaCliente != "") cont_pos = 3;
                else {
                    if (firmaAseguradora != "") cont_pos = 2;
                    else if (creacion != "") cont_pos = 1;
                }
            }
        }
        while (cont_pos > 0) {
            $("#img_" + cont_pos + "_on").show();
            $("#div_trac_" + cont_pos).attr("class", "punto_verde_tracking");
            $("#img_" + cont_pos + "_off").hide();
            cont_pos = cont_pos - 1;
        }

        $('#popupTracking').modal('toggle');
    }*/
    function LlenarTracking(creacion, firmaAseguradora, creacionToken, firmaCliente, aceptadoSuper, numPoliza, regUsuario, aprobUsuario, smsVerifUsuario, autUsuario, utimoLogin, tokenFirmante, ipUsuario, navegadorUsuario, movilUsuario, primeraDescarga, ultimaDescarga, listmodificacionU) {

        $("#img_1_on").hide(); $("#img_2_on").hide(); $("#img_3_on").hide(); $("#img_4_on").hide(); $("#img_5_on").hide();
        $("#img_1_off").show(); $("#img_2_off").show(); $("#img_3_off").show(); $("#img_4_off").show(); $("#img_5_off").show();
        $("#div_trac_1").attr("class", ""); $("#div_trac_2").attr("class", ""); $("#div_trac_3").attr("class", ""); $("#div_trac_4").attr("class", ""); $("#div_trac_5").attr("class", "");
        cont_pos = 0;

        $("#tracking_poliza_titulo").html("Tracking Póliza #" + numPoliza);

        $("#trac_creacion").html(creacion);
        $("#trac_firmaAseguradora").html(firmaAseguradora);
        $("#trac_creacionToken").html(creacionToken);
        //$("#trac_envioEmail").html(envioEmail);
        $("#trac_firmaCliente").html(firmaCliente);
        //$("#trac_envioSuper").html(envioSuper);
        $("#trac_aceptadoSuper").html(aceptadoSuper);

        $("#trac_regUsuario").html(regUsuario);
        $("#trac_aprobUsuario").html(aprobUsuario);
        $("#trac_smsVerifUsuario").html(smsVerifUsuario);
        $("#trac_autUsuario").html(autUsuario);
        $("#trac_ultimoLogin").html(utimoLogin);

        $("#trac_tokenFirmante").html(tokenFirmante);
        $("#trac_ipUsuario").html(ipUsuario);
        $("#trac_navegadorUsuario").html(navegadorUsuario);
        $("#trac_movilUsuario").html(movilUsuario);

        $("#trac_primeraDescarga").html(primeraDescarga);
        $("#trac_ultimaDescarga").html(ultimaDescarga);

        if (aceptadoSuper != "") cont_pos = 5;
        else {
            if (aceptadoSuper != "") cont_pos = 4;
            else {
                if (firmaCliente != "") cont_pos = 3;
                else {
                    if (firmaAseguradora != "") cont_pos = 2;
                    else if (creacion != "") cont_pos = 1;
                }
            }
        }
        while (cont_pos > 0) {
            $("#img_" + cont_pos + "_on").show();
            $("#div_trac_" + cont_pos).attr("class", "punto_verde_tracking");
            $("#img_" + cont_pos + "_off").hide();
            cont_pos = cont_pos - 1;
        }

        var data = JSON.parse(listmodificacionU);
        $("#datamodif").html("");

        $.each(data, function (index, value) {
            $("#datamodif").append('<tr>' +
                '<td style="text-align:left"><b>Email:</b> ' + value.emailanterior + '<br/><b>Celular:</b> ' + value.telefonoanterior + '</td><td style="text-align:center; word-wrap: break-word;"><b>Email:</b> ' + value.emailnuevo + '<br/><b>Celular:</b> ' + value.telefononuevo + '</td>' +
                '<td style="text-align:left">' + value.horafechamodificacion + '</td><td style="text-align:center; word-wrap: break-word;">' + value.usuariomodificacion + '</td>' +
                //'<td style="text-align:center; word-wrap: break-word;">' + value.ipmodificacion + '</td>' +
            '</tr>')
        });

        $('#popupTracking').modal('toggle');
    }
</script>

<script>
    $(document).ready(function () {
        $('input').on("change", function () {
            var parametros = CadenaCheckSeleccionados('frmGrid');
            if (parametros != "") {
                //$('#btnEnviarCorreos').attr("disabled", "false");
                $('#btnEnviarCorreos').removeAttr("disabled");
            } else {
                $('#btnEnviarCorreos').attr("disabled", "true");
            }
        });
    });
</script>