﻿@model PolizasElectronicas.Models.ModelsView.ClienteListViewModels
@{
    Layout = "~/Views/Shared/_LayoutAseguradora.cshtml";
}

<link href="~/CSS/JqGrid/ui.jqgrid.css" rel="stylesheet" />
<link href="~/CSS/JqGrid/ui.jqgrid-bootstrap.css" rel="stylesheet" />
<link href="~/CSS/jQuery/jquery-ui.css" rel="stylesheet" />

<link href="~/CSS/AdminLTE.css" rel="stylesheet" />
<link href="~/CSS/AdminLTE.min.css" rel="stylesheet" />
<link href="~/CSS/BootStrap/css/bootstrap.css" rel="stylesheet" />
<link href="~/CSS/JqGrid/jquery-ui-timepicker-addon.css" rel="stylesheet" />
<link href="~/CSS/EstilosPolizas.css" rel="stylesheet" />

<link href="~/CSS/Footable/footable.core.css" rel="stylesheet" />
<link href="~/CSS/Footable/footable.metro.css" rel="stylesheet" />
<link href="~/CSS/Footable/bootstrap-glyphicons.css" rel="stylesheet" />
<link href="~/CSS/Footable/footable-demos.css" rel="stylesheet" />
<link href="~/CSS/Footable/bootstrap-glyphicons.css" rel="stylesheet" />


<script src="~/scripts/jQuery/jquery-ui.js"></script>
<script src="~/scripts/jQuery/jquery.js"></script>
<script src="~/scripts/jQGrid/jquery.jqGrid.js"></script>
<script src="~/scripts/BootStrap/bootstrap.js"></script>
<script src="~/scripts/BootStrap/bootstrap.min.js"></script>
<script src="~/scripts/Validaciones.js"></script>
<script src="~/scripts/jQGrid/bootstrap-datepicker.js"></script>
@*Tablas Responsive*@

<script src="~/scripts/FooTable/footable.js"></script>
<script src="~/scripts/FooTable/footable.paginate.js"></script>
<script src="~/scripts/FooTable/bootstrap-tab.js"></script>
<script src="~/scripts/FooTable/demos.js"></script>
<script src="~/scripts/FooTable/footable.filter.js"></script>

@if (ViewData["MensajeError"] != null)
{
    <script>
            alert('@ViewData["MensajeError"].ToString()');
    </script>
}
<div class="body-content" style="width: 100%">

    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div>
                    <div class="box-header">
                        <h4>Información de Clientes</h4>
                        <div style="width:100%;">
                            <table id="Form" class="table" style="border: none;">
                                <tcombo>
                                    <tr>
                                        <td style="border: none;">
                                            <input type="text" id="filter" class="col-xs-12 input-sm" placeholder="Filtro de búsqueda" />
                                        </td>
                                        <td style="border: none;">
                                            <a href="#clear" class="clear-filter btn btn-primary" title="clear filter">Limpiar filtros</a>
                                        </td>
                                    </tr>
                                </tcombo>
                            </table>
                        </div>
                        <div id="demo">
                            <table class="table demo" data-page-size="6" data-paging="true" data-filter="#filter" data-filter-text-only="true">
                                <thead>
                                <thead>
                                    <tr>
                                        <th style="text-align:center" data-hide="phone,tablet">Cliente</th>
                                        <th style="text-align:center" data-hide="phone,tablet">Identificación</th>
                                        <th style="text-align:center" data-hide="phone,tablet">Email</th>
                                        <th style="text-align:center" data-hide="phone,tablet">Dirección</th>
                                        <th style="text-align:center" data-hide="phone,tablet">Número conexiones</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.objClienteListViewModels)
                                    {
                                        <tr>
                                            <td>@item.NombreCliente</td>
                                            <td>@item.Identificacion</td>
                                            <td>@item.Email</td>
                                            <td>@item.Direccion</td>
                                            <td style="text-align:center">@item.NumeroLogoneo</td>
                                        </tr>
                                    }
                                </tbody>
                                <tfoot class="hide-if-no-paging">
                                    <tr>
                                        <td colspan="8">
                                            <center class="hide-if-no-paging">
                                                <div class="pagination pagination-centered"></div>
                                            </center>
                                        </td>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                    <!-- /.box-header -->
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
            </div>
            <!-- /.col -->
        </div>
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->
<!--<footer class="main-footer">
    <div class="pull-right hidden-xs">
    </div>
    Copyright &copy; 2018 - Desarrollado por <img src="~/Imagenes/viamatica.png" style="height:20px;">
</footer>
<div class="control-sidebar-bg"></div>-->

@*PopupCambiaContraseñaAseguradora*@
<div class="modal fade" id="popupContrasenaAseguradora" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="H1">CAMBIAR CONTRASEÑA</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <br />
            @using (Html.BeginForm("CambiarContraseniaUsuarioAseguradora", "Usuario", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                @Html.AntiForgeryToken()
                <div class="" style="margin: 2.5% 50px">
                    <!--<div class="row justify-content-center">
                        <div class="col-xs-6">
                            Ingrese Su Identificación:
                        </div>
                        <div class="col-xs-6">
                            <input type="number" name="txtIdentificacion" Onkeypress="return validaNumero(event);" class="form-control">
                        </div>
                    </div>
                    <div class="clear"></div>-->
                    <div class="row">
                        <div class="col-xs-6">
                            Contraseña Actual:
                        </div>
                        <div class="col-xs-6">
                            <input type="password" name="txtPasswordAct" readonly="readonly" Onkeypress="return validaLetras(event);" onfocus="this.removeAttribute('readonly');" class="form-control">
                        </div>
                    </div>
                    <div class="clear"></div>
                    <div class="row">
                        <div class="col-xs-6">
                            Nueva Contraseña:
                        </div>
                        <div class="col-xs-6">
                            <input type="password" name="txtPasswordNue" readonly="readonly" Onkeypress="return validaLetras(event);" onfocus="this.removeAttribute('readonly');" class="form-control">
                        </div>
                    </div>
                    <div class="clear"></div>
                    <div class="row">
                        <div class="col-xs-6">
                            Confirmar Nueva Contraseña:
                        </div>
                        <div class="col-xs-6">
                            <input type="password" name="txtPasswordConf" readonly="readonly" Onkeypress="return validaLetras(event);" onfocus="this.removeAttribute('readonly');" class="form-control">
                        </div>
                    </div>
                </div>
                                <br /><br />
                                <div class="container container-fluid">
                                    <div class="row justify-content-center">
                                        <div class="col-xs-12 text-red">
                                            * No ingrese carácteres especiales
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <div class="panel-body">
                                        <div class="panel2">
                                            <div class="row justify-content-center" style="margin: 0 5px;">
                                                <div class="col-xs-5">
                                                    <button type="submit" class="btn btn-secundario">Cambiar Contraseña</button>
                                                </div>
                                                <div class="col-xs-5">
                                                    <button type="button" class="btn btn-primary" data-dismiss="modal">Cerrar</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
            }
        </div>
    </div>
</div>
@*PopupCambiaContraseñaAseguradora*@

<script type="text/javascript">
    $(function () {
        //Para DropDownL
        $('table').footable().bind('footable_filtering', function (e) {
            var selected = $('.filter-status').find(':selected').text();
            if (selected && selected.length > 0 && selected != "Seleccione tipo estado póliza") {
                e.filter += (e.filter && e.filter.length > 0) ? ' ' + selected : selected;
                e.clear = !e.filter;
            }
        });
        $('.clear-filter').click(function (e) {
            e.preventDefault();
            $('.filter-status').val('');
            $('table.demo').trigger('footable_clear_filter');
        });

        $('.filter-status').change(function (e) {
            e.preventDefault();
            $('table.demo').trigger('footable_filter', { filter: $('#filter').val() });
        });
    });
</script>

<script type="text/javascript">
    $(function () {
		$('table').footable();

		$('.footable').data('limit-navigation', 15);
		$('.footable').trigger('footable_initialized');
    });
</script>
